workflows/production/social-pulse/wf3-competitor-monitor.json
{
  "name": "SocialPulse WF3: Competitor Monitor",
  "nodes": [
    {
      "id": "wf3-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        460
      ],
      "webhookId": "socialpulse-competitor",
      "parameters": {
        "path": "socialpulse-competitor",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "wf3-dual-trigger",
      "name": "Dual-Trigger Pruefung",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        520,
        460
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-config",
              "leftValue": "={{ $json.body.config }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "wf3-read-konfig",
      "name": "Konfig aus Sheet lesen",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        780,
        620
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gw0DIdDENFkpE7ZW",
          "name": "Google Sheets account"
        }
      },
      "parameters": {
        "operation": "read",
        "documentId": {
          "mode": "url",
          "value": "={{ $json.body.sheet_url ?? 'GOOGLE_SHEET_URL_PLACEHOLDER' }}"
        },
        "sheetName": {
          "mode": "name",
          "value": "Konfig"
        },
        "options": {
          "range": "A:B"
        }
      }
    },
    {
      "id": "wf3-read-competitors",
      "name": "Wettbewerber aus Sheet lesen",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1040,
        620
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gw0DIdDENFkpE7ZW",
          "name": "Google Sheets account"
        }
      },
      "parameters": {
        "operation": "read",
        "documentId": {
          "mode": "url",
          "value": "={{ $('Konfig aus Sheet lesen').first().json.sheet_url ?? 'GOOGLE_SHEET_URL_PLACEHOLDER' }}"
        },
        "sheetName": {
          "mode": "name",
          "value": "Wettbewerber"
        },
        "options": {
          "range": "A:E"
        }
      }
    },
    {
      "id": "wf3-merge-config",
      "name": "Konfig zusammenfuehren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        460
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Merge config from Master or Sheet reads (same pattern as WF1)\nconst webhookData = $('Webhook Trigger').first().json.body;\n\nlet config = {};\nlet competitors = [];\n\nif (webhookData && webhookData.config) {\n  // Master provided config + competitors\n  config = webhookData.config;\n  competitors = webhookData.competitors || [];\n} else {\n  // Standalone: build config from Sheet rows\n  const konfigRows = $('Konfig aus Sheet lesen').all();\n  for (const row of konfigRows) {\n    const key = row.json['Einstellung'] || row.json['einstellung'];\n    const val = row.json['Wert'] || row.json['wert'];\n    if (key) config[key] = val;\n  }\n\n  // Parse competitors from Sheet\n  const compRows = $('Wettbewerber aus Sheet lesen').all();\n  competitors = compRows\n    .map(r => r.json)\n    .filter(c => String(c['Aktiv'] || c['aktiv']).toUpperCase() === 'TRUE');\n}\n\n// Parse active platforms\nconst activePlatforms = (config.active_platforms || '')\n  .split(',')\n  .map(p => p.trim().toLowerCase())\n  .filter(p => p.length > 0);\n\n// Calendar week\nconst now = new Date();\nconst startOfYear = new Date(now.getFullYear(), 0, 1);\nconst days = Math.floor((now - startOfYear) / (24 * 60 * 60 * 1000));\nconst calendarWeek = Math.ceil((days + startOfYear.getDay() + 1) / 7);\n\nreturn [{\n  json: {\n    config,\n    competitors,\n    activePlatforms,\n    calendarWeek,\n    year: now.getFullYear(),\n    projectName: config.project_name || 'unknown',\n    brandName: config.brand_name || '',\n    brandDescription: config.brand_description || '',\n    branche: config.branche || config.brand_description || '',\n    timestamp: now.toISOString()\n  }\n}];"
      }
    },
    {
      "id": "wf3-competitor-dispatcher",
      "name": "Competitor Dispatcher",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        460
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Creates 1 item per competitor-platform pair, filtered by active platforms.\n// Max 3 competitors per platform x 6 platforms = 18 items.\nconst input = $input.first().json;\nconst { config, competitors, activePlatforms, calendarWeek, year, projectName, brandName, brandDescription, branche, timestamp } = input;\n\n// Initialize global static data for result accumulation\nconst staticData = $getWorkflowStaticData('global');\nstaticData.results = [];\nstaticData.errors = [];\nstaticData.analyses = [];\nstaticData.startedAt = new Date().toISOString();\n\nconst items = [];\n\nfor (const comp of competitors) {\n  const platform = (comp['Plattform'] || comp['plattform'] || '').toLowerCase();\n  const name = comp['Name'] || comp['name'] || '';\n  const url = comp['Account-URL'] || comp['account_url'] || comp['Account-Url'] || '';\n  const accountId = comp['Account-ID'] || comp['account_id'] || '';\n\n  // Skip if platform not active\n  if (!activePlatforms.includes(platform)) continue;\n\n  // Skip if missing essential data\n  if (!name || !url) {\n    staticData.errors.push({\n      competitor: name || 'unbekannt',\n      platform,\n      error: 'Name oder Account-URL fehlt im Wettbewerber-Tab',\n      timestamp: new Date().toISOString()\n    });\n    continue;\n  }\n\n  items.push({\n    json: {\n      competitorName: name,\n      platform,\n      accountUrl: url,\n      accountId,\n      calendarWeek,\n      year,\n      projectName,\n      brandName,\n      brandDescription,\n      branche,\n      config,\n      timestamp\n    }\n  });\n}\n\nif (items.length === 0) {\n  return [{ json: { _empty: true, _skip: true, message: 'Keine aktiven Wettbewerber gefunden — Workflow beendet', calendarWeek, year, projectName, timestamp } }];\n}\n\nreturn items;"
      }
    },
    {
      "id": "wf3-split-batches",
      "name": "Competitor-Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1300,
        460
      ],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "wf3-platform-switch",
      "name": "Plattform Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [
        1560,
        460
      ],
      "parameters": {
        "mode": "rules",
        "rules": {
          "rules": [
            {
              "outputKey": "instagram",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "instagram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "outputKey": "facebook",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "facebook",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "outputKey": "tiktok",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "tiktok",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "outputKey": "linkedin",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "linkedin",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "outputKey": "youtube",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "youtube",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "outputKey": "x_twitter",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "x_twitter",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "wf3-apify-ig",
      "name": "Apify IG Posts",
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        1820,
        140
      ],
      "credentials": {
        "apifyApi": {
          "id": "wWgQDWC9aV3UcUEJ",
          "name": "Apify MN1975"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 15000,
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "mode": "id",
          "value": "apify/instagram-post-scraper"
        },
        "customBody": "={{ JSON.stringify({ directUrls: [$json.accountUrl], resultsLimit: 20, addParentData: true }) }}"
      }
    },
    {
      "id": "wf3-apify-fb",
      "name": "Apify FB Posts",
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        1820,
        300
      ],
      "credentials": {
        "apifyApi": {
          "id": "wWgQDWC9aV3UcUEJ",
          "name": "Apify MN1975"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 15000,
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "mode": "id",
          "value": "apify/facebook-posts-scraper"
        },
        "customBody": "={{ JSON.stringify({ startUrls: [{ url: $json.accountUrl }], resultsLimit: 20 }) }}"
      }
    },
    {
      "id": "wf3-apify-tt",
      "name": "Apify TT Posts",
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        1820,
        460
      ],
      "credentials": {
        "apifyApi": {
          "id": "wWgQDWC9aV3UcUEJ",
          "name": "Apify MN1975"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 15000,
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "mode": "id",
          "value": "clockworks/tiktok-scraper"
        },
        "customBody": "={{ JSON.stringify({ profiles: [$json.accountUrl], resultsPerPage: 20, shouldDownloadVideos: false }) }}"
      }
    },
    {
      "id": "wf3-apify-li",
      "name": "Apify LI Posts",
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        1820,
        620
      ],
      "credentials": {
        "apifyApi": {
          "id": "wWgQDWC9aV3UcUEJ",
          "name": "Apify MN1975"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 15000,
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "mode": "id",
          "value": "anchor/linkedin-post-scraper"
        },
        "customBody": "={{ JSON.stringify({ urls: [$json.accountUrl], maxResults: 20 }) }}"
      }
    },
    {
      "id": "wf3-apify-yt",
      "name": "Apify YT Posts",
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        1820,
        780
      ],
      "credentials": {
        "apifyApi": {
          "id": "wWgQDWC9aV3UcUEJ",
          "name": "Apify MN1975"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 15000,
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "mode": "id",
          "value": "bernardo/youtube-scraper"
        },
        "customBody": "={{ JSON.stringify({ startUrls: [{ url: $json.accountUrl }], maxResults: 20, extendOutputFunction: '' }) }}"
      }
    },
    {
      "id": "wf3-apify-x",
      "name": "Apify X Posts",
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        1820,
        940
      ],
      "credentials": {
        "apifyApi": {
          "id": "wWgQDWC9aV3UcUEJ",
          "name": "Apify MN1975"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 15000,
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "mode": "id",
          "value": "apidojo/tweet-scraper"
        },
        "customBody": "={{ JSON.stringify({ startUrls: [{ url: $json.accountUrl }], maxTweets: 20, includeReplies: false }) }}"
      }
    },
    {
      "id": "wf3-parse-ig",
      "name": "Parse IG",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        140
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst platformInfo = $('Plattform Switch').first().json;\nconst { competitorName, platform, accountUrl, calendarWeek, year, projectName } = platformInfo;\n\ntry {\n  const items = $input.all();\n  if (!items || items.length === 0 || items[0].json?.error) {\n    throw new Error(items[0]?.json?.error || 'Keine Daten von Apify erhalten');\n  }\n\n  const posts = items.map(i => i.json).filter(p => p.likesCount !== undefined || p.likes !== undefined);\n  if (posts.length === 0) throw new Error('Keine Posts gefunden');\n\n  // Get follower count from parent data or first item\n  const followers = posts[0]?.ownerFollowerCount || posts[0]?.followersCount || 0;\n\n  // Sort by engagement (likes + comments)\n  const sorted = [...posts].sort((a, b) => {\n    const engA = (a.likesCount || a.likes || 0) + (a.commentsCount || a.comments || 0);\n    const engB = (b.likesCount || b.likes || 0) + (b.commentsCount || b.comments || 0);\n    return engB - engA;\n  });\n\n  // Top 3 posts\n  const top3 = sorted.slice(0, 3).map(p => ({\n    url: p.url || p.shortCode ? `https://instagram.com/p/${p.shortCode}` : '',\n    text: (p.caption || '').substring(0, 500),\n    likes: p.likesCount || p.likes || 0,\n    comments: p.commentsCount || p.comments || 0,\n    shares: 0,\n    engagement: (p.likesCount || p.likes || 0) + (p.commentsCount || p.comments || 0),\n    date: p.timestamp || p.takenAtTimestamp || '',\n    type: p.videoViewCount ? 'video' : p.carouselMediaCount ? 'carousel' : 'image'\n  }));\n\n  // Extract comments from top posts (if available)\n  const topComments = [];\n  for (const p of sorted.slice(0, 3)) {\n    const comments = p.latestComments || p.comments_list || [];\n    for (const c of comments.slice(0, 7)) {\n      topComments.push({\n        text: c.text || c.comment || '',\n        likes: c.likesCount || c.likes || 0,\n        postUrl: p.url || ''\n      });\n    }\n  }\n\n  // Calculate averages\n  const totalLikes = posts.reduce((s, p) => s + (p.likesCount || p.likes || 0), 0);\n  const totalComments = posts.reduce((s, p) => s + (p.commentsCount || p.comments || 0), 0);\n  const avgLikes = posts.length > 0 ? totalLikes / posts.length : 0;\n  const avgComments = posts.length > 0 ? totalComments / posts.length : 0;\n  const engagementRate = followers > 0 ? ((avgLikes + avgComments) / followers * 100) : 0;\n\n  const result = {\n    competitorName, platform, accountUrl, followers,\n    postsScraped: posts.length,\n    avgLikes: Math.round(avgLikes * 100) / 100,\n    avgComments: Math.round(avgComments * 100) / 100,\n    avgShares: 0,\n    engagementRate: Math.round(engagementRate * 10000) / 10000,\n    topPosts: top3,\n    topComments: topComments.slice(0, 20),\n    calendarWeek, year, projectName,\n    status: 'ok'\n  };\n\n  return [{ json: result }];\n} catch (error) {\n  const errEntry = {\n    competitorName, platform, calendarWeek, year, projectName,\n    error: error.message, status: 'error'\n  };\n  staticData.errors.push(errEntry);\n  return [{ json: errEntry }];\n}"
      }
    },
    {
      "id": "wf3-parse-fb",
      "name": "Parse FB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst platformInfo = $('Plattform Switch').first().json;\nconst { competitorName, platform, accountUrl, calendarWeek, year, projectName } = platformInfo;\n\ntry {\n  const items = $input.all();\n  if (!items || items.length === 0 || items[0].json?.error) {\n    throw new Error(items[0]?.json?.error || 'Keine Daten von Apify erhalten');\n  }\n\n  const posts = items.map(i => i.json).filter(p => p.text !== undefined || p.message !== undefined);\n  if (posts.length === 0) throw new Error('Keine Posts gefunden');\n\n  const followers = posts[0]?.pageLikes || posts[0]?.pageFollowers || 0;\n\n  const sorted = [...posts].sort((a, b) => {\n    const engA = (a.likes || 0) + (a.comments || 0) + (a.shares || 0);\n    const engB = (b.likes || 0) + (b.comments || 0) + (b.shares || 0);\n    return engB - engA;\n  });\n\n  const top3 = sorted.slice(0, 3).map(p => ({\n    url: p.url || p.postUrl || '',\n    text: (p.text || p.message || '').substring(0, 500),\n    likes: p.likes || 0,\n    comments: p.comments || 0,\n    shares: p.shares || 0,\n    engagement: (p.likes || 0) + (p.comments || 0) + (p.shares || 0),\n    date: p.time || p.date || '',\n    type: p.type || 'post'\n  }));\n\n  const topComments = [];\n  for (const p of sorted.slice(0, 3)) {\n    const comments = p.topComments || p.commentsList || [];\n    for (const c of comments.slice(0, 7)) {\n      topComments.push({\n        text: c.text || c.comment || c.message || '',\n        likes: c.likes || c.likesCount || 0,\n        postUrl: p.url || p.postUrl || ''\n      });\n    }\n  }\n\n  const totalLikes = posts.reduce((s, p) => s + (p.likes || 0), 0);\n  const totalComments = posts.reduce((s, p) => s + (p.comments || 0), 0);\n  const totalShares = posts.reduce((s, p) => s + (p.shares || 0), 0);\n  const avgLikes = posts.length > 0 ? totalLikes / posts.length : 0;\n  const avgComments = posts.length > 0 ? totalComments / posts.length : 0;\n  const avgShares = posts.length > 0 ? totalShares / posts.length : 0;\n  const engagementRate = followers > 0 ? ((avgLikes + avgComments + avgShares) / followers * 100) : 0;\n\n  const result = {\n    competitorName, platform, accountUrl, followers,\n    postsScraped: posts.length,\n    avgLikes: Math.round(avgLikes * 100) / 100,\n    avgComments: Math.round(avgComments * 100) / 100,\n    avgShares: Math.round(avgShares * 100) / 100,\n    engagementRate: Math.round(engagementRate * 10000) / 10000,\n    topPosts: top3,\n    topComments: topComments.slice(0, 20),\n    calendarWeek, year, projectName,\n    status: 'ok'\n  };\n\n  return [{ json: result }];\n} catch (error) {\n  const errEntry = {\n    competitorName, platform, calendarWeek, year, projectName,\n    error: error.message, status: 'error'\n  };\n  staticData.errors.push(errEntry);\n  return [{ json: errEntry }];\n}"
      }
    },
    {
      "id": "wf3-parse-tt",
      "name": "Parse TT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        460
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst platformInfo = $('Plattform Switch').first().json;\nconst { competitorName, platform, accountUrl, calendarWeek, year, projectName } = platformInfo;\n\ntry {\n  const items = $input.all();\n  if (!items || items.length === 0 || items[0].json?.error) {\n    throw new Error(items[0]?.json?.error || 'Keine Daten von Apify erhalten');\n  }\n\n  const allData = items.map(i => i.json);\n  // TikTok scraper: profile has stats.followerCount, posts have playCount/diggCount/commentCount/shareCount\n  const profileItem = allData.find(d => d.stats?.followerCount !== undefined);\n  const posts = allData.filter(d => d.diggCount !== undefined || d.playCount !== undefined);\n  if (posts.length === 0) throw new Error('Keine Posts gefunden');\n\n  const followers = profileItem?.stats?.followerCount || 0;\n\n  const sorted = [...posts].sort((a, b) => {\n    const engA = (a.diggCount || 0) + (a.commentCount || 0) + (a.shareCount || 0);\n    const engB = (b.diggCount || 0) + (b.commentCount || 0) + (b.shareCount || 0);\n    return engB - engA;\n  });\n\n  const top3 = sorted.slice(0, 3).map(p => ({\n    url: p.webVideoUrl || p.url || '',\n    text: (p.text || p.desc || '').substring(0, 500),\n    likes: p.diggCount || 0,\n    comments: p.commentCount || 0,\n    shares: p.shareCount || 0,\n    engagement: (p.diggCount || 0) + (p.commentCount || 0) + (p.shareCount || 0),\n    date: p.createTime ? new Date(p.createTime * 1000).toISOString() : '',\n    type: 'video'\n  }));\n\n  // TikTok comments: may be in p.comments array\n  const topComments = [];\n  for (const p of sorted.slice(0, 3)) {\n    const comments = p.comments || [];\n    for (const c of comments.slice(0, 7)) {\n      topComments.push({\n        text: c.text || c.comment || '',\n        likes: c.diggCount || c.likes || 0,\n        postUrl: p.webVideoUrl || p.url || ''\n      });\n    }\n  }\n\n  const totalLikes = posts.reduce((s, p) => s + (p.diggCount || 0), 0);\n  const totalComments = posts.reduce((s, p) => s + (p.commentCount || 0), 0);\n  const totalShares = posts.reduce((s, p) => s + (p.shareCount || 0), 0);\n  const avgLikes = posts.length > 0 ? totalLikes / posts.length : 0;\n  const avgComments = posts.length > 0 ? totalComments / posts.length : 0;\n  const avgShares = posts.length > 0 ? totalShares / posts.length : 0;\n  const engagementRate = followers > 0 ? ((avgLikes + avgComments + avgShares) / followers * 100) : 0;\n\n  const result = {\n    competitorName, platform, accountUrl, followers,\n    postsScraped: posts.length,\n    avgLikes: Math.round(avgLikes * 100) / 100,\n    avgComments: Math.round(avgComments * 100) / 100,\n    avgShares: Math.round(avgShares * 100) / 100,\n    engagementRate: Math.round(engagementRate * 10000) / 10000,\n    topPosts: top3,\n    topComments: topComments.slice(0, 20),\n    calendarWeek, year, projectName,\n    status: 'ok'\n  };\n\n  return [{ json: result }];\n} catch (error) {\n  const errEntry = {\n    competitorName, platform, calendarWeek, year, projectName,\n    error: error.message, status: 'error'\n  };\n  staticData.errors.push(errEntry);\n  return [{ json: errEntry }];\n}"
      }
    },
    {
      "id": "wf3-parse-li",
      "name": "Parse LI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        620
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst platformInfo = $('Plattform Switch').first().json;\nconst { competitorName, platform, accountUrl, calendarWeek, year, projectName } = platformInfo;\n\ntry {\n  const items = $input.all();\n  if (!items || items.length === 0 || items[0].json?.error) {\n    throw new Error(items[0]?.json?.error || 'Keine Daten von Apify erhalten');\n  }\n\n  const posts = items.map(i => i.json).filter(p => p.text !== undefined || p.commentary !== undefined);\n  if (posts.length === 0) throw new Error('Keine Posts gefunden');\n\n  const followers = posts[0]?.authorFollowerCount || posts[0]?.companyFollowerCount || 0;\n\n  const sorted = [...posts].sort((a, b) => {\n    const engA = (a.numLikes || a.likes || 0) + (a.numComments || a.comments || 0) + (a.numShares || a.shares || 0);\n    const engB = (b.numLikes || b.likes || 0) + (b.numComments || b.comments || 0) + (b.numShares || b.shares || 0);\n    return engB - engA;\n  });\n\n  const top3 = sorted.slice(0, 3).map(p => ({\n    url: p.url || p.postUrl || '',\n    text: (p.text || p.commentary || '').substring(0, 500),\n    likes: p.numLikes || p.likes || 0,\n    comments: p.numComments || p.comments || 0,\n    shares: p.numShares || p.shares || 0,\n    engagement: (p.numLikes || p.likes || 0) + (p.numComments || p.comments || 0) + (p.numShares || p.shares || 0),\n    date: p.postedAt || p.date || '',\n    type: p.type || 'post'\n  }));\n\n  const topComments = [];\n  for (const p of sorted.slice(0, 3)) {\n    const comments = p.commentsList || p.topComments || [];\n    for (const c of comments.slice(0, 7)) {\n      topComments.push({\n        text: c.text || c.comment || '',\n        likes: c.likes || c.numLikes || 0,\n        postUrl: p.url || p.postUrl || ''\n      });\n    }\n  }\n\n  const totalLikes = posts.reduce((s, p) => s + (p.numLikes || p.likes || 0), 0);\n  const totalComments = posts.reduce((s, p) => s + (p.numComments || p.comments || 0), 0);\n  const totalShares = posts.reduce((s, p) => s + (p.numShares || p.shares || 0), 0);\n  const avgLikes = posts.length > 0 ? totalLikes / posts.length : 0;\n  const avgComments = posts.length > 0 ? totalComments / posts.length : 0;\n  const avgShares = posts.length > 0 ? totalShares / posts.length : 0;\n  const engagementRate = followers > 0 ? ((avgLikes + avgComments + avgShares) / followers * 100) : 0;\n\n  const result = {\n    competitorName, platform, accountUrl, followers,\n    postsScraped: posts.length,\n    avgLikes: Math.round(avgLikes * 100) / 100,\n    avgComments: Math.round(avgComments * 100) / 100,\n    avgShares: Math.round(avgShares * 100) / 100,\n    engagementRate: Math.round(engagementRate * 10000) / 10000,\n    topPosts: top3,\n    topComments: topComments.slice(0, 20),\n    calendarWeek, year, projectName,\n    status: 'ok'\n  };\n\n  return [{ json: result }];\n} catch (error) {\n  const errEntry = {\n    competitorName, platform, calendarWeek, year, projectName,\n    error: error.message, status: 'error'\n  };\n  staticData.errors.push(errEntry);\n  return [{ json: errEntry }];\n}"
      }
    },
    {
      "id": "wf3-parse-yt",
      "name": "Parse YT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        780
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst platformInfo = $('Plattform Switch').first().json;\nconst { competitorName, platform, accountUrl, calendarWeek, year, projectName } = platformInfo;\n\ntry {\n  const items = $input.all();\n  if (!items || items.length === 0 || items[0].json?.error) {\n    throw new Error(items[0]?.json?.error || 'Keine Daten von Apify erhalten');\n  }\n\n  const allData = items.map(i => i.json);\n  // YouTube scraper: videos have viewCount, likes, commentCount\n  const channelItem = allData.find(d => d.subscriberCountText || d.subscriberCount);\n  const videos = allData.filter(d => d.viewCount !== undefined || d.views !== undefined);\n  if (videos.length === 0) throw new Error('Keine Videos gefunden');\n\n  const followers = channelItem?.subscriberCount || parseInt(String(channelItem?.subscriberCountText || '0').replace(/[^0-9]/g, '')) || 0;\n\n  const sorted = [...videos].sort((a, b) => {\n    const engA = (a.likes || 0) + (a.commentCount || a.comments || 0);\n    const engB = (b.likes || 0) + (b.commentCount || b.comments || 0);\n    return engB - engA;\n  });\n\n  const top3 = sorted.slice(0, 3).map(v => ({\n    url: v.url || v.videoUrl || (v.id ? `https://youtube.com/watch?v=${v.id}` : ''),\n    text: (v.title || v.text || '').substring(0, 500),\n    likes: v.likes || 0,\n    comments: v.commentCount || v.comments || 0,\n    shares: 0,\n    engagement: (v.likes || 0) + (v.commentCount || v.comments || 0),\n    date: v.date || v.uploadDate || v.publishedAt || '',\n    type: 'video'\n  }));\n\n  // YouTube comments\n  const topComments = [];\n  for (const v of sorted.slice(0, 3)) {\n    const comments = v.commentsData || v.topComments || [];\n    for (const c of comments.slice(0, 7)) {\n      topComments.push({\n        text: c.text || c.comment || '',\n        likes: c.likes || c.voteCount || 0,\n        postUrl: v.url || v.videoUrl || ''\n      });\n    }\n  }\n\n  const totalLikes = videos.reduce((s, v) => s + (v.likes || 0), 0);\n  const totalComments = videos.reduce((s, v) => s + (v.commentCount || v.comments || 0), 0);\n  const avgLikes = videos.length > 0 ? totalLikes / videos.length : 0;\n  const avgComments = videos.length > 0 ? totalComments / videos.length : 0;\n  const engagementRate = followers > 0 ? ((avgLikes + avgComments) / followers * 100) : 0;\n\n  const result = {\n    competitorName, platform, accountUrl, followers,\n    postsScraped: videos.length,\n    avgLikes: Math.round(avgLikes * 100) / 100,\n    avgComments: Math.round(avgComments * 100) / 100,\n    avgShares: 0,\n    engagementRate: Math.round(engagementRate * 10000) / 10000,\n    topPosts: top3,\n    topComments: topComments.slice(0, 20),\n    calendarWeek, year, projectName,\n    status: 'ok'\n  };\n\n  return [{ json: result }];\n} catch (error) {\n  const errEntry = {\n    competitorName, platform, calendarWeek, year, projectName,\n    error: error.message, status: 'error'\n  };\n  staticData.errors.push(errEntry);\n  return [{ json: errEntry }];\n}"
      }
    },
    {
      "id": "wf3-parse-x",
      "name": "Parse X",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        940
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst platformInfo = $('Plattform Switch').first().json;\nconst { competitorName, platform, accountUrl, calendarWeek, year, projectName } = platformInfo;\n\ntry {\n  const items = $input.all();\n  if (!items || items.length === 0 || items[0].json?.error) {\n    throw new Error(items[0]?.json?.error || 'Keine Daten von Apify erhalten');\n  }\n\n  const allData = items.map(i => i.json);\n  // X/Twitter scraper: user has user.followersCount, tweets have likeCount/retweetCount/replyCount\n  const userItem = allData.find(d => d.user?.followersCount !== undefined);\n  const tweets = allData.filter(d => d.likeCount !== undefined || d.retweetCount !== undefined);\n  if (tweets.length === 0) throw new Error('Keine Tweets gefunden');\n\n  const followers = userItem?.user?.followersCount || tweets[0]?.user?.followersCount || 0;\n\n  const sorted = [...tweets].sort((a, b) => {\n    const engA = (a.likeCount || 0) + (a.retweetCount || 0) + (a.replyCount || 0);\n    const engB = (b.likeCount || 0) + (b.retweetCount || 0) + (b.replyCount || 0);\n    return engB - engA;\n  });\n\n  const top3 = sorted.slice(0, 3).map(t => ({\n    url: t.url || (t.id ? `https://x.com/i/status/${t.id}` : ''),\n    text: (t.text || t.fullText || '').substring(0, 500),\n    likes: t.likeCount || 0,\n    comments: t.replyCount || 0,\n    shares: t.retweetCount || 0,\n    engagement: (t.likeCount || 0) + (t.retweetCount || 0) + (t.replyCount || 0),\n    date: t.createdAt || t.date || '',\n    type: t.isRetweet ? 'retweet' : t.isQuote ? 'quote' : 'tweet'\n  }));\n\n  // X comments (replies)\n  const topComments = [];\n  for (const t of sorted.slice(0, 3)) {\n    const replies = t.replies || t.topReplies || [];\n    for (const r of replies.slice(0, 7)) {\n      topComments.push({\n        text: r.text || r.fullText || '',\n        likes: r.likeCount || 0,\n        postUrl: t.url || ''\n      });\n    }\n  }\n\n  const totalLikes = tweets.reduce((s, t) => s + (t.likeCount || 0), 0);\n  const totalComments = tweets.reduce((s, t) => s + (t.replyCount || 0), 0);\n  const totalShares = tweets.reduce((s, t) => s + (t.retweetCount || 0), 0);\n  const avgLikes = tweets.length > 0 ? totalLikes / tweets.length : 0;\n  const avgComments = tweets.length > 0 ? totalComments / tweets.length : 0;\n  const avgShares = tweets.length > 0 ? totalShares / tweets.length : 0;\n  const engagementRate = followers > 0 ? ((avgLikes + avgComments + avgShares) / followers * 100) : 0;\n\n  const result = {\n    competitorName, platform, accountUrl, followers,\n    postsScraped: tweets.length,\n    avgLikes: Math.round(avgLikes * 100) / 100,\n    avgComments: Math.round(avgComments * 100) / 100,\n    avgShares: Math.round(avgShares * 100) / 100,\n    engagementRate: Math.round(engagementRate * 10000) / 10000,\n    topPosts: top3,\n    topComments: topComments.slice(0, 20),\n    calendarWeek, year, projectName,\n    status: 'ok'\n  };\n\n  return [{ json: result }];\n} catch (error) {\n  const errEntry = {\n    competitorName, platform, calendarWeek, year, projectName,\n    error: error.message, status: 'error'\n  };\n  staticData.errors.push(errEntry);\n  return [{ json: errEntry }];\n}"
      }
    },
    {
      "id": "wf3-claude-prep",
      "name": "Claude Prompt vorbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2340,
        460
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const item = $input.first().json;\n\n// If this competitor had an error in parsing, skip Claude analysis\nif (item.status === 'error') {\n  return [{ json: { ...item, analysis: null, contentIdeas: null, _skipClaude: true } }];\n}\n\n// Get brand info from the Switch node's pass-through data\nconst platformInfo = $('Plattform Switch').first().json;\nconst { brandName, brandDescription, branche } = platformInfo;\n\n// Build the Claude prompt (German, as specified)\nconst topPostsJson = JSON.stringify(item.topPosts, null, 2);\nconst commentsJson = JSON.stringify(item.topComments, null, 2);\n\nconst systemPrompt = `Du bist ein erfahrener Social Media Stratege fuer den DACH-Markt. Du analysierst Wettbewerber-Daten und leitest daraus konkrete, umsetzbare Content-Ideen ab. Antworte immer auf Deutsch. Formatiere deine Antwort als valides JSON.`;\n\nconst userPrompt = `Analysiere die Top-Posts und Kommentare dieses Wettbewerbers.\n\nWettbewerber: ${item.competitorName}\nPlattform: ${item.platform}\nBranche: ${branche}\nUnsere Marke: ${brandName} - ${brandDescription}\n\nWettbewerber-Metriken:\n- Followers: ${item.followers}\n- Posts analysiert: ${item.postsScraped}\n- Durchschn. Likes: ${item.avgLikes}\n- Durchschn. Kommentare: ${item.avgComments}\n- Engagement-Rate: ${item.engagementRate}%\n\nTop-Posts:\n${topPostsJson}\n\nKommentare:\n${commentsJson}\n\nErstelle auf Deutsch ein JSON-Objekt mit diesen Feldern:\n{\n  \"staerken\": \"Was macht der Wettbewerber gut? (2-3 Saetze)\",\n  \"engagement_treiber\": \"Welche Themen/Formate erzeugen das meiste Engagement? (2-3 Saetze)\",\n  \"community_sentiment\": \"Was sagen die Kommentar-Nutzer? Stimmung und Hauptthemen. (2-3 Saetze)\",\n  \"content_ideen\": [\n    {\n      \"titel\": \"Kurzer Titel der Idee\",\n      \"beschreibung\": \"Was genau erstellen, welches Format, welcher Hook\",\n      \"plattform\": \"${item.platform}\",\n      \"format\": \"post|reel|video|carousel|story\",\n      \"inspiration\": \"Welcher Wettbewerber-Post hat diese Idee inspiriert\"\n    }\n  ],\n  \"nicht_kopieren\": \"Was sollten wir NICHT kopieren und warum? (1-2 Saetze)\"\n}\n\nGib 3-5 Content-Ideen zurueck. Antworte NUR mit dem JSON-Objekt, ohne Markdown-Codeblock.`;\n\nreturn [{\n  json: {\n    ...item,\n    systemPrompt,\n    userPrompt,\n    _skipClaude: false\n  }\n}];"
      }
    },
    {
      "id": "wf3-skip-claude-check",
      "name": "Claude ueberspringen?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2600,
        460
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "skip-claude",
              "leftValue": "={{ $json._skipClaude }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "wf3-claude-analysis",
      "name": "Claude Wettbewerber-Analyse",
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        2864,
        560
      ],
      "credentials": {
        "anthropicApi": {
          "id": "xJGzDv9YCgZEHb2E",
          "name": "Claude - 20260127"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 15000,
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "mode": "id",
          "value": "claude-sonnet-4-6"
        },
        "messages": [
          {
            "role": "user",
            "content": "={{ .userPrompt }}"
          }
        ],
        "simplify": false,
        "options": {
          "system": "={{ .systemPrompt }}",
          "maxTokens": 2000,
          "temperature": 0.3
        }
      }
    },
    {
      "id": "wf3-parse-claude",
      "name": "Claude Ergebnis parsen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3120,
        560
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const item = $input.first().json;\nconst promptData = $('Claude Prompt vorbereiten').first().json;\n\ntry {\n  // The Anthropic node returns the response in various formats.\n  // For resource:text, operation:message, the response content is typically in:\n  // $json.content[0].text (API format) or $json.message or $json.text\n  let responseText = '';\n  if (item.content && Array.isArray(item.content)) {\n    responseText = item.content.map(c => c.text || '').join('');\n  } else if (item.message) {\n    responseText = typeof item.message === 'string' ? item.message : JSON.stringify(item.message);\n  } else if (item.text) {\n    responseText = item.text;\n  } else {\n    // Fallback: stringify the whole response\n    responseText = JSON.stringify(item);\n  }\n\n  // Try to parse as JSON\n  // Remove potential markdown code blocks\n  responseText = responseText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\n  let analysis;\n  try {\n    analysis = JSON.parse(responseText);\n  } catch (parseErr) {\n    // If JSON parsing fails, wrap the text as analysis\n    analysis = {\n      staerken: responseText.substring(0, 500),\n      engagement_treiber: '',\n      community_sentiment: '',\n      content_ideen: [],\n      nicht_kopieren: ''\n    };\n  }\n\n  // Extract content ideas\n  const contentIdeas = analysis.content_ideen || analysis.contentIdeas || [];\n\n  return [{\n    json: {\n      competitorName: promptData.competitorName,\n      platform: promptData.platform,\n      accountUrl: promptData.accountUrl,\n      followers: promptData.followers,\n      postsScraped: promptData.postsScraped,\n      avgLikes: promptData.avgLikes,\n      avgComments: promptData.avgComments,\n      avgShares: promptData.avgShares,\n      engagementRate: promptData.engagementRate,\n      topPosts: promptData.topPosts,\n      topComments: promptData.topComments,\n      analysis,\n      contentIdeas,\n      calendarWeek: promptData.calendarWeek,\n      year: promptData.year,\n      projectName: promptData.projectName,\n      status: 'ok'\n    }\n  }];\n} catch (error) {\n  return [{\n    json: {\n      competitorName: promptData.competitorName,\n      platform: promptData.platform,\n      calendarWeek: promptData.calendarWeek,\n      year: promptData.year,\n      projectName: promptData.projectName,\n      analysis: null,\n      contentIdeas: [],\n      error: 'Claude Analyse fehlgeschlagen: ' + error.message,\n      status: 'partial'\n    }\n  }];\n}"
      }
    },
    {
      "id": "wf3-collect-result",
      "name": "Ergebnis sammeln",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3380,
        460
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst item = $input.first().json;\n\n// Store result in static data\nif (item.status === 'ok' || item.status === 'partial') {\n  staticData.results.push(item);\n  if (item.analysis) {\n    staticData.analyses.push({\n      competitor: item.competitorName,\n      platform: item.platform,\n      analysis: item.analysis,\n      contentIdeas: item.contentIdeas || []\n    });\n  }\n} else {\n  staticData.errors.push({\n    competitor: item.competitorName || 'unbekannt',\n    platform: item.platform || 'unbekannt',\n    error: item.error || 'Unbekannter Fehler',\n    timestamp: new Date().toISOString()\n  });\n}\n\nreturn [{ json: { _collected: true, competitor: item.competitorName, platform: item.platform, status: item.status } }];"
      }
    },
    {
      "id": "wf3-wait-rate-limit",
      "name": "Apify Pause",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3380,
        620
      ],
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      }
    },
    {
      "id": "wf3-prepare-output",
      "name": "Ergebnisse aufbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        260
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Retrieve all collected results from static data\nconst staticData = $getWorkflowStaticData('global');\nconst results = staticData.results || [];\nconst errors = staticData.errors || [];\n\n// Build items for Supabase UPSERT\nconst supabaseItems = results\n  .filter(r => r.status === 'ok' || r.status === 'partial')\n  .map(r => ({\n    json: {\n      project_name: r.projectName,\n      calendar_week: r.calendarWeek,\n      year: r.year,\n      competitor_name: r.competitorName,\n      platform: r.platform,\n      account_url: r.accountUrl || '',\n      followers: r.followers || 0,\n      posts_scraped: r.postsScraped || 0,\n      avg_likes: r.avgLikes || 0,\n      avg_comments: r.avgComments || 0,\n      avg_shares: r.avgShares || 0,\n      engagement_rate: r.engagementRate || 0,\n      top_posts: JSON.stringify(r.topPosts || []),\n      top_comments: JSON.stringify(r.topComments || []),\n      analysis: JSON.stringify(r.analysis || null),\n      content_ideas: JSON.stringify(r.contentIdeas || []),\n      collected_at: new Date().toISOString(),\n      data_source: 'wf3_competitor_monitor'\n    }\n  }));\n\nstaticData.outputCount = supabaseItems.length;\nstaticData.finishedAt = new Date().toISOString();\n\nif (supabaseItems.length === 0) {\n  return [{ json: { _empty: true, message: 'Keine Daten zum Schreiben', errors } }];\n}\n\nreturn supabaseItems;"
      }
    },
    {
      "id": "wf3-supabase-upsert",
      "name": "Supabase Competitor UPSERT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1820,
        160
      ],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://xczjbiitstgxrzjlksqg.supabase.co/rest/v1/competitor_weekly' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_API_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_API_KEY_PLACEHOLDER"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      }
    },
    {
      "id": "wf3-sheets-write",
      "name": "Competitor Insights schreiben",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1820,
        320
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gw0DIdDENFkpE7ZW",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "url",
          "value": "GOOGLE_SHEET_URL_PLACEHOLDER"
        },
        "sheetName": {
          "mode": "name",
          "value": "Competitor Insights"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Plattform": "={{ $json.platform }}",
            "Wettbewerber": "={{ $json.competitor_name }}",
            "KW": "={{ $json.calendar_week }}",
            "Followers": "={{ $json.followers }}",
            "Top-Post URL": "={{ JSON.parse($json.top_posts || '[]')[0]?.url ?? '' }}",
            "Top-Post Engagement": "={{ JSON.parse($json.top_posts || '[]')[0]?.engagement ?? 0 }}",
            "Content-Idee": "={{ (JSON.parse($json.content_ideas || '[]')[0]?.titel ?? '') + ': ' + (JSON.parse($json.content_ideas || '[]')[0]?.beschreibung ?? '') }}",
            "Sentiment": "={{ JSON.parse($json.analysis || '{}')?.community_sentiment ?? '' }}",
            "Erfasst am": "={{ $json.collected_at }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      }
    },
    {
      "id": "wf3-prepare-runlog",
      "name": "Run-Log vorbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        240
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst results = staticData.results || [];\nconst errors = staticData.errors || [];\n\nconst competitorsOk = results.filter(r => r.status === 'ok').map(r => `${r.competitorName} (${r.platform})`);\nconst competitorsError = errors.map(e => `${e.competitor || 'unbekannt'} (${e.platform || '?'})`);\n\nconst startedAt = staticData.startedAt || new Date().toISOString();\nconst finishedAt = new Date().toISOString();\nconst startMs = new Date(startedAt).getTime();\nconst endMs = new Date(finishedAt).getTime();\nconst durationSeconds = Math.round((endMs - startMs) / 1000 * 100) / 100;\n\nconst status = errors.length === 0\n  ? 'success'\n  : competitorsOk.length > 0\n    ? 'partial_success'\n    : 'error';\n\nreturn [{\n  json: {\n    workflow_name: 'WF3 Competitor Monitor',\n    workflow_id: $workflow.id || '',\n    execution_id: $execution.id || '',\n    project_name: results[0]?.projectName || 'unknown',\n    started_at: startedAt,\n    finished_at: finishedAt,\n    duration_seconds: durationSeconds,\n    status,\n    platforms_ok: competitorsOk,\n    platforms_error: competitorsError,\n    error_details: errors.length > 0 ? JSON.stringify(errors) : null,\n    items_processed: staticData.outputCount || 0,\n    notes: `${competitorsOk.length} Wettbewerber analysiert, ${errors.length} Fehler`\n  }\n}];"
      }
    },
    {
      "id": "wf3-supabase-runlog",
      "name": "Supabase Run-Log",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2340,
        240
      ],
      "credentials": {
        "supabaseApi": {
          "id": "PhfVIbHXOKRFaybe",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "parameters": {
        "operation": "create",
        "tableId": "workflow_runs",
        "dataToSend": "autoMapInputData"
      }
    },
    {
      "id": "wf3-build-response",
      "name": "Response zusammenbauen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2600,
        160
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst results = staticData.results || [];\nconst errors = staticData.errors || [];\nconst analyses = staticData.analyses || [];\n\nconst competitorsOk = results.filter(r => r.status === 'ok').map(r => r.competitorName + ' (' + r.platform + ')');\nconst competitorsError = errors.map(e => (e.competitor || 'unbekannt') + ' (' + (e.platform || '?') + ')');\n\n// Collect all content ideas across all competitors\nconst allContentIdeas = analyses.flatMap(a => \n  (a.contentIdeas || []).map(idea => ({\n    ...idea,\n    competitor: a.competitor,\n    platform: a.platform\n  }))\n);\n\n// Clean up static data\ndelete staticData.results;\ndelete staticData.errors;\ndelete staticData.analyses;\ndelete staticData.startedAt;\ndelete staticData.finishedAt;\ndelete staticData.outputCount;\n\nreturn [{\n  json: {\n    success: errors.length === 0,\n    workflow: 'WF3 Competitor Monitor',\n    data: {\n      competitorsAnalyzed: competitorsOk,\n      competitorsFailed: competitorsError,\n      totalCompetitors: competitorsOk.length + competitorsError.length,\n      successCount: competitorsOk.length,\n      errorCount: competitorsError.length,\n      contentIdeasGenerated: allContentIdeas.length,\n      contentIdeas: allContentIdeas\n    },\n    errors: errors.length > 0 ? errors : null,\n    timestamp: new Date().toISOString()\n  }\n}];"
      }
    },
    {
      "id": "wf3-respond-webhook",
      "name": "Webhook Antwort",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2860,
        160
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Dual-Trigger Pruefung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dual-Trigger Pruefung": {
      "main": [
        [
          {
            "node": "Konfig zusammenfuehren",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Konfig aus Sheet lesen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Konfig aus Sheet lesen": {
      "main": [
        [
          {
            "node": "Wettbewerber aus Sheet lesen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wettbewerber aus Sheet lesen": {
      "main": [
        [
          {
            "node": "Konfig zusammenfuehren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Konfig zusammenfuehren": {
      "main": [
        [
          {
            "node": "Competitor Dispatcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Competitor Dispatcher": {
      "main": [
        [
          {
            "node": "Competitor-Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Competitor-Batches": {
      "main": [
        [
          {
            "node": "Ergebnisse aufbereiten",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Plattform Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Plattform Switch": {
      "main": [
        [
          {
            "node": "Apify IG Posts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Apify FB Posts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Apify TT Posts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Apify LI Posts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Apify YT Posts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Apify X Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify IG Posts": {
      "main": [
        [
          {
            "node": "Parse IG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify FB Posts": {
      "main": [
        [
          {
            "node": "Parse FB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify TT Posts": {
      "main": [
        [
          {
            "node": "Parse TT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify LI Posts": {
      "main": [
        [
          {
            "node": "Parse LI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify YT Posts": {
      "main": [
        [
          {
            "node": "Parse YT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify X Posts": {
      "main": [
        [
          {
            "node": "Parse X",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse IG": {
      "main": [
        [
          {
            "node": "Claude Prompt vorbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse FB": {
      "main": [
        [
          {
            "node": "Claude Prompt vorbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse TT": {
      "main": [
        [
          {
            "node": "Claude Prompt vorbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LI": {
      "main": [
        [
          {
            "node": "Claude Prompt vorbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse YT": {
      "main": [
        [
          {
            "node": "Claude Prompt vorbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse X": {
      "main": [
        [
          {
            "node": "Claude Prompt vorbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Prompt vorbereiten": {
      "main": [
        [
          {
            "node": "Claude ueberspringen?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude ueberspringen?": {
      "main": [
        [
          {
            "node": "Ergebnis sammeln",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Claude Wettbewerber-Analyse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Wettbewerber-Analyse": {
      "main": [
        [
          {
            "node": "Claude Ergebnis parsen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Ergebnis parsen": {
      "main": [
        [
          {
            "node": "Ergebnis sammeln",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ergebnis sammeln": {
      "main": [
        [
          {
            "node": "Apify Pause",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify Pause": {
      "main": [
        [
          {
            "node": "Competitor-Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ergebnisse aufbereiten": {
      "main": [
        [
          {
            "node": "Supabase Competitor UPSERT",
            "type": "main",
            "index": 0
          },
          {
            "node": "Competitor Insights schreiben",
            "type": "main",
            "index": 0
          },
          {
            "node": "Run-Log vorbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run-Log vorbereiten": {
      "main": [
        [
          {
            "node": "Supabase Run-Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Competitor UPSERT": {
      "main": [
        [
          {
            "node": "Response zusammenbauen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Competitor Insights schreiben": {
      "main": [
        [
          {
            "node": "Response zusammenbauen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Run-Log": {
      "main": [
        [
          {
            "node": "Response zusammenbauen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response zusammenbauen": {
      "main": [
        [
          {
            "node": "Webhook Antwort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "pinData": {},
  "versionId": ""
}