ai-coworker-workflow.json
{
  "name": "AI Coworker - Slack Assistant",
  "nodes": [
    {
      "parameters": {
        "events": ["message"],
        "options": {}
      },
      "id": "slack-trigger",
      "name": "Slack Trigger",
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [0, 500],
      "credentials": {
        "slackApi": {
          "id": "slack-credentials",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "slack_user_id",
              "value": "={{ $json.user }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "slack_channel_id",
              "value": "={{ $json.channel }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "slack_ts",
              "value": "={{ $json.ts }}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "slack_thread_ts",
              "value": "={{ $json.thread_ts || $json.ts }}",
              "type": "string"
            },
            {
              "id": "a5",
              "name": "user_message",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "a6",
              "name": "has_files",
              "value": "={{ $json.files && $json.files.length > 0 }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "set-variables",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/get_user_context",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"p_slack_user_id\": \"{{ $json.slack_user_id }}\"}",
        "options": {}
      },
      "id": "context-loader",
      "name": "Context Loader",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-header-credentials",
          "name": "Supabase Header Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty"
              }
            }
          ]
        },
        "combineConditions": "and",
        "options": {}
      },
      "id": "check-user-exists",
      "name": "User existiert?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [660, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/users",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"slack_user_id\": \"{{ $('Set Variables').item.json.slack_user_id }}\", \"slack_workspace_id\": \"default\"}",
        "options": {}
      },
      "id": "create-new-user",
      "name": "Neuen User anlegen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 700],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-header-credentials",
          "name": "Supabase Header Auth"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $('Set Variables').item.json.slack_channel_id }}",
          "mode": "id"
        },
        "text": "Willkommen! Ich bin dein AI Coworker.\n\nBevor wir loslegen, erzaehl mir kurz:\n1. Wie heisst du?\n2. In welcher Branche arbeitest du?\n3. Was ist deine Rolle?\n\nDu kannst mir das in einem Satz schreiben, z.B.:\n'Ich bin Max, SEO Manager bei einer E-Commerce Agentur.'",
        "otherOptions": {}
      },
      "id": "slack-welcome",
      "name": "Willkommensnachricht",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1100, 700],
      "credentials": {
        "slackApi": {
          "id": "slack-credentials",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 1024,\n  \"system\": \"Du bist ein Intent-Classifier und Parameter-Extractor fuer einen AI Coworker.\\n\\nDeine Aufgabe:\\n1. Erkenne die Absicht (Intent) der User-Nachricht\\n2. Extrahiere relevante Parameter\\n3. Entscheide, ob das Output-Format geklaert werden muss\\n4. Antworte NUR mit validem JSON\\n\\nINTENTS:\\n- \\\"research\\\": Recherche, Analyse, Informationssuche, Trends, Wettbewerber\\n- \\\"email\\\": E-Mails lesen, schreiben, beantworten, zusammenfassen\\n- \\\"meeting\\\": Meeting-Vorbereitung, Personen-Research, Agenda erstellen\\n- \\\"data\\\": Daten analysieren, Tabellen auswerten, CSV/Sheets bearbeiten\\n- \\\"general\\\": Allgemeine Fragen, Smalltalk, Unklares\\n\\nSUB-INTENTS (Beispiele):\\n- research: \\\"seo_trends\\\", \\\"competitor_analysis\\\", \\\"market_research\\\", \\\"general_research\\\"\\n- email: \\\"read_inbox\\\", \\\"write_email\\\", \\\"reply_email\\\", \\\"summarize_emails\\\"\\n- meeting: \\\"person_research\\\", \\\"company_research\\\", \\\"agenda_creation\\\", \\\"prep_full\\\"\\n- data: \\\"analyze_sheet\\\", \\\"analyze_csv\\\", \\\"create_report\\\", \\\"find_trends\\\"\\n\\nPARAMETER-EXTRAKTION:\\n- Research: topic, depth (quick/standard/deep), focus_areas, time_range\\n- Email: action (read/write/reply), recipient, subject, context, tone\\n- Meeting: person_name, company_name, meeting_type, meeting_date\\n- Data: data_source (sheet_url, csv), analysis_type, specific_questions\\n\\nOUTPUT FORMAT DECISION:\\n- Wenn der User ein Format nennt (\\\"als PDF\\\", \\\"in Google Docs\\\") -> needs_format_confirmation: false\\n- Wenn unklar und die Ausgabe lang sein koennte -> needs_format_confirmation: true\\n- Bei kurzen Antworten (< 500 Zeichen erwartet) -> immer text, needs_format_confirmation: false\\n\\nRESPONSE LANGUAGE:\\nErkenne die Sprache der User-Nachricht. Standard ist Deutsch (\\\"de\\\").\\n\\nAntworte NUR mit dem JSON-Objekt, keine Erklaerungen. Bei Unsicherheit: confidence < 0.7 und intent: \\\"general\\\".\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"USER CONTEXT:\\n{{ JSON.stringify($json) }}\\n\\nUSER MESSAGE:\\n{{ $('Set Variables').item.json.user_message }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "ai-router-claude",
      "name": "AI Router (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "anthropic-credentials",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst content = response.content[0].text;\n\nlet routerOutput;\ntry {\n  const jsonMatch = content.match(/```json\\n?([\\s\\S]*?)\\n?```/) || \n                    content.match(/\\{[\\s\\S]*\\}/);\n  routerOutput = JSON.parse(jsonMatch[1] || jsonMatch[0]);\n} catch (e) {\n  routerOutput = {\n    intent: \"general\",\n    sub_intent: \"conversation\",\n    confidence: 0.5,\n    parameters: {},\n    output_format: \"text\",\n    needs_format_confirmation: false,\n    response_language: \"de\"\n  };\n}\n\nreturn {\n  json: {\n    ...routerOutput,\n    original_message: $('Set Variables').first().json.user_message,\n    context: $('Context Loader').first().json,\n    slack_user_id: $('Set Variables').first().json.slack_user_id,\n    slack_channel_id: $('Set Variables').first().json.slack_channel_id,\n    slack_thread_ts: $('Set Variables').first().json.slack_thread_ts\n  }\n};"
      },
      "id": "parse-router-response",
      "name": "Parse Router Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "sw1",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "research",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "research"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "sw2",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "email",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "email"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "sw3",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "meeting",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "meeting"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "sw4",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "data",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "data"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "sw5",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "general",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "general"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "intent-switch",
      "name": "Intent Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1320, 500]
    },
    {
      "parameters": {
        "model": "llama-3.1-sonar-large-128k-online",
        "prompt": "=Recherchiere gruendlich zu: {{ $json.parameters.topic || $json.original_message }}\n\nFokus: {{ $json.parameters.focus_areas ? $json.parameters.focus_areas.join(', ') : 'Allgemein' }}\n\nGib strukturierte, faktenbasierte Informationen mit Quellen.",
        "options": {}
      },
      "id": "perplexity-search",
      "name": "Perplexity Search",
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [1540, 100],
      "credentials": {
        "perplexityApi": {
          "id": "perplexity-credentials",
          "name": "Perplexity API"
        }
      }
    },
    {
      "parameters": {
        "query": "={{ $json.parameters.topic || $json.original_message }}",
        "options": {
          "searchDepth": "basic",
          "includeAnswer": true,
          "maxResults": 5
        }
      },
      "id": "tavily-search",
      "name": "Tavily Search",
      "type": "n8n-nodes-base.tavily",
      "typeVersion": 1,
      "position": [1540, 300],
      "credentials": {
        "tavilyApi": {
          "id": "tavily-credentials",
          "name": "Tavily API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "seo1",
              "leftValue": "={{ ($json.parameters.topic || $json.original_message || '').toLowerCase() }}",
              "rightValue": "seo",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ]
        },
        "combineConditions": "or",
        "options": {}
      },
      "id": "seo-check",
      "name": "SEO Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1760, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dataforseo.com/v3/keywords_data/google/search_volume/live",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[{\"keywords\": [\"{{ ($('Parse Router Response').item.json.parameters.topic || '').split(' ').slice(0, 3).join('\", \"') }}\"], \"language_code\": \"de\", \"location_code\": 2276}]",
        "options": {}
      },
      "id": "dataforseo-request",
      "name": "DataForSEO Keywords",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1980, 100],
      "credentials": {
        "httpBasicAuth": {
          "id": "dataforseo-credentials",
          "name": "DataForSEO API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 4096,\n  \"system\": \"Du bist ein Research-Analyst fuer Marketing-Professionals. Synthetisiere Recherche-Ergebnisse, strukturiere sie klar und actionable, fuege Quellenangaben hinzu. Format: Executive Summary, Key Findings, Detaillierte Analyse, Quellen, Empfohlene naechste Schritte. Sprache: Deutsch.\",\n  \"messages\": [{\"role\": \"user\", \"content\": \"PERPLEXITY: {{ $('Perplexity Search').item.json.choices ? $('Perplexity Search').item.json.choices[0].message.content : JSON.stringify($('Perplexity Search').item.json) }}\\n\\nTAVILY: {{ JSON.stringify($('Tavily Search').item.json) }}\\n\\nANFRAGE: {{ $('Parse Router Response').item.json.original_message }}\\n\\nErstelle einen Research-Report.\"}]\n}",
        "options": {}
      },
      "id": "research-synthesizer",
      "name": "Research Synthesizer (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "anthropic-credentials",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "ea1",
                    "leftValue": "={{ $json.parameters.action }}",
                    "rightValue": "read",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "read"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "ea2",
                    "leftValue": "={{ $json.parameters.action }}",
                    "rightValue": "write",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "write"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "ea3",
                    "leftValue": "={{ $json.parameters.action }}",
                    "rightValue": "reply",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "reply"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "email-action-switch",
      "name": "Email Action Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1540, 500]
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": false,
        "limit": 20,
        "filters": {
          "readStatus": "UNREAD"
        },
        "options": {}
      },
      "id": "gmail-read",
      "name": "Gmail Lesen",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1760, 400],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-credentials",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 2048,\n  \"system\": \"Du analysierst E-Mails. Kategorisiere nach Prioritaet (Hoch/Mittel/Niedrig), identifiziere Action Items, fasse zusammen, markiere dringende Antworten. Format: E-MAIL UEBERSICHT mit Prioritaets-Kategorien und empfohlenen Actions.\",\n  \"messages\": [{\"role\": \"user\", \"content\": \"Analysiere diese E-Mails: {{ JSON.stringify($json).replace(/\\\"/g, '\\\\\"') }}\"}]\n}",
        "options": {}
      },
      "id": "email-analyzer",
      "name": "E-Mail Analyzer (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1980, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "anthropic-credentials",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 2048,\n  \"system\": \"Du schreibst professionelle E-Mails. Halte dich an die Tonalitaet, strukturiere klar mit Absaetzen, fuege angemessene Grussformel hinzu. Output: BETREFF: [Betreff] gefolgt vom E-Mail Text.\",\n  \"messages\": [{\"role\": \"user\", \"content\": \"Schreibe E-Mail: Empfaenger: {{ $json.parameters.recipient || 'nicht angegeben' }}, Thema: {{ $json.parameters.subject || $json.original_message }}, Kontext: {{ $json.parameters.context || '' }}, Ton: {{ $json.parameters.tone || 'professionell' }}\"}]\n}",
        "options": {}
      },
      "id": "email-writer",
      "name": "E-Mail Writer (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 600],
      "credentials": {
        "httpHeaderAuth": {
          "id": "anthropic-credentials",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $('Parse Router Response').item.json.slack_channel_id }}",
          "mode": "id"
        },
        "text": "=*E-Mail Draft*\n\n{{ $json.content[0].text }}\n\n_Antworten Sie mit 'senden', 'bearbeiten' oder 'verwerfen'_",
        "otherOptions": {}
      },
      "id": "email-preview-slack",
      "name": "E-Mail Preview (Slack)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1980, 600],
      "credentials": {
        "slackApi": {
          "id": "slack-credentials",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendarId": {
          "__rl": true,
          "value": "primary",
          "mode": "list"
        },
        "returnAll": false,
        "limit": 10,
        "options": {
          "singleEvents": true,
          "timeMax": "={{ $now.plus(7, 'days').toISO() }}",
          "timeMin": "={{ $now.toISO() }}"
        }
      },
      "id": "calendar-lookup",
      "name": "Google Calendar Lookup",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.2,
      "position": [1540, 800],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "google-calendar-credentials",
          "name": "Google Calendar OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const events = $input.all();\nconst params = $('Parse Router Response').first().json.parameters || {};\n\nlet targetMeeting = events[0] ? events[0].json : null;\n\nif (params.person_name || params.company_name) {\n  const found = events.find(e => {\n    const summary = (e.json.summary || '').toLowerCase();\n    const description = (e.json.description || '').toLowerCase();\n    if (params.person_name && (summary.includes(params.person_name.toLowerCase()) || description.includes(params.person_name.toLowerCase()))) return true;\n    if (params.company_name && (summary.includes(params.company_name.toLowerCase()) || description.includes(params.company_name.toLowerCase()))) return true;\n    return false;\n  });\n  if (found) targetMeeting = found.json;\n}\n\nif (!targetMeeting) {\n  return { json: { error: true, message: 'Kein Meeting gefunden' } };\n}\n\nconst attendees = targetMeeting.attendees || [];\nconst externalAttendees = attendees.filter(a => !a.self);\n\nreturn {\n  json: {\n    meeting_found: true,\n    summary: targetMeeting.summary,\n    start: targetMeeting.start,\n    end: targetMeeting.end,\n    description: targetMeeting.description,\n    location: targetMeeting.location,\n    attendees: externalAttendees.map(a => ({ email: a.email, name: a.displayName || a.email.split('@')[0] })),\n    person_name: params.person_name || (externalAttendees[0] ? externalAttendees[0].displayName : null),\n    company_name: params.company_name || (externalAttendees[0] ? externalAttendees[0].email.split('@')[1].split('.')[0] : null)\n  }\n};"
      },
      "id": "meeting-extract",
      "name": "Meeting Info extrahieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 800]
    },
    {
      "parameters": {
        "model": "llama-3.1-sonar-large-128k-online",
        "prompt": "=Finde aktuelle Nachrichten zu: Person: {{ $json.person_name || 'unbekannt' }}, Unternehmen: {{ $json.company_name || 'unbekannt' }}. Fokus: letzte 30 Tage, Pressemitteilungen, Produktlaunches, Personalwechsel, Partnerschaften.",
        "options": {}
      },
      "id": "meeting-news-search",
      "name": "Meeting News Search",
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [1980, 800],
      "credentials": {
        "perplexityApi": {
          "id": "perplexity-credentials",
          "name": "Perplexity API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 4096,\n  \"system\": \"Du erstellst Meeting-Briefings. Format: Meeting Briefing mit Abschnitten fuer Person, Unternehmen, Aktuelle News, Fragen zum Stellen, Talking Points, Potenzielle Einwaende und Antworten, Notizen-Template.\",\n  \"messages\": [{\"role\": \"user\", \"content\": \"NEWS: {{ $('Meeting News Search').item.json.choices ? $('Meeting News Search').item.json.choices[0].message.content : JSON.stringify($('Meeting News Search').item.json) }}\\n\\nMEETING: {{ JSON.stringify($('Meeting Info extrahieren').item.json) }}\\n\\nErstelle Meeting-Briefing.\"}]\n}",
        "options": {}
      },
      "id": "meeting-briefing-generator",
      "name": "Meeting Briefing Generator (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, 800],
      "credentials": {
        "httpHeaderAuth": {
          "id": "anthropic-credentials",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "ds1",
                    "leftValue": "={{ $json.parameters.data_source || '' }}",
                    "rightValue": "docs.google.com/spreadsheets",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "google_sheets"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "ds2",
                    "leftValue": "={{ $json.has_files }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "csv_file"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "data-source-switch",
      "name": "Data Source Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1540, 1100]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "={{ ($json.parameters.data_source || '').match(/\\/d\\/([a-zA-Z0-9-_]+)/) ? ($json.parameters.data_source || '').match(/\\/d\\/([a-zA-Z0-9-_]+)/)[1] : '' }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.parameters.sheet_name || 'Sheet1' }}",
          "mode": "name"
        },
        "options": {}
      },
      "id": "google-sheets-read",
      "name": "Google Sheets lesen",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1760, 1000],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-credentials",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all().map(item => item.json);\nconst rows = Array.isArray(data) ? data : [data];\n\nconst schema = {};\nif (rows.length > 0) {\n  Object.keys(rows[0]).forEach(key => {\n    const sampleValues = rows.slice(0, 10).map(r => r[key]).filter(v => v !== null && v !== undefined);\n    schema[key] = {\n      type: typeof sampleValues[0],\n      sample: sampleValues.slice(0, 3),\n      non_null_count: sampleValues.length\n    };\n  });\n}\n\nconst preview = rows.slice(0, 100);\n\nreturn {\n  json: {\n    total_rows: rows.length,\n    columns: Object.keys(schema),\n    schema: schema,\n    preview: preview\n  }\n};"
      },
      "id": "data-preview",
      "name": "Data Preview & Schema",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 1000]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 4096,\n  \"system\": \"Du bist ein Daten-Analyst. Analysiere Datenstruktur, identifiziere Muster/Trends/Ausreisser, beantworte User-Fragen praezise mit Zahlen und Prozentwerten, gib actionable Insights und Handlungsempfehlungen.\",\n  \"messages\": [{\"role\": \"user\", \"content\": \"SCHEMA: {{ JSON.stringify($json.schema) }}\\nZEILEN: {{ $json.total_rows }}\\nPREVIEW: {{ JSON.stringify($json.preview.slice(0, 20)) }}\\n\\nFRAGE: {{ $('Parse Router Response').item.json.original_message }}\\n\\nAnalysiere.\"}]\n}",
        "options": {}
      },
      "id": "data-analyzer",
      "name": "Data Analyzer (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, 1000],
      "credentials": {
        "httpHeaderAuth": {
          "id": "anthropic-credentials",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 2048,\n  \"system\": \"Du bist ein freundlicher AI Coworker. Antworte hilfreich, kurz und praegnant auf allgemeine Fragen. Frage nach wenn unklar.\",\n  \"messages\": [{\"role\": \"user\", \"content\": \"{{ $json.original_message }}\"}]\n}",
        "options": {}
      },
      "id": "general-response",
      "name": "General Response (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 1300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "anthropic-credentials",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const source = $input.first().json;\nlet response = '';\n\nif (source.content && source.content[0]) {\n  response = source.content[0].text;\n} else if (source.choices && source.choices[0]) {\n  response = source.choices[0].message.content;\n} else if (source.output) {\n  response = source.output;\n} else {\n  response = JSON.stringify(source);\n}\n\nconst routerData = $('Parse Router Response').first().json;\n\nreturn {\n  json: {\n    response: response,\n    intent: routerData.intent,\n    slack_channel_id: routerData.slack_channel_id,\n    slack_thread_ts: routerData.slack_thread_ts,\n    slack_user_id: routerData.slack_user_id,\n    original_message: routerData.original_message\n  }\n};"
      },
      "id": "output-formatter",
      "name": "Output Formatter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2420, 500]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $json.slack_channel_id }}",
          "mode": "id"
        },
        "text": "={{ $json.response }}",
        "otherOptions": {
          "thread_ts": "={{ $json.slack_thread_ts }}"
        }
      },
      "id": "slack-response",
      "name": "Slack Response",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [2640, 500],
      "credentials": {
        "slackApi": {
          "id": "slack-credentials",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/conversations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"slack_channel_id\": \"{{ $json.slack_channel_id }}\", \"slack_thread_ts\": \"{{ $json.slack_thread_ts }}\", \"user_message\": \"{{ $json.original_message.replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n') }}\", \"assistant_response\": \"{{ $json.response.substring(0, 5000).replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n') }}\", \"intent\": \"{{ $json.intent }}\"}",
        "options": {}
      },
      "id": "save-conversation",
      "name": "Save Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2860, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-header-credentials",
          "name": "Supabase Header Auth"
        }
      }
    }
  ],
  "connections": {
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Context Loader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Context Loader": {
      "main": [
        [
          {
            "node": "User existiert?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User existiert?": {
      "main": [
        [
          {
            "node": "AI Router (Claude)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Neuen User anlegen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Neuen User anlegen": {
      "main": [
        [
          {
            "node": "Willkommensnachricht",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Router (Claude)": {
      "main": [
        [
          {
            "node": "Parse Router Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Router Response": {
      "main": [
        [
          {
            "node": "Intent Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent Router": {
      "main": [
        [
          {
            "node": "Perplexity Search",
            "type": "main",
            "index": 0
          },
          {
            "node": "Tavily Search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Action Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Calendar Lookup",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Data Source Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "General Response (Claude)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "General Response (Claude)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity Search": {
      "main": [
        [
          {
            "node": "SEO Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily Search": {
      "main": [
        [
          {
            "node": "SEO Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEO Check": {
      "main": [
        [
          {
            "node": "DataForSEO Keywords",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Research Synthesizer (Claude)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataForSEO Keywords": {
      "main": [
        [
          {
            "node": "Research Synthesizer (Claude)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Synthesizer (Claude)": {
      "main": [
        [
          {
            "node": "Output Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Action Switch": {
      "main": [
        [
          {
            "node": "Gmail Lesen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "E-Mail Writer (Claude)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail Lesen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail Lesen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Lesen": {
      "main": [
        [
          {
            "node": "E-Mail Analyzer (Claude)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "E-Mail Analyzer (Claude)": {
      "main": [
        [
          {
            "node": "Output Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "E-Mail Writer (Claude)": {
      "main": [
        [
          {
            "node": "E-Mail Preview (Slack)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar Lookup": {
      "main": [
        [
          {
            "node": "Meeting Info extrahieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meeting Info extrahieren": {
      "main": [
        [
          {
            "node": "Meeting News Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meeting News Search": {
      "main": [
        [
          {
            "node": "Meeting Briefing Generator (Claude)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meeting Briefing Generator (Claude)": {
      "main": [
        [
          {
            "node": "Output Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Source Switch": {
      "main": [
        [
          {
            "node": "Google Sheets lesen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "General Response (Claude)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "General Response (Claude)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets lesen": {
      "main": [
        [
          {
            "node": "Data Preview & Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Preview & Schema": {
      "main": [
        [
          {
            "node": "Data Analyzer (Claude)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Analyzer (Claude)": {
      "main": [
        [
          {
            "node": "Output Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "General Response (Claude)": {
      "main": [
        [
          {
            "node": "Output Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output Formatter": {
      "main": [
        [
          {
            "node": "Slack Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Response": {
      "main": [
        [
          {
            "node": "Save Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "ai-coworker"
    },
    {
      "name": "slack-bot"
    },
    {
      "name": "automation"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  }
}
