workflows/production/seo-content-agent/WF2-Keyword-Auswahl-SERP-Scraping.json
{
  "id": "cBzjPNPpFJC8zMtK",
  "name": "SEO Agent — WF2: Keyword-Auswahl & SERP-Scraping",
  "nodes": [
    {
      "parameters": {
        "formTitle": "SEO Content Agent — Keyword-Auswahl",
        "formDescription": "Wähle die Keywords aus, die du für deinen Artikel priorisieren möchtest.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Spreadsheet ID",
              "placeholder": "Die Google Sheets ID aus WF1",
              "requiredField": true,
              "fieldType": "text"
            },
            {
              "fieldLabel": "Ausgewählte Keywords",
              "placeholder": "Kommagetrennt: keyword1, keyword2, keyword3",
              "requiredField": true,
              "fieldType": "textarea"
            },
            {
              "fieldLabel": "Custom Keywords",
              "placeholder": "Zusätzliche Keywords (optional, kommagetrennt)",
              "requiredField": false,
              "fieldType": "textarea"
            },
            {
              "fieldLabel": "Notizen zur Suchintention",
              "placeholder": "z.B. Fokus auf informational Content",
              "requiredField": false,
              "fieldType": "textarea"
            }
          ]
        },
        "options": {
          "buttonLabel": "Keywords bestätigen"
        },
        "responseMode": "lastNode"
      },
      "id": "form-kw-auswahl",
      "name": "Keyword-Auswahl Formular",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [0, 0]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "spreadsheet_id",
              "name": "spreadsheet_id",
              "value": "={{ $json['Spreadsheet ID'] || $json.spreadsheet_id || '' }}",
              "type": "string"
            },
            {
              "id": "selected_keywords_raw",
              "name": "selected_keywords_raw",
              "value": "={{ $json['Ausgewählte Keywords'] || $json.selected_keywords || '' }}",
              "type": "string"
            },
            {
              "id": "custom_keywords_raw",
              "name": "custom_keywords_raw",
              "value": "={{ $json['Custom Keywords'] || $json.custom_keywords || '' }}",
              "type": "string"
            },
            {
              "id": "notizen",
              "name": "notizen",
              "value": "={{ $json['Notizen zur Suchintention'] || $json.notizen || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-wf2-vars",
      "name": "WF2 Variablen setzen",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [280, 0]
    },
    {
      "parameters": {
        "jsCode": "const selectedRaw = $input.first().json.selected_keywords_raw || '';\nconst customRaw = $input.first().json.custom_keywords_raw || '';\nconst spreadsheetId = $input.first().json.spreadsheet_id;\n\nconst selected = selectedRaw.split(',').map(k => k.trim()).filter(k => k.length > 0);\nconst custom = customRaw.split(',').map(k => k.trim()).filter(k => k.length > 0);\n\nconst allKeywords = [...new Set([...selected, ...custom])];\n\nreturn allKeywords.map(keyword => ({\n  json: {\n    keyword,\n    spreadsheet_id: spreadsheetId,\n    typ: custom.includes(keyword) ? 'custom' : 'selected'\n  }\n}));"
      },
      "id": "parse-keywords",
      "name": "Keywords parsen & aufbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [530, 0]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "serp-batch",
      "name": "Keywords einzeln verarbeiten",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [800, 0]
    },
    {
      "parameters": {
        "resource": "serp",
        "operation": "get-parsed-serp",
        "keyword": "={{ $json.keyword }}",
        "location_name": "Germany",
        "language_name": "German",
        "depth": 5
      },
      "id": "dataforseo-serp",
      "name": "DataForSEO — SERP Organic",
      "type": "n8n-nodes-dataforseo.dataForSeo",
      "typeVersion": 1,
      "position": [1050, 0],
      "credentials": {
        "dataForSeoApi": {
          "id": "7moI5XcUYmWsWlQ0",
          "name": "DataForSEO account"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst items = [];\nconst keyword = $('Keywords einzeln verarbeiten').first().json.keyword;\nconst spreadsheetId = $('WF2 Variablen setzen').first().json.spreadsheet_id;\n\ntry {\n  const tasks = input.tasks || [];\n  for (const task of tasks) {\n    const results = task.result || [];\n    for (const r of results) {\n      const organicItems = (r.items || []).filter(i => i.type === 'organic');\n      let position = 0;\n      for (const item of organicItems.slice(0, 5)) {\n        position++;\n        items.push({\n          json: {\n            keyword: keyword,\n            position: position,\n            url: item.url || '',\n            title: item.title || '',\n            snippet: item.description || '',\n            spreadsheet_id: spreadsheetId\n          }\n        });\n      }\n    }\n  }\n} catch (e) {\n  items.push({ json: { error: e.message, keyword } });\n}\n\nif (items.length === 0) {\n  items.push({ json: { keyword, position: 0, url: '', title: 'Keine SERP-Ergebnisse', snippet: '', spreadsheet_id: spreadsheetId } });\n}\n\nreturn items;"
      },
      "id": "process-serp",
      "name": "SERP-Ergebnisse verarbeiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 0]
    },
    {
      "parameters": {
        "resource": "Actors",
        "operation": "Run actor and get dataset",
        "actorId": "apify/website-content-crawler",
        "customBody": "={{ JSON.stringify({ \"startUrls\": [{ \"url\": $json.url }], \"maxCrawlDepth\": 0, \"maxCrawlPages\": 1, \"crawlerType\": \"cheerio\", \"includeUrlGlobs\": [], \"excludeUrlGlobs\": [], \"maxResults\": 1 }) }}"
      },
      "id": "apify-scrape",
      "name": "Apify — Content Scrapen",
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [1550, 0],
      "credentials": {
        "apifyApi": {
          "id": "wWgQDWC9aV3UcUEJ",
          "name": "Apify MN1975"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const serpData = $('SERP-Ergebnisse verarbeiten').first().json;\nconst scrapeResult = $input.first().json;\n\nlet contentText = '';\nlet wordCount = 0;\nlet headings = [];\n\ntry {\n  if (Array.isArray(scrapeResult)) {\n    const page = scrapeResult[0] || {};\n    contentText = (page.text || page.markdown || '').slice(0, 10000);\n  } else {\n    contentText = (scrapeResult.text || scrapeResult.markdown || scrapeResult.content || '').slice(0, 10000);\n  }\n  \n  wordCount = contentText.split(/\\s+/).filter(w => w.length > 0).length;\n  \n  const headingMatches = contentText.match(/^#{1,6}\\s+.+$/gm) || [];\n  headings = headingMatches.map(h => {\n    const level = h.match(/^(#+)/)[1].length;\n    const text = h.replace(/^#+\\s+/, '');\n    return { level: `h${level}`, text };\n  });\n} catch (e) {\n  contentText = `Scraping fehlgeschlagen: ${e.message}`;\n}\n\nreturn [{\n  json: {\n    keyword: serpData.keyword,\n    position: serpData.position,\n    url: serpData.url,\n    title: serpData.title,\n    content_text: contentText,\n    wortanzahl: wordCount,\n    h_struktur: JSON.stringify(headings),\n    spreadsheet_id: serpData.spreadsheet_id\n  }\n}];"
      },
      "id": "process-scraped",
      "name": "Scraping-Ergebnisse aufbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 0]
    },
    {
      "id": "82c6af17-aac2-4bab-bc41-a6301d9dc144",
      "name": "Sheets — SERP Wettbewerber schreiben",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2050, 0],
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.spreadsheet_id }}/values/SERP%20Wettbewerber!A1:append?valueInputOption=USER_ENTERED&insertDataOption=INSERT_ROWS",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({values: [[$json.keyword || '', $json.position || 0, $json.url || '', $json.title || '', ($json.content_text || '').slice(0, 49000), $json.wortanzahl || 0, $json.h_struktur || '']]}) }}",
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gw0DIdDENFkpE7ZW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "f4fca7bc-750e-4e80-974a-378b829db139",
      "name": "Sheets — Status auf serp_scraping",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2300, 0],
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('WF2 Variablen setzen').first().json.spreadsheet_id }}/values:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({data: [{range: 'Projekt!C2', values: [['deep_analyse']]}, {range: 'Projekt!E2', values: [[new Date().toISOString()]]}], valueInputOption: 'USER_ENTERED'}) }}",
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gw0DIdDENFkpE7ZW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "4c85b8c0-5cf9-44fd-83a4-859aad3ca253",
      "name": "SERP-Tab Headers schreiben",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 100],
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('WF2 Variablen setzen').first().json.spreadsheet_id }}/values/SERP%20Wettbewerber!A1:append?valueInputOption=USER_ENTERED",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({values: [['keyword', 'position', 'url', 'title', 'content_text', 'wortanzahl', 'h_struktur']]}) }}",
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gw0DIdDENFkpE7ZW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "message",
              "name": "message",
              "value": "=SERP-Scraping abgeschlossen! Die Top-5 Wettbewerber-Seiten für alle ausgewählten Keywords wurden gescraped und gespeichert.",
              "type": "string"
            },
            {
              "id": "spreadsheet_id",
              "name": "spreadsheet_id",
              "value": "={{ $('WF2 Variablen setzen').first().json.spreadsheet_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "response-wf2",
      "name": "Zusammenfassung WF2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2550, 0]
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            { "name": "spreadsheet_id" },
            { "name": "selected_keywords" },
            { "name": "custom_keywords" },
            { "name": "notizen" }
          ]
        }
      },
      "id": "exec-trigger-wf2",
      "name": "Orchestrator-Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 250]
    }
  ],
  "connections": {
    "Keyword-Auswahl Formular": {
      "main": [[{ "node": "WF2 Variablen setzen", "type": "main", "index": 0 }]]
    },
    "WF2 Variablen setzen": {
      "main": [[{ "node": "Keywords parsen & aufbereiten", "type": "main", "index": 0 }]]
    },
    "Keywords parsen & aufbereiten": {
      "main": [[{ "node": "SERP-Tab Headers schreiben", "type": "main", "index": 0 }]]
    },
    "SERP-Tab Headers schreiben": {
      "main": [[{ "node": "Keywords einzeln verarbeiten", "type": "main", "index": 0 }]]
    },
    "Keywords einzeln verarbeiten": {
      "main": [
        [{ "node": "Sheets — Status auf serp_scraping", "type": "main", "index": 0 }],
        [{ "node": "DataForSEO — SERP Organic", "type": "main", "index": 0 }]
      ]
    },
    "DataForSEO — SERP Organic": {
      "main": [[{ "node": "SERP-Ergebnisse verarbeiten", "type": "main", "index": 0 }]]
    },
    "SERP-Ergebnisse verarbeiten": {
      "main": [[{ "node": "Apify — Content Scrapen", "type": "main", "index": 0 }]]
    },
    "Apify — Content Scrapen": {
      "main": [[{ "node": "Scraping-Ergebnisse aufbereiten", "type": "main", "index": 0 }]]
    },
    "Scraping-Ergebnisse aufbereiten": {
      "main": [[{ "node": "Sheets — SERP Wettbewerber schreiben", "type": "main", "index": 0 }]]
    },
    "Sheets — SERP Wettbewerber schreiben": {
      "main": [[{ "node": "Keywords einzeln verarbeiten", "type": "main", "index": 0 }]]
    },
    "Sheets — Status auf serp_scraping": {
      "main": [[{ "node": "Zusammenfassung WF2", "type": "main", "index": 0 }]]
    },
    "Orchestrator-Trigger": {
      "main": [[{ "node": "WF2 Variablen setzen", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Berlin",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner"
  }
}