workflows/production/seo-content-agent/WF4-User-Insight-Mining.json
{
  "id": "8eWElY86rh30qqrY",
  "name": "WF4: User Insight Mining v2",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "formTitle": "WF4: Expert Input — User Insight Mining",
        "formDescription": "Gib die Spreadsheet-ID und optionalen Expert Input ein, um das User Insight Mining zu starten.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Spreadsheet ID",
              "placeholder": "Google Sheets ID eingeben",
              "requiredField": true
            },
            {
              "fieldLabel": "Expertenwissen",
              "fieldType": "textarea",
              "placeholder": "Dein Fachwissen, Erfahrungswerte, Brancheninsights..."
            },
            {
              "fieldLabel": "Zitate zum Einbauen",
              "fieldType": "textarea",
              "placeholder": "Zitate von Experten, Studien oder Quellen..."
            },
            {
              "fieldLabel": "Spezifische Perspektive / Unique Angle",
              "fieldType": "textarea",
              "placeholder": "Dein einzigartiger Blickwinkel auf das Thema..."
            },
            {
              "fieldLabel": "Referenz-Links",
              "placeholder": "https://... (kommagetrennt)"
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "wf4-trigger-01",
      "name": "Expert Input Formular",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        304
      ],
      "webhookId": "e3638eed-b446-4640-aee5-1c5c10442517"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "exec-trigger-wf4",
      "name": "Orchestrator-Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        608
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-spreadsheet-id",
              "name": "spreadsheet_id",
              "type": "string",
              "value": "={{ $json.spreadsheet_id || $json['Spreadsheet ID'] || '' }}"
            },
            {
              "id": "assign-expertenwissen",
              "name": "expertenwissen",
              "type": "string",
              "value": "={{ $json.expertenwissen || $json['Expertenwissen'] || $json['Expertenwissen / Erfahrungswerte'] || '' }}"
            },
            {
              "id": "assign-zitate",
              "name": "zitate",
              "type": "string",
              "value": "={{ $json.zitate || $json['Zitate zum Einbauen'] || '' }}"
            },
            {
              "id": "assign-unique-angle",
              "name": "unique_angle",
              "type": "string",
              "value": "={{ $json.unique_angle || $json['Spezifische Perspektive / Unique Angle'] || '' }}"
            },
            {
              "id": "assign-referenz-links",
              "name": "referenz_links",
              "type": "string",
              "value": "={{ $json.referenz_links || $json['Referenz-Links'] || '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "wf4-set-02",
      "name": "Variablen setzen",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        304
      ]
    },
    {
      "parameters": {
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.spreadsheet_id }}/values/Keywords",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "id": "wf4-http-read-kw",
      "name": "Keywords-Tab lesen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        560,
        304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gw0DIdDENFkpE7ZW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst values = response.values || [];\nif (values.length < 2) { throw new Error('Keine Keywords im Sheet gefunden'); }\nconst headers = values[0].map(h => h.toLowerCase().trim());\nconst kwIdx = headers.indexOf('keyword');\nconst selIdx = headers.indexOf('ausgewaehlt');\nif (kwIdx === -1) { throw new Error('Spalte keyword nicht gefunden. Headers: ' + headers.join(', ')); }\nlet keywords = [];\nif (selIdx >= 0) {\n  for (let i = 1; i < values.length; i++) {\n    const kw = (values[i][kwIdx] || '').trim();\n    const selected = (values[i][selIdx] || '').toLowerCase().trim();\n    if (kw && kw !== 'Keine Ergebnisse' && selected === 'ja') { keywords.push(kw); }\n  }\n}\nif (keywords.length === 0) {\n  for (let i = 1; i < values.length; i++) {\n    const kw = (values[i][kwIdx] || '').trim();\n    if (kw && kw !== 'Keine Ergebnisse') { keywords.push(kw); }\n  }\n}\nif (keywords.length === 0) { throw new Error('Keine gueltigen Keywords im Sheet gefunden'); }\nconst baseSubreddits = ['SEO', 'marketing', 'content_marketing', 'digital_marketing', 'blogging'];\nconst keywordSubreddits = keywords.map(k => k.toLowerCase().replace(/\\s+/g, '_'));\nconst subreddits = [...new Set([...baseSubreddits, ...keywordSubreddits])];\nconst redditQueries = keywords.map(k => k + ' tips OR advice OR how to OR problem OR frustration');\nconst youtubeQueries = keywords.map(k => k + ' tutorial OR guide OR erklaerung');\nconst vars = $('Variablen setzen').first().json;\nreturn [{ json: { keywords, subreddits, redditQueries, youtubeQueries, spreadsheet_id: vars.spreadsheet_id, expertenwissen: vars.expertenwissen, zitate: vars.zitate, unique_angle: vars.unique_angle, referenz_links: vars.referenz_links } }];"
      },
      "id": "wf4-code-04",
      "name": "Suchbegriffe vorbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        304
      ]
    },
    {
      "parameters": {
        "resource": "post",
        "operation": "search",
        "keyword": "={{ $json.redditQueries.slice(0, 3).join(' OR ') }}",
        "location": "allReddit",
        "returnAll": false,
        "limit": 25,
        "additionalFields": {
          "sort": "relevance"
        }
      },
      "id": "wf4-http-05",
      "name": "Reddit Suche",
      "type": "n8n-nodes-base.reddit",
      "typeVersion": 1,
      "position": [
        1168,
        144
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Native Reddit node: items with { title, selftext, score, subreddit_name_prefixed, ... }\nconst results = $input.all();\n\nif (!results || results.length === 0) {\n  return [{ json: { quelle: \"reddit\", subreddit_oder_kanal: \"\", typ: \"keine_daten\", inhalt: \"Keine Reddit-Ergebnisse gefunden\", relevanz_score: 0, unique_angle: \"\" } }];\n}\n\nreturn results.slice(0, 20).map(item => {\n  const data = item.json;\n  const upvotes = data.score || data.ups || 0;\n  const body = data.selftext || \"\";\n  const title = data.title || \"\";\n  const content = (title + \" \" + body).slice(0, 2000);\n  let typ = \"frage\";\n  const lowerContent = content.toLowerCase();\n  if (lowerContent.includes(\"?\") || lowerContent.includes(\"wie \") || lowerContent.includes(\"how \") || lowerContent.includes(\"warum\")) { typ = \"frage\"; }\n  else if (lowerContent.includes(\"problem\") || lowerContent.includes(\"frustrat\") || lowerContent.includes(\"hate\") || lowerContent.includes(\"sucks\") || lowerContent.includes(\"struggle\")) { typ = \"frustration\"; }\n  else if (lowerContent.includes(\"solved\") || lowerContent.includes(\"solution\") || lowerContent.includes(\"loesung\") || lowerContent.includes(\"tip\") || lowerContent.includes(\"fixed\")) { typ = \"loesung\"; }\n  const relevanz_score = Math.min(100, Math.round(Math.log2(Math.max(1, upvotes)) * 10));\n  const subreddit = data.subreddit_name_prefixed || data.subreddit || \"\";\n  return { json: { quelle: \"reddit\", subreddit_oder_kanal: subreddit, typ, inhalt: content, relevanz_score, unique_angle: \"\" } };\n});"
      },
      "id": "wf4-code-06",
      "name": "Reddit Insights verarbeiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        144
      ]
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "getAll",
        "returnAll": false,
        "limit": 15,
        "filters": {
          "q": "={{ $json.youtubeQueries.slice(0, 3).join(' | ') }}",
          "regionCode": "DE"
        },
        "options": {
          "order": "relevance"
        }
      },
      "id": "wf4-http-07",
      "name": "YouTube Suche",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1168,
        464
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Native YouTube node: items with { snippet: { title, description, channelTitle }, statistics: { viewCount } }\nconst results = $input.all();\n\nif (!results || results.length === 0) {\n  return [{ json: { quelle: \"youtube\", subreddit_oder_kanal: \"\", typ: \"keine_daten\", inhalt: \"Keine YouTube-Ergebnisse gefunden\", relevanz_score: 0, unique_angle: \"\" } }];\n}\n\nreturn results.slice(0, 15).map(item => {\n  const data = item.json;\n  const snippet = data.snippet || data;\n  const stats = data.statistics || {};\n  const title = snippet.title || data.title || \"\";\n  const description = (snippet.description || data.description || \"\").slice(0, 1500);\n  const content = (title + \" - \" + description).slice(0, 2000);\n  const channel = snippet.channelTitle || data.channelTitle || \"\";\n  const views = parseInt(stats.viewCount || data.viewCount || 0);\n  let typ = \"loesung\";\n  const lowerTitle = title.toLowerCase();\n  if (lowerTitle.includes(\"tutorial\") || lowerTitle.includes(\"how to\") || lowerTitle.includes(\"guide\") || lowerTitle.includes(\"anleitung\")) { typ = \"loesung\"; }\n  else if (lowerTitle.includes(\"review\") || lowerTitle.includes(\"vergleich\") || lowerTitle.includes(\"vs\")) { typ = \"vergleich\"; }\n  else if (lowerTitle.includes(\"mistake\") || lowerTitle.includes(\"fehler\") || lowerTitle.includes(\"avoid\") || lowerTitle.includes(\"problem\")) { typ = \"frustration\"; }\n  const relevanz_score = views > 0 ? Math.min(100, Math.round(Math.log10(Math.max(1, views)) * 15)) : 50;\n  return { json: { quelle: \"youtube\", subreddit_oder_kanal: channel, typ, inhalt: content, relevanz_score, unique_angle: \"\" } };\n});"
      },
      "id": "wf4-code-08",
      "name": "YouTube Insights verarbeiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        464
      ]
    },
    {
      "parameters": {
        "jsCode": "const triggerData = $input.first().json;\nconst vars = $('Variablen setzen').first().json;\nconst insights = [];\nif (vars.expertenwissen && vars.expertenwissen.trim()) { insights.push({ json: { quelle: 'expert_input', subreddit_oder_kanal: 'expert', typ: 'expert_take', inhalt: vars.expertenwissen.trim(), relevanz_score: 100, unique_angle: 'ja' } }); }\nif (vars.zitate && vars.zitate.trim()) { insights.push({ json: { quelle: 'expert_input', subreddit_oder_kanal: 'expert', typ: 'knowledge_gain', inhalt: 'ZITAT: ' + vars.zitate.trim(), relevanz_score: 95, unique_angle: 'ja' } }); }\nif (vars.unique_angle && vars.unique_angle.trim()) { insights.push({ json: { quelle: 'expert_input', subreddit_oder_kanal: 'expert', typ: 'expert_take', inhalt: 'UNIQUE ANGLE: ' + vars.unique_angle.trim(), relevanz_score: 100, unique_angle: 'ja' } }); }\nif (vars.referenz_links && vars.referenz_links.trim()) { insights.push({ json: { quelle: 'expert_input', subreddit_oder_kanal: 'expert', typ: 'knowledge_gain', inhalt: 'REFERENZEN: ' + vars.referenz_links.trim(), relevanz_score: 90, unique_angle: 'ja' } }); }\nif (insights.length === 0) { insights.push({ json: { quelle: 'expert_input', subreddit_oder_kanal: 'expert', typ: 'expert_take', inhalt: '(Kein Expert Input bereitgestellt)', relevanz_score: 0, unique_angle: 'nein' } }); }\nreturn insights;"
      },
      "id": "wf4-code-09",
      "name": "Expert Input als Insights formatieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        784
      ]
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "wf4-merge-10",
      "name": "Alle Insights zusammenfuehren",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1792,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.voyageai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"model\": \"voyage-3-lite\", \"input\": $input.all().map(function(i) { return i.json.inhalt; }).slice(0, 20) }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "wf4-http-11",
      "name": "Voyage AI Embeddings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2096,
        320
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 30000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "R6LLeI3G74Ju62Jv",
          "name": "VoyageAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const embeddingResponse = $input.first().json;\nconst embeddingData = embeddingResponse.data || [];\nconst mergeNodeName = 'Alle Insights zusammenfuehren';\nconst allInsights = $(mergeNodeName).all();\nfunction cosineSimilarity(a, b) { if (!a || !b || a.length !== b.length) return 0; let dot = 0, normA = 0, normB = 0; for (let i = 0; i < a.length; i++) { dot += a[i] * b[i]; normA += a[i] * a[i]; normB += b[i] * b[i]; } const denom = Math.sqrt(normA) * Math.sqrt(normB); return denom === 0 ? 0 : dot / denom; }\nconst enrichedInsights = [];\nfor (let i = 0; i < allInsights.length; i++) {\n  const insight = allInsights[i].json;\n  const embedding = embeddingData[i] ? embeddingData[i].embedding : null;\n  let maxSimilarityToOthers = 0;\n  let isUniqueAngle = false;\n  if (embedding) { for (let j = 0; j < embeddingData.length; j++) { if (i !== j && embeddingData[j]) { const sim = cosineSimilarity(embedding, embeddingData[j].embedding); if (sim > maxSimilarityToOthers) { maxSimilarityToOthers = sim; } } } isUniqueAngle = maxSimilarityToOthers < 0.65; }\n  enrichedInsights.push({ json: { quelle: insight.quelle || '', subreddit_oder_kanal: insight.subreddit_oder_kanal || '', typ: insight.typ || '', inhalt: insight.inhalt || '', relevanz_score: insight.relevanz_score || 0, unique_angle: isUniqueAngle ? 'ja' : (insight.unique_angle || 'nein'), gap_score: embedding ? Math.round((1 - maxSimilarityToOthers) * 100) : 0 } });\n}\nif (enrichedInsights.length === 0) { return [{ json: { quelle: 'system', subreddit_oder_kanal: '', typ: 'info', inhalt: 'Keine Insights fuer Gap Analysis vorhanden', relevanz_score: 0, unique_angle: 'nein', gap_score: 0 } }]; }\nreturn enrichedInsights;"
      },
      "id": "wf4-code-12",
      "name": "Gap Analysis - Luecken identifizieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2384,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst spreadsheetId = $('Variablen setzen').first().json.spreadsheet_id;\nconst headers = ['quelle', 'subreddit_oder_kanal', 'typ', 'inhalt', 'relevanz_score', 'unique_angle', 'gap_score'];\nconst rows = [headers];\nfor (const item of items) {\n  rows.push([\n    item.json.quelle || '',\n    item.json.subreddit_oder_kanal || '',\n    item.json.typ || '',\n    item.json.inhalt || '',\n    String(item.json.relevanz_score || 0),\n    item.json.unique_angle || '',\n    String(item.json.gap_score || 0)\n  ]);\n}\nreturn [{ json: { spreadsheet_id: spreadsheetId, values: rows } }];"
      },
      "id": "wf4-code-format",
      "name": "Format User Insights",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.spreadsheet_id }}/values/User%20Insights:append?valueInputOption=USER_ENTERED&insertDataOption=OVERWRITE",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ range: 'User Insights', majorDimension: 'ROWS', values: $json.values }) }}",
        "options": {}
      },
      "id": "wf4-http-write",
      "name": "User Insights Tab befuellen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2880,
        304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gw0DIdDENFkpE7ZW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('Variablen setzen').first().json.spreadsheet_id }}/values/Projekt!A2:B2?valueInputOption=USER_ENTERED",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ range: 'Projekt!A2:B2', majorDimension: 'ROWS', values: [['gliederung', new Date().toISOString()]] }) }}",
        "options": {}
      },
      "id": "wf4-http-status",
      "name": "Status auf gliederung setzen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3136,
        304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gw0DIdDENFkpE7ZW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## WF4: User Insight Mining v2\nTeil des 8-Workflow SEO Content Agent Systems\n\nSammelt User Insights aus Reddit und YouTube, kombiniert sie mit Expert Input (Formular) und fuehrt eine Voyage AI Gap Analysis durch."
      },
      "id": "wf4-sticky-01",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -224,
        64
      ]
    },
    {
      "parameters": {
        "content": "## Datenquellen (native n8n Nodes)\n- **Reddit**: n8n Reddit Node (OAuth2) - CREDENTIAL SETZEN!\n- **YouTube**: n8n YouTube Node (OAuth2) - CREDENTIAL SETZEN!\n- Dann Nodes aktivieren (derzeit disabled)"
      },
      "id": "wf4-sticky-02",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1088,
        -80
      ]
    },
    {
      "parameters": {
        "content": "## Voyage AI Gap Analysis\nErstellt Embeddings aller Insights, vergleicht per Cosine Similarity und markiert unique angles (Sim < 0.65)."
      },
      "id": "wf4-sticky-03",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1984,
        80
      ]
    }
  ],
  "connections": {
    "Expert Input Formular": {
      "main": [
        [
          {
            "node": "Variablen setzen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orchestrator-Trigger": {
      "main": [
        [
          {
            "node": "Variablen setzen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variablen setzen": {
      "main": [
        [
          {
            "node": "Keywords-Tab lesen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keywords-Tab lesen": {
      "main": [
        [
          {
            "node": "Suchbegriffe vorbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Suchbegriffe vorbereiten": {
      "main": [
        [
          {
            "node": "Reddit Suche",
            "type": "main",
            "index": 0
          },
          {
            "node": "YouTube Suche",
            "type": "main",
            "index": 0
          },
          {
            "node": "Expert Input als Insights formatieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reddit Suche": {
      "main": [
        [
          {
            "node": "Reddit Insights verarbeiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reddit Insights verarbeiten": {
      "main": [
        [
          {
            "node": "Alle Insights zusammenfuehren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Suche": {
      "main": [
        [
          {
            "node": "YouTube Insights verarbeiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Insights verarbeiten": {
      "main": [
        [
          {
            "node": "Alle Insights zusammenfuehren",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Expert Input als Insights formatieren": {
      "main": [
        [
          {
            "node": "Alle Insights zusammenfuehren",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Alle Insights zusammenfuehren": {
      "main": [
        [
          {
            "node": "Voyage AI Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voyage AI Embeddings": {
      "main": [
        [
          {
            "node": "Gap Analysis - Luecken identifizieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gap Analysis - Luecken identifizieren": {
      "main": [
        [
          {
            "node": "Format User Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format User Insights": {
      "main": [
        [
          {
            "node": "User Insights Tab befuellen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Insights Tab befuellen": {
      "main": [
        [
          {
            "node": "Status auf gliederung setzen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Berlin",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "tags": []
}