workflows/production/seo-content-agent/WF4-User-Insight-Mining.json
{
  "name": "WF4: User Insight Mining v2",
  "nodes": [
    {
      "parameters": {
        "formTitle": "WF4: Expert Input — User Insight Mining",
        "formDescription": "Gib die Spreadsheet-ID und optionalen Expert Input ein, um das User Insight Mining zu starten.",
        "formFields": {
          "values": [
            { "fieldLabel": "Spreadsheet ID", "fieldType": "text", "requiredField": true, "placeholder": "Google Sheets ID eingeben" },
            { "fieldLabel": "Expertenwissen", "fieldType": "textarea", "requiredField": false, "placeholder": "Dein Fachwissen, Erfahrungswerte, Brancheninsights..." },
            { "fieldLabel": "Zitate zum Einbauen", "fieldType": "textarea", "requiredField": false, "placeholder": "Zitate von Experten, Studien oder Quellen..." },
            { "fieldLabel": "Spezifische Perspektive / Unique Angle", "fieldType": "textarea", "requiredField": false, "placeholder": "Dein einzigartiger Blickwinkel auf das Thema..." },
            { "fieldLabel": "Referenz-Links", "fieldType": "text", "requiredField": false, "placeholder": "https://... (kommagetrennt)" }
          ]
        },
        "responseMode": "lastNode"
      },
      "id": "wf4-trigger-01",
      "name": "Expert Input Formular",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [0, 300],
      "webhookId": "wf4-user-insight-mining-v2"
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            { "id": "assign-spreadsheet-id", "name": "spreadsheet_id", "type": "string", "value": "={{ $json['Spreadsheet ID'] }}" },
            { "id": "assign-expertenwissen", "name": "expertenwissen", "type": "string", "value": "={{ $json['Expertenwissen'] || '' }}" },
            { "id": "assign-zitate", "name": "zitate", "type": "string", "value": "={{ $json['Zitate zum Einbauen'] || '' }}" },
            { "id": "assign-unique-angle", "name": "unique_angle", "type": "string", "value": "={{ $json['Spezifische Perspektive / Unique Angle'] || '' }}" },
            { "id": "assign-referenz-links", "name": "referenz_links", "type": "string", "value": "={{ $json['Referenz-Links'] || '' }}" }
          ]
        },
        "includeOtherFields": false
      },
      "id": "wf4-set-02",
      "name": "Variablen setzen",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [280, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $json.spreadsheet_id }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Keywords" },
        "filtersUI": { "values": [{ "lookupColumn": "ausgewaehlt", "lookupValue": "ja" }] },
        "range": "A:Z",
        "options": {}
      },
      "id": "wf4-sheets-03",
      "name": "Keywords-Tab lesen",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [560, 300],
      "credentials": { "googleSheetsOAuth2Api": { "id": "", "name": "Google Sheets OAuth2" } }
    },
    {
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "const keywords = $input.all().map(i => i.json.keyword).filter(Boolean);\nconst baseSubreddits = ['SEO', 'marketing', 'content_marketing', 'digital_marketing', 'blogging'];\nconst keywordSubreddits = keywords.map(k => k.toLowerCase().replace(/\\s+/g, '_'));\nconst subreddits = [...new Set([...baseSubreddits, ...keywordSubreddits])];\nconst redditQueries = keywords.map(k => `${k} tips OR advice OR how to OR problem OR frustration`);\nconst youtubeQueries = keywords.map(k => `${k} tutorial OR guide OR erklaerung`);\nconst vars = $('Variablen setzen').first().json;\nreturn [{ json: { keywords, subreddits, redditQueries, youtubeQueries, spreadsheet_id: vars.spreadsheet_id, expertenwissen: vars.expertenwissen, zitate: vars.zitate, unique_angle: vars.unique_angle, referenz_links: vars.referenz_links } }];"
      },
      "id": "wf4-code-04",
      "name": "Suchbegriffe vorbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 300]
    },
    {
      "parameters": {
        "resource": "Actors",
        "operation": "Run actor and get dataset",
        "actorId": "trudax/reddit-scraper",
        "customBody": "={{ JSON.stringify({ \"searches\": $json.redditQueries, \"searchSubreddits\": $json.subreddits, \"maxItems\": 20, \"sort\": \"relevance\", \"time\": \"year\" }) }}"
      },
      "id": "wf4-http-05",
      "name": "Apify Reddit Scraping",
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [1160, 140],
      "credentials": { "apifyApi": { "id": "", "name": "Apify API" } },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "const results = $input.all();\nif (!results || results.length === 0) {\n  return [{ json: { quelle: 'reddit', subreddit_oder_kanal: '', typ: 'keine_daten', inhalt: 'Keine Reddit-Ergebnisse gefunden', relevanz_score: 0, unique_angle: '' } }];\n}\nreturn results.map(item => {\n  const data = item.json;\n  const upvotes = data.score || data.ups || 0;\n  const body = data.body || data.selftext || '';\n  const title = data.title || '';\n  const content = (title + ' ' + body).slice(0, 2000);\n  let typ = 'frage';\n  const lowerContent = content.toLowerCase();\n  if (lowerContent.includes('?') || lowerContent.includes('wie ') || lowerContent.includes('how ') || lowerContent.includes('warum')) { typ = 'frage'; }\n  else if (lowerContent.includes('problem') || lowerContent.includes('frustrat') || lowerContent.includes('hate') || lowerContent.includes('sucks') || lowerContent.includes('struggle')) { typ = 'frustration'; }\n  else if (lowerContent.includes('solved') || lowerContent.includes('solution') || lowerContent.includes('loesung') || lowerContent.includes('tip') || lowerContent.includes('fixed')) { typ = 'loesung'; }\n  const relevanz_score = Math.min(100, Math.round(Math.log2(Math.max(1, upvotes)) * 10));\n  return { json: { quelle: 'reddit', subreddit_oder_kanal: data.subreddit || data.communityName || '', typ, inhalt: content, relevanz_score, unique_angle: '' } };\n});"
      },
      "id": "wf4-code-06",
      "name": "Reddit Insights verarbeiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1460, 140]
    },
    {
      "parameters": {
        "resource": "Actors",
        "operation": "Run actor and get dataset",
        "actorId": "bernardo/youtube-scraper",
        "customBody": "={{ JSON.stringify({ \"searchQueries\": $json.youtubeQueries, \"maxResults\": 10, \"maxResultsShorts\": 0 }) }}"
      },
      "id": "wf4-http-07",
      "name": "Apify YouTube Scraping",
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [1160, 460],
      "credentials": { "apifyApi": { "id": "", "name": "Apify API" } },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "const results = $input.all();\nif (!results || results.length === 0) {\n  return [{ json: { quelle: 'youtube', subreddit_oder_kanal: '', typ: 'keine_daten', inhalt: 'Keine YouTube-Ergebnisse gefunden', relevanz_score: 0, unique_angle: '' } }];\n}\nreturn results.map(item => {\n  const data = item.json;\n  const views = data.viewCount || data.views || 0;\n  const title = data.title || '';\n  const description = (data.description || '').slice(0, 1500);\n  const content = (title + ' - ' + description).slice(0, 2000);\n  const channel = data.channelName || data.channelTitle || data.author || '';\n  let typ = 'loesung';\n  const lowerTitle = title.toLowerCase();\n  if (lowerTitle.includes('tutorial') || lowerTitle.includes('how to') || lowerTitle.includes('guide') || lowerTitle.includes('anleitung')) { typ = 'loesung'; }\n  else if (lowerTitle.includes('review') || lowerTitle.includes('vergleich') || lowerTitle.includes('vs')) { typ = 'vergleich'; }\n  else if (lowerTitle.includes('mistake') || lowerTitle.includes('fehler') || lowerTitle.includes('avoid') || lowerTitle.includes('problem')) { typ = 'frustration'; }\n  const relevanz_score = Math.min(100, Math.round(Math.log10(Math.max(1, views)) * 15));\n  return { json: { quelle: 'youtube', subreddit_oder_kanal: channel, typ, inhalt: content, relevanz_score, unique_angle: '' } };\n});"
      },
      "id": "wf4-code-08",
      "name": "YouTube Insights verarbeiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1460, 460]
    },
    {
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "const triggerData = $input.first().json;\nconst vars = $('Variablen setzen').first().json;\nconst insights = [];\nif (vars.expertenwissen && vars.expertenwissen.trim()) { insights.push({ json: { quelle: 'expert_input', subreddit_oder_kanal: 'expert', typ: 'expert_take', inhalt: vars.expertenwissen.trim(), relevanz_score: 100, unique_angle: 'ja' } }); }\nif (vars.zitate && vars.zitate.trim()) { insights.push({ json: { quelle: 'expert_input', subreddit_oder_kanal: 'expert', typ: 'knowledge_gain', inhalt: 'ZITAT: ' + vars.zitate.trim(), relevanz_score: 95, unique_angle: 'ja' } }); }\nif (vars.unique_angle && vars.unique_angle.trim()) { insights.push({ json: { quelle: 'expert_input', subreddit_oder_kanal: 'expert', typ: 'expert_take', inhalt: 'UNIQUE ANGLE: ' + vars.unique_angle.trim(), relevanz_score: 100, unique_angle: 'ja' } }); }\nif (vars.referenz_links && vars.referenz_links.trim()) { insights.push({ json: { quelle: 'expert_input', subreddit_oder_kanal: 'expert', typ: 'knowledge_gain', inhalt: 'REFERENZEN: ' + vars.referenz_links.trim(), relevanz_score: 90, unique_angle: 'ja' } }); }\nif (insights.length === 0) { insights.push({ json: { quelle: 'expert_input', subreddit_oder_kanal: 'expert', typ: 'expert_take', inhalt: '(Kein Expert Input bereitgestellt)', relevanz_score: 0, unique_angle: 'nein' } }); }\nreturn insights;"
      },
      "id": "wf4-code-09",
      "name": "Expert Input als Insights formatieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1460, 780]
    },
    {
      "parameters": { "mode": "append", "numberInputs": 3 },
      "id": "wf4-merge-10",
      "name": "Alle Insights zusammenfuehren",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.voyageai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"model\": \"voyage-large-2\", \"input\": $input.all().map(function(i) { return i.json.inhalt; }).slice(0, 50) }) }}",
        "options": { "timeout": 60000 }
      },
      "id": "wf4-http-11",
      "name": "Voyage AI Embeddings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2080, 300],
      "credentials": { "httpHeaderAuth": { "id": "", "name": "Voyage AI API" } },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "const embeddingResponse = $input.first().json;\nconst embeddingData = embeddingResponse.data || [];\nconst mergeNodeName = 'Alle Insights zusammenfuehren';\nconst allInsights = $(mergeNodeName).all();\nfunction cosineSimilarity(a, b) { if (!a || !b || a.length !== b.length) return 0; let dot = 0, normA = 0, normB = 0; for (let i = 0; i < a.length; i++) { dot += a[i] * b[i]; normA += a[i] * a[i]; normB += b[i] * b[i]; } const denom = Math.sqrt(normA) * Math.sqrt(normB); return denom === 0 ? 0 : dot / denom; }\nconst enrichedInsights = [];\nfor (let i = 0; i < allInsights.length; i++) {\n  const insight = allInsights[i].json;\n  const embedding = embeddingData[i] ? embeddingData[i].embedding : null;\n  let maxSimilarityToOthers = 0;\n  let isUniqueAngle = false;\n  if (embedding) { for (let j = 0; j < embeddingData.length; j++) { if (i !== j && embeddingData[j]) { const sim = cosineSimilarity(embedding, embeddingData[j].embedding); if (sim > maxSimilarityToOthers) { maxSimilarityToOthers = sim; } } } isUniqueAngle = maxSimilarityToOthers < 0.65; }\n  enrichedInsights.push({ json: { quelle: insight.quelle || '', subreddit_oder_kanal: insight.subreddit_oder_kanal || '', typ: insight.typ || '', inhalt: insight.inhalt || '', relevanz_score: insight.relevanz_score || 0, unique_angle: isUniqueAngle ? 'ja' : (insight.unique_angle || 'nein'), gap_score: embedding ? Math.round((1 - maxSimilarityToOthers) * 100) : 0 } });\n}\nif (enrichedInsights.length === 0) { return [{ json: { quelle: 'system', subreddit_oder_kanal: '', typ: 'info', inhalt: 'Keine Insights fuer Gap Analysis vorhanden', relevanz_score: 0, unique_angle: 'nein', gap_score: 0 } }]; }\nreturn enrichedInsights;"
      },
      "id": "wf4-code-12",
      "name": "Gap Analysis - Luecken identifizieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2380, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $('Variablen setzen').first().json.spreadsheet_id }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "User_Insights" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "quelle": "={{ $json.quelle }}", "subreddit_oder_kanal": "={{ $json.subreddit_oder_kanal }}",
            "typ": "={{ $json.typ }}", "inhalt": "={{ $json.inhalt }}",
            "relevanz_score": "={{ $json.relevanz_score }}", "unique_angle": "={{ $json.unique_angle }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "quelle", "displayName": "quelle", "display": true, "type": "string" },
            { "id": "subreddit_oder_kanal", "displayName": "subreddit_oder_kanal", "display": true, "type": "string" },
            { "id": "typ", "displayName": "typ", "display": true, "type": "string" },
            { "id": "inhalt", "displayName": "inhalt", "display": true, "type": "string" },
            { "id": "relevanz_score", "displayName": "relevanz_score", "display": true, "type": "number" },
            { "id": "unique_angle", "displayName": "unique_angle", "display": true, "type": "string" }
          ]
        },
        "range": "A:F",
        "options": {}
      },
      "id": "wf4-sheets-13",
      "name": "User_Insights-Tab befuellen",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [2680, 200],
      "credentials": { "googleSheetsOAuth2Api": { "id": "", "name": "Google Sheets OAuth2" } }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $('Variablen setzen').first().json.spreadsheet_id }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Projekt" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": { "status": "gliederung", "wf4_completed": "={{ $now.toISO() }}" },
          "matchingColumns": ["projekt_id"],
          "schema": [
            { "id": "status", "displayName": "status", "display": true, "type": "string" },
            { "id": "wf4_completed", "displayName": "wf4_completed", "display": true, "type": "string" },
            { "id": "projekt_id", "displayName": "projekt_id", "defaultMatch": true, "canBeUsedToMatch": true, "display": true, "type": "string" }
          ]
        },
        "range": "A:Z",
        "options": {}
      },
      "id": "wf4-sheets-14",
      "name": "Status auf gliederung setzen",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [2680, 460],
      "credentials": { "googleSheetsOAuth2Api": { "id": "", "name": "Google Sheets OAuth2" } }
    },
    {
      "parameters": {
        "content": "## WF4: User Insight Mining v2\n**Teil des 8-Workflow SEO Content Agent Systems**\n\nSammelt User Insights aus Reddit und YouTube via Apify (native Node),\nkombiniert sie mit Expert Input (Formular) und fuehrt\neine Voyage AI Gap Analysis durch.",
        "width": 460, "height": 260, "color": 4
      },
      "id": "wf4-sticky-01",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-220, 60]
    },
    {
      "parameters": {
        "content": "## Apify Actors (Native Community Node)\n- **Node:** @apify/n8n-nodes-apify.apify\n- **Reddit:** trudax/reddit-scraper\n- **YouTube:** bernardo/youtube-scraper\n\nOperation: Run actor and get dataset\nretryOnFail: true | maxTries: 2\nAuth: Apify API Credentials",
        "width": 400, "height": 160, "color": 6
      },
      "id": "wf4-sticky-02",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1080, -80]
    },
    {
      "parameters": {
        "content": "## Voyage AI Gap Analysis\nErstellt Embeddings aller Insights,\nvergleicht per Cosine Similarity und\nmarkiert unique angles (Sim < 0.65).",
        "width": 340, "height": 130, "color": 3
      },
      "id": "wf4-sticky-03",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1980, 80]
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            { "name": "spreadsheet_id" },
            { "name": "expertenwissen" },
            { "name": "zitate" },
            { "name": "unique_angle" },
            { "name": "referenz_links" }
          ]
        }
      },
      "id": "exec-trigger-wf4",
      "name": "Orchestrator-Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 600]
    }
  ],
  "connections": {
    "Expert Input Formular": { "main": [[{ "node": "Variablen setzen", "type": "main", "index": 0 }]] },
    "Variablen setzen": { "main": [[{ "node": "Keywords-Tab lesen", "type": "main", "index": 0 }]] },
    "Keywords-Tab lesen": { "main": [[{ "node": "Suchbegriffe vorbereiten", "type": "main", "index": 0 }]] },
    "Suchbegriffe vorbereiten": { "main": [[{ "node": "Apify Reddit Scraping", "type": "main", "index": 0 }, { "node": "Apify YouTube Scraping", "type": "main", "index": 0 }, { "node": "Expert Input als Insights formatieren", "type": "main", "index": 0 }]] },
    "Apify Reddit Scraping": { "main": [[{ "node": "Reddit Insights verarbeiten", "type": "main", "index": 0 }]] },
    "Reddit Insights verarbeiten": { "main": [[{ "node": "Alle Insights zusammenfuehren", "type": "main", "index": 0 }]] },
    "Apify YouTube Scraping": { "main": [[{ "node": "YouTube Insights verarbeiten", "type": "main", "index": 0 }]] },
    "YouTube Insights verarbeiten": { "main": [[{ "node": "Alle Insights zusammenfuehren", "type": "main", "index": 1 }]] },
    "Expert Input als Insights formatieren": { "main": [[{ "node": "Alle Insights zusammenfuehren", "type": "main", "index": 2 }]] },
    "Alle Insights zusammenfuehren": { "main": [[{ "node": "Voyage AI Embeddings", "type": "main", "index": 0 }]] },
    "Voyage AI Embeddings": { "main": [[{ "node": "Gap Analysis - Luecken identifizieren", "type": "main", "index": 0 }]] },
    "Gap Analysis - Luecken identifizieren": { "main": [[{ "node": "User_Insights-Tab befuellen", "type": "main", "index": 0 }, { "node": "Status auf gliederung setzen", "type": "main", "index": 0 }]] },
    "Orchestrator-Trigger": { "main": [[{ "node": "Variablen setzen", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Berlin",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}