workflows/production/seo-content-agent/WF6-Content-Erstellung.json
{
  "id": "1E2YBYz9UUB5wb2q",
  "name": "SEO Agent — WF6: Content-Erstellung",
  "active": true,
  "nodes": [
    {
      "id": "wf6-trigger",
      "name": "Content-Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "inputSource": "passthrough"
      }
    },
    {
      "id": "set-wf6-vars",
      "name": "WF6 Variablen",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        250,
        0
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "spreadsheet_id",
              "name": "spreadsheet_id",
              "value": "={{ $json.spreadsheet_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "read-gliederung",
      "name": "Sheets — Gliederung lesen",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        500,
        -100
      ],
      "parameters": {
        "operation": "read",
        "documentId": {
          "mode": "id",
          "value": "={{ $json.spreadsheet_id }}"
        },
        "sheetName": {
          "mode": "name",
          "value": "Gliederung"
        },
        "range": "A:G",
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gw0DIdDENFkpE7ZW",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "read-analyse-wf6",
      "name": "Sheets — Analyse lesen",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        500,
        100
      ],
      "parameters": {
        "operation": "read",
        "documentId": {
          "mode": "id",
          "value": "={{ $json.spreadsheet_id }}"
        },
        "sheetName": {
          "mode": "name",
          "value": "Semantische Analyse"
        },
        "range": "A:E",
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gw0DIdDENFkpE7ZW",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "prepare-sections",
      "name": "Sektionen vorbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "let gliederung = [];\ntry { gliederung = $('Sheets — Gliederung lesen').all().map(i => i.json); } catch(e) {}\nlet analyse = [];\ntry { analyse = $('Sheets — Analyse lesen').all().map(i => i.json); } catch(e) {}\nconst spreadsheetId = $('WF6 Variablen').first().json.spreadsheet_id;\nif (gliederung.length === 0) { return [{ json: { error: 'Keine Gliederung', spreadsheet_id: spreadsheetId } }]; }\nconst sections = gliederung.filter(g => g.freigabe === 'ja' || g.freigabe === 'angepasst');\nconst activeSections = sections.length > 0 ? sections : gliederung;\nconst outlineContext = activeSections.map(s => `${s.ebene}: ${s.ueberschrift} (${s.typ}) - ${s.stichpunkte}`).join('\\n');\nconst analyseContext = analyse.map(a => `[${a.kategorie}] ${a.keyword_oder_thema}: ${a.details}`).join('\\n');\nreturn activeSections.map(section => ({ json: { position: section.position, ebene: section.ebene, ueberschrift: section.ueberschrift, typ: section.typ, stichpunkte: section.stichpunkte, basiert_auf: section.basiert_auf, outline_context: outlineContext, analyse_context: analyseContext, spreadsheet_id: spreadsheetId } }));"
      }
    },
    {
      "id": "section-batch",
      "name": "Sektionen einzeln verarbeiten",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1050,
        0
      ],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "claude-write",
      "name": "Claude — Sektion schreiben",
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        1300,
        0
      ],
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "mode": "id",
          "value": "claude-sonnet-4-20250514"
        },
        "messages": {
          "values": [
            {
              "content": "=Schreibe den folgenden Abschnitt:\n\nÜBERSCHRIFT: {{ $json.ueberschrift }}\nEBENE: {{ $json.ebene }}\nTYP: {{ $json.typ }}\nSTICHPUNKTE: {{ $json.stichpunkte }}\nBASIS: {{ $json.basiert_auf }}\n\nGESAMTE GLIEDERUNG:\n{{ $json.outline_context }}\n\nSEMANTISCHE ANALYSE:\n{{ $json.analyse_context }}",
              "role": "user"
            }
          ]
        },
        "simplify": true,
        "options": {
          "system": "Du bist ein erfahrener SEO-Texter. Schreibe einen Artikel-Abschnitt in natürlichem, lesbarem Deutsch.",
          "maxTokens": 3000
        }
      },
      "credentials": {
        "anthropicApi": {
          "id": "xJGzDv9YCgZEHb2E",
          "name": "Claude - 20260127"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "extract-content",
      "name": "Content extrahieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1550,
        0
      ],
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst sectionData = $('Sektionen einzeln verarbeiten').first().json;\nlet content = '';\ntry { content = response.content?.[0]?.text || response.content || ''; } catch (e) { content = 'Fehler: ' + e.message; }\nreturn [{ json: { abschnitt: sectionData.ueberschrift, position: sectionData.position, ebene: sectionData.ebene, content_raw: content, content_humanized: '', content_final: '', spreadsheet_id: sectionData.spreadsheet_id } }];"
      }
    },
    {
      "id": "write-draft",
      "name": "Sheets — Content Draft schreiben",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.spreadsheet_id }}/values/Content%20Draft!A:D:append",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "valueInputOption",
              "value": "USER_ENTERED"
            },
            {
              "name": "insertDataOption",
              "value": "INSERT_ROWS"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ values: [[$json.abschnitt, $json.content_raw, '', '']] }) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gw0DIdDENFkpE7ZW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "update-status-wf6",
      "name": "Sheets — Status auf qa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2050,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('WF6 Variablen').first().json.spreadsheet_id }}/values/Projekt!A:C:append",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "valueInputOption",
              "value": "USER_ENTERED"
            },
            {
              "name": "insertDataOption",
              "value": "INSERT_ROWS"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ values: [[$('WF6 Variablen').first().json.spreadsheet_id, 'qa', new Date().toISOString()]] }) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gw0DIdDENFkpE7ZW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "sticky-wf6",
      "name": "WF6: Content-Erstellung",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -200,
        -300
      ],
      "parameters": {
        "content": "## WF6: Content-Erstellung\n\nSchreibt den Artikel sektionsweise mit Claude"
      }
    }
  ],
  "connections": {
    "Content-Trigger": {
      "main": [
        [
          {
            "node": "WF6 Variablen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF6 Variablen": {
      "main": [
        [
          {
            "node": "Sheets — Gliederung lesen",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sheets — Analyse lesen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets — Gliederung lesen": {
      "main": [
        [
          {
            "node": "Sektionen vorbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets — Analyse lesen": {
      "main": [
        [
          {
            "node": "Sektionen vorbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sektionen vorbereiten": {
      "main": [
        [
          {
            "node": "Sektionen einzeln verarbeiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sektionen einzeln verarbeiten": {
      "main": [
        [
          {
            "node": "Sheets — Status auf qa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Claude — Sektion schreiben",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude — Sektion schreiben": {
      "main": [
        [
          {
            "node": "Content extrahieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content extrahieren": {
      "main": [
        [
          {
            "node": "Sheets — Content Draft schreiben",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets — Content Draft schreiben": {
      "main": [
        [
          {
            "node": "Sektionen einzeln verarbeiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Berlin"
  }
}