workflows/linkedin-message-monitoring-phantombuster.json
{
  "name": "LinkedIn Message Monitoring (PhantomBuster)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily 7AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "resource": "agent",
        "operation": "launch",
        "agentId": "={{ $env.PHANTOMBUSTER_INBOX_SCRAPER_ID }}",
        "resolveData": true,
        "additionalFields": {}
      },
      "id": "launch-phantom",
      "name": "Launch Inbox Scraper",
      "type": "n8n-nodes-base.phantombuster",
      "typeVersion": 1,
      "position": [220, 0],
      "credentials": {
        "phantombusterApi": {
          "id": "PHANTOMBUSTER_CREDENTIALS_ID",
          "name": "PhantomBuster API"
        }
      }
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "wait-for-phantom",
      "name": "Wait for Phantom",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [440, 0],
      "webhookId": "wait-phantom"
    },
    {
      "parameters": {
        "resource": "agent",
        "operation": "getOutput",
        "agentId": "={{ $env.PHANTOMBUSTER_INBOX_SCRAPER_ID }}",
        "resolveData": true,
        "additionalFields": {}
      },
      "id": "get-phantom-output",
      "name": "Get Inbox Scraper Output",
      "type": "n8n-nodes-base.phantombuster",
      "typeVersion": 1,
      "position": [660, 0],
      "credentials": {
        "phantombusterApi": {
          "id": "PHANTOMBUSTER_CREDENTIALS_ID",
          "name": "PhantomBuster API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// PhantomBuster LinkedIn Inbox Scraper output fields:\n// - threadUrl: URL of the conversation thread\n// - participantName: Name of the other participant\n// - participantProfileUrl: LinkedIn profile URL\n// - lastMessageDate: Timestamp of the last message\n// - lastMessageText: Content of the last message\n// - lastMessageSender: Who sent the last message (you or them)\n// - isRead: Whether the thread has been read\n// - messageCount: Total messages in thread\n\nconst output = $input.first().json;\nconst threads = output.resultObject || output.output || output.data || [];\n\nif (!Array.isArray(threads) || threads.length === 0) {\n  return [{ json: { hasResults: false, unansweredChats: [] } }];\n}\n\nconst now = new Date();\nconst unansweredChats = [];\n\n// Get your LinkedIn name from env or first thread where you're the sender\nconst myName = $env.LINKEDIN_MY_NAME || '';\n\nfor (const thread of threads) {\n  // Parse the last message date\n  const lastMessageDate = new Date(thread.lastMessageDate || thread.timestamp || thread.date);\n  const daysSinceLastMessage = (now - lastMessageDate) / (1000 * 60 * 60 * 24);\n  \n  // Check if the last message was sent by me\n  // PhantomBuster typically marks this as \"You\" or uses your name\n  const lastMessageFromMe = \n    thread.lastMessageSender === 'You' ||\n    thread.lastMessageSender === myName ||\n    thread.isSentByMe === true ||\n    thread.direction === 'outbound' ||\n    thread.sentByYou === true;\n  \n  // Filter: 3-8 days old and sent by me (waiting for response)\n  if (lastMessageFromMe && daysSinceLastMessage >= 3 && daysSinceLastMessage <= 8) {\n    unansweredChats.push({\n      chatId: thread.threadUrl || thread.conversationId || thread.id,\n      contactName: thread.participantName || thread.name || thread.fullName || 'Unknown Contact',\n      lastMessageDate: lastMessageDate.toISOString(),\n      daysSinceLastMessage: Math.floor(daysSinceLastMessage),\n      lastMessagePreview: (thread.lastMessageText || thread.lastMessage || thread.preview || '').substring(0, 100),\n      profileUrl: thread.participantProfileUrl || thread.profileUrl || thread.linkedinUrl || thread.threadUrl || '#'\n    });\n  }\n}\n\nreturn [{ \n  json: { \n    hasResults: unansweredChats.length > 0,\n    unansweredChats: unansweredChats,\n    totalScanned: threads.length,\n    totalUnanswered: unansweredChats.length\n  } \n}];"
      },
      "id": "filter-messages",
      "name": "Filter Unanswered (3-8 days)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-results",
              "leftValue": "={{ $json.hasResults }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-results",
      "name": "If Has Unanswered",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst chats = data.unansweredChats || [];\n\nif (chats.length === 0) {\n  return [{ json: { emailBody: '', subject: '' } }];\n}\n\n// Build email HTML\nlet emailBody = `\n<h2>LinkedIn Nachrichten - Erinnerung</h2>\n<p>Die folgenden Kontakte haben seit 3-8 Tagen nicht auf Ihre Nachricht geantwortet:</p>\n<p style=\"color: #666; font-size: 12px;\">Gescannte Threads: ${data.totalScanned} | Unbeantwortete: ${data.totalUnanswered}</p>\n<table style=\"border-collapse: collapse; width: 100%; font-family: Arial, sans-serif;\">\n  <tr style=\"background-color: #0077B5; color: white;\">\n    <th style=\"padding: 12px; text-align: left; border: 1px solid #ddd;\">Kontakt</th>\n    <th style=\"padding: 12px; text-align: left; border: 1px solid #ddd;\">Tage</th>\n    <th style=\"padding: 12px; text-align: left; border: 1px solid #ddd;\">Datum</th>\n    <th style=\"padding: 12px; text-align: left; border: 1px solid #ddd;\">Letzte Nachricht</th>\n  </tr>\n`;\n\nchats.forEach((chat, index) => {\n  const bgColor = index % 2 === 0 ? '#f9f9f9' : '#ffffff';\n  const preview = chat.lastMessagePreview ? chat.lastMessagePreview + '...' : '(keine Vorschau)';\n  emailBody += `\n  <tr style=\"background-color: ${bgColor};\">\n    <td style=\"padding: 10px; border: 1px solid #ddd;\">\n      <a href=\"${chat.profileUrl}\" style=\"color: #0077B5; text-decoration: none; font-weight: bold;\">${chat.contactName}</a>\n    </td>\n    <td style=\"padding: 10px; border: 1px solid #ddd; text-align: center;\">${chat.daysSinceLastMessage}</td>\n    <td style=\"padding: 10px; border: 1px solid #ddd;\">${new Date(chat.lastMessageDate).toLocaleDateString('de-DE')}</td>\n    <td style=\"padding: 10px; border: 1px solid #ddd; font-style: italic; color: #555;\">${preview}</td>\n  </tr>\n`;\n});\n\nemailBody += `\n</table>\n<p style=\"margin-top: 20px; color: #888; font-size: 11px;\">Generiert am ${new Date().toLocaleDateString('de-DE')} um ${new Date().toLocaleTimeString('de-DE')} via PhantomBuster</p>\n`;\n\nconst subject = `LinkedIn: ${chats.length} unbeantwortete Nachricht${chats.length > 1 ? 'en' : ''} (3-8 Tage)`;\n\nreturn [{\n  json: {\n    emailBody: emailBody,\n    subject: subject,\n    totalCount: chats.length\n  }\n}];"
      },
      "id": "build-email",
      "name": "Build Email Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, -100]
    },
    {
      "parameters": {
        "sendTo": "={{ $env.NOTIFICATION_EMAIL }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.emailBody }}",
        "options": {}
      },
      "id": "send-gmail",
      "name": "Send Gmail Notification",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1540, -100],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CREDENTIALS_ID",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {},
      "id": "no-action",
      "name": "No Unanswered Messages",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1320, 100]
    }
  ],
  "connections": {
    "Daily 7AM Trigger": {
      "main": [
        [
          {
            "node": "Launch Inbox Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Launch Inbox Scraper": {
      "main": [
        [
          {
            "node": "Wait for Phantom",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Phantom": {
      "main": [
        [
          {
            "node": "Get Inbox Scraper Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Inbox Scraper Output": {
      "main": [
        [
          {
            "node": "Filter Unanswered (3-8 days)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Unanswered (3-8 days)": {
      "main": [
        [
          {
            "node": "If Has Unanswered",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Has Unanswered": {
      "main": [
        [
          {
            "node": "Build Email Content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Unanswered Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email Content": {
      "main": [
        [
          {
            "node": "Send Gmail Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "tags": [
    {
      "name": "LinkedIn",
      "id": "linkedin"
    },
    {
      "name": "Monitoring",
      "id": "monitoring"
    },
    {
      "name": "PhantomBuster",
      "id": "phantombuster"
    }
  ]
}
