workflows/MO - Social Media Content Automation - VaSi (1).json
{
  "name": "MO - Social Media Content Automation - VaSi",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * 1-6"
            }
          ]
        }
      },
      "id": "e28e1fc5-8b5b-40a5-a8ac-965a732c785c",
      "name": "Scheduled Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2416,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst dayOfWeek = now.getDay(); // 0 = Sonntag, 1 = Montag, ...\n\nconst dayMapping = {\n  1: { post_type: 'authority_builder', image_type: 'karikatur', weekday: 'Montag' },\n  2: { post_type: 'client_win', image_type: 'karikatur', weekday: 'Dienstag' },\n  3: { post_type: 'controversy', image_type: 'karikatur', weekday: 'Mittwoch' },\n  4: { post_type: 'mistake', image_type: 'ugc', weekday: 'Donnerstag' },\n  5: { post_type: 'audit', image_type: 'karikatur', weekday: 'Freitag' },\n  6: { post_type: 'how_to', image_type: 'ugc', weekday: 'Samstag' }\n};\n\nconst todayConfig = dayMapping[dayOfWeek];\n\nif (!todayConfig) {\n  throw new Error('Sonntag - kein Post geplant');\n}\n\nreturn [{\n  json: {\n    ...todayConfig,\n    date: now.toISOString().split('T')[0],\n    timestamp: now.toISOString()\n  }\n}];"
      },
      "id": "d551222a-cb04-4002-8cb2-0a3be78fe18b",
      "name": "Wochentag ermitteln",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2208,
        144
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1l2TXdhKnE9RfFgSaJFzfvujGp8Q5HEj5UJY5Z6_RfB4",
          "mode": "list",
          "cachedResultName": "Social Media Content Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l2TXdhKnE9RfFgSaJFzfvujGp8Q5HEj5UJY5Z6_RfB4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Business_Info",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l2TXdhKnE9RfFgSaJFzfvujGp8Q5HEj5UJY5Z6_RfB4/edit#gid=0"
        },
        "options": {}
      },
      "id": "d72f8466-48a5-4a57-ade5-74abcaecbe4b",
      "name": "Google Sheets - Business Info",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1984,
        144
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gw0DIdDENFkpE7ZW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1l2TXdhKnE9RfFgSaJFzfvujGp8Q5HEj5UJY5Z6_RfB4",
          "mode": "list",
          "cachedResultName": "Social Media Content Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l2TXdhKnE9RfFgSaJFzfvujGp8Q5HEj5UJY5Z6_RfB4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 430229644,
          "mode": "list",
          "cachedResultName": "Post_Content",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l2TXdhKnE9RfFgSaJFzfvujGp8Q5HEj5UJY5Z6_RfB4/edit#gid=430229644"
        },
        "options": {}
      },
      "id": "2ce755a8-52d3-4bb8-81dc-1285d0fcddee",
      "name": "Google Sheets - Content laden",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1760,
        144
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gw0DIdDENFkpE7ZW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const postType = $('Wochentag ermitteln').item.json.post_type;\nconst allContent = $('Google Sheets - Content laden').all();\n\n// Filter: passender post_type UND status = \"ready\"\nconst readyContent = allContent.filter(item => \n  item.json.post_type === postType && \n  item.json.status === 'ready'\n);\n\nif (readyContent.length === 0) {\n  throw new Error(`Kein Content mit status \"ready\" für post_type \"${postType}\" gefunden!`);\n}\n\n// Zufällige Auswahl\nconst randomIndex = Math.floor(Math.random() * readyContent.length);\nconst selectedContent = readyContent[randomIndex];\n\nreturn [selectedContent];"
      },
      "id": "aad687b9-b11b-4e12-b7a6-cc4569e01d43",
      "name": "Content filtern & auswählen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1536,
        144
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1l2TXdhKnE9RfFgSaJFzfvujGp8Q5HEj5UJY5Z6_RfB4",
          "mode": "list",
          "cachedResultName": "Social Media Content Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l2TXdhKnE9RfFgSaJFzfvujGp8Q5HEj5UJY5Z6_RfB4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 151734917,
          "mode": "list",
          "cachedResultName": "Prompts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l2TXdhKnE9RfFgSaJFzfvujGp8Q5HEj5UJY5Z6_RfB4/edit#gid=151734917"
        },
        "options": {}
      },
      "id": "3a2ed890-a422-4893-ad84-016615199dba",
      "name": "Google Sheets - Prompts laden",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1328,
        144
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gw0DIdDENFkpE7ZW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const postType = $('Wochentag ermitteln').item.json.post_type;\nconst allPrompts = $('Google Sheets - Prompts laden').all();\n\n// Filter: passender post_type\nconst matchingPrompts = allPrompts.filter(item => \n  item.json.post_type === postType\n);\n\nif (matchingPrompts.length === 0) {\n  throw new Error(`Keine Prompts für post_type \"${postType}\" gefunden!`);\n}\n\n// Zufällige Auswahl\nconst randomIndex = Math.floor(Math.random() * matchingPrompts.length);\nconst selectedPrompt = matchingPrompts[randomIndex];\n\nreturn [selectedPrompt];"
      },
      "id": "85746a77-6fd3-484d-ab38-1b3d11574730",
      "name": "Prompt filtern & auswählen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1104,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "const businessInfo = $('Google Sheets - Business Info').item.json;\nconst weekdayInfo = $('Wochentag ermitteln').item.json;\nconst contentData = $('Content filtern & auswählen').item.json;\nconst promptData = $('Prompt filtern & auswählen').item.json;\n\nconst systemPrompt = `Du bist ein erfahrener Social Media Content Writer für den deutschen Markt. \n\nDeine Aufgabe:\n- Schreibe Posts auf Deutsch\n- Halte dich exakt an das angegebene Format und die Wortanzahl\n- Verwende den angegebenen Tone of Voice\n- Mache den Content spezifisch und konkret, nicht generisch\n- Nutze kurze Sätze und Absätze für bessere Lesbarkeit\n- Verwende Emojis sparsam und nur wenn sie passen\n- Formatiere für LinkedIn (Zeilenumbrüche für Lesbarkeit)\n\nAntworte NUR mit dem fertigen Post-Text. Keine Erklärungen, keine Einleitung.`;\n\nconst userMessage = `### Business Kontext:\n- Firma: ${businessInfo.business_name}\n- Branche: ${businessInfo.industry}\n- Zielgruppe (ICP): ${businessInfo.icp_name}\n- Pain Points der Zielgruppe: ${businessInfo.icp_pain_points}\n- Gewünschte Ergebnisse: ${businessInfo.icp_desired_outcomes}\n- Tone of Voice: ${businessInfo.tone_of_voice}\n- Standard CTA: ${businessInfo.cta_default}\n\n### Post-Typ: ${weekdayInfo.post_type}\n\n### Content-Daten für diesen Post:\n${JSON.stringify(contentData, null, 2)}\n\n### Prompt/Anweisungen:\n${promptData.prompt_text}\n\n---\n\nSchreibe jetzt den Post auf Deutsch. Nutze die Content-Daten um den Prompt zu füllen.`;\n\nreturn [{\n  json: {\n    systemPrompt,\n    userMessage,\n    businessInfo,\n    weekdayInfo,\n    contentData,\n    promptData\n  }\n}];"
      },
      "id": "67369eed-1f99-4842-84eb-83e5ea4aceb9",
      "name": "Claude Prompt vorbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        144
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "generated-text",
              "name": "generated_text",
              "value": "={{ $json.content[0].text }}",
              "type": "string"
            },
            {
              "id": "business-info",
              "name": "businessInfo",
              "value": "={{ $('Claude Prompt vorbereiten').item.json.businessInfo }}",
              "type": "object"
            },
            {
              "id": "weekday-info",
              "name": "weekdayInfo",
              "value": "={{ $('Claude Prompt vorbereiten').item.json.weekdayInfo }}",
              "type": "object"
            },
            {
              "id": "content-data",
              "name": "contentData",
              "value": "={{ $('Claude Prompt vorbereiten').item.json.contentData }}",
              "type": "object"
            },
            {
              "id": "prompt-data",
              "name": "promptData",
              "value": "={{ $('Claude Prompt vorbereiten').item.json.promptData }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "607c12a3-af88-40e8-b158-db6484f2067b",
      "name": "Claude Antwort extrahieren",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        144
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.weekdayInfo.image_type }}",
                    "rightValue": "ugc",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "UGC Path"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.weekdayInfo.image_type }}",
                    "rightValue": "karikatur",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Karikatur Path"
            }
          ]
        },
        "options": {}
      },
      "id": "d0eb8b26-7801-42ec-bdb8-b285aebb76af",
      "name": "Switch - UGC oder Karikatur",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -224,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $('HTTP - Google Drive Bilder Listen').item.json;\nconst files = response.files;\nconst previousData = $('Claude Antwort extrahieren').item.json;\n\nif (!files || files.length === 0) {\n  throw new Error('Keine Bilder im Google Drive Ordner gefunden!');\n}\n\n// Zufällige Auswahl\nconst randomIndex = Math.floor(Math.random() * files.length);\nconst selectedFile = files[randomIndex];\n\nreturn [{\n  json: {\n    ...previousData,\n    selectedImageId: selectedFile.id,\n    selectedImageName: selectedFile.name\n  }\n}];\n"
      },
      "id": "61866dd6-90d8-4573-a500-a8a6a8524bae",
      "name": "Zufälliges Bild auswählen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.selectedImageId }}"
        },
        "options": {}
      },
      "id": "2027f4e2-3c98-431b-85e6-673f2f2daa7c",
      "name": "Google Drive - Bild herunterladen",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        448,
        0
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Ap8I7jsVqJoRshFc",
          "name": "Google Drive MarkNiemann1975"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const previousData = $('Zufälliges Bild auswählen').item.json;\nconst binaryData = $input.item.binary;\n\nconst imagePrompt = `Erstelle ein fotorealistisches Bild im UGC-Stil (User Generated Content) für einen Social Media Post.\n\nDas Bild soll die folgende Person zeigen (siehe Referenzbild) in diesem Kontext:\n${previousData.contentData.image_context}\n\nAnforderungen:\n- Fotorealistisch, wie ein echtes Smartphone-Foto\n- Natürliche Beleuchtung\n- Die Person aus dem Referenzbild soll erkennbar sein (gleiches Gesicht, Haare, etc.)\n- Authentischer UGC-Look (nicht zu perfekt, nicht zu gestellt)\n- Passend für LinkedIn/Instagram\n- Quadratisches Format (1:1)\n\nPost-Kontext für das Bild:\n${previousData.generated_text}`;\n\nreturn [{\n  json: {\n    ...previousData,\n    imagePrompt,\n    imageType: 'ugc'\n  },\n  binary: binaryData\n}];"
      },
      "id": "f54d3fc3-e53c-4cec-89e8-36ace44a2b8d",
      "name": "UGC Gemini Prompt vorbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const previousData = $('Claude Antwort extrahieren').item.json;\n\nconst imagePrompt = `Erstelle eine karikaturistische Illustration für einen Social Media Post.\n\nDas Bild soll folgendes Thema visualisieren:\n${previousData.contentData.image_context}\n\nAnforderungen:\n- Karikatur-Stil mit übertriebenen Proportionen\n- Farbenfroh und auffällig\n- Humorvoll aber professionell\n- Kein Text im Bild\n- Passend für LinkedIn/Instagram\n- Quadratisches Format (1:1)\n\nPost-Kontext für das Bild:\n${previousData.generated_text}`;\n\nreturn [{\n  json: {\n    ...previousData,\n    imagePrompt,\n    imageType: 'karikatur'\n  }\n}];"
      },
      "id": "97dbb117-3292-4920-9220-10a4d84df756",
      "name": "Karikatur Gemini Prompt vorbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "const mergeData = $('Merge - Pfade zusammenführen').item.json;\nconst blotatoResponse = $input.item.json;\n\n// Extrahiere URLs aus Blotato-Antwort (Struktur muss ggf. angepasst werden)\nconst linkedinUrl = blotatoResponse.results?.linkedin?.url || '';\nconst instagramUrl = blotatoResponse.results?.instagram?.url || '';\nconst facebookUrl = blotatoResponse.results?.facebook?.url || '';\nconst xUrl = blotatoResponse.results?.twitter?.url || '';\n\nreturn [{\n  json: {\n    date: mergeData.weekdayInfo.date,\n    weekday: mergeData.weekdayInfo.weekday,\n    post_type: mergeData.weekdayInfo.post_type,\n    content_id: mergeData.contentData.id,\n    prompt_id: mergeData.promptData.prompt_id,\n    image_type: mergeData.weekdayInfo.image_type,\n    platforms: 'linkedin, instagram, facebook, x',\n    status: 'success',\n    error_message: '',\n    generated_text: mergeData.generated_text,\n    linkedin_url: linkedinUrl,\n    instagram_url: instagramUrl,\n    facebook_url: facebookUrl,\n    x_url: xUrl,\n    contentData: mergeData.contentData\n  }\n}];"
      },
      "id": "4d865d58-1605-40b7-a3f0-00fc0f4d19f2",
      "name": "Log-Daten vorbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        144
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1l2TXdhKnE9RfFgSaJFzfvujGp8Q5HEj5UJY5Z6_RfB4",
          "mode": "list",
          "cachedResultName": "Social Media Content Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l2TXdhKnE9RfFgSaJFzfvujGp8Q5HEj5UJY5Z6_RfB4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1708515564,
          "mode": "list",
          "cachedResultName": "Post_Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l2TXdhKnE9RfFgSaJFzfvujGp8Q5HEj5UJY5Z6_RfB4/edit#gid=1708515564"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "weekday",
              "displayName": "weekday",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "post_type",
              "displayName": "post_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "content_id",
              "displayName": "content_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prompt_id",
              "displayName": "prompt_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image_type",
              "displayName": "image_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "platforms",
              "displayName": "platforms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "generated_text",
              "displayName": "generated_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedin_url",
              "displayName": "linkedin_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "instagram_url",
              "displayName": "instagram_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "facebook_url",
              "displayName": "facebook_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "x_url",
              "displayName": "x_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "307179f8-0ea8-44d0-8996-278774bbd812",
      "name": "Google Sheets - Post_Log aktualisieren",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2224,
        144
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gw0DIdDENFkpE7ZW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1l2TXdhKnE9RfFgSaJFzfvujGp8Q5HEj5UJY5Z6_RfB4",
          "mode": "list",
          "cachedResultName": "Social Media Content Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l2TXdhKnE9RfFgSaJFzfvujGp8Q5HEj5UJY5Z6_RfB4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 430229644,
          "mode": "list",
          "cachedResultName": "Post_Content",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l2TXdhKnE9RfFgSaJFzfvujGp8Q5HEj5UJY5Z6_RfB4/edit#gid=430229644"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "post_type",
              "displayName": "post_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "framework_name",
              "displayName": "framework_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "framework_steps",
              "displayName": "framework_steps",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "result",
              "displayName": "result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timeframe",
              "displayName": "timeframe",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "common_belief",
              "displayName": "common_belief",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "client_name",
              "displayName": "client_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "starting_point",
              "displayName": "starting_point",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "client_result",
              "displayName": "client_result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "what_we_did",
              "displayName": "what_we_did",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "why_wrong",
              "displayName": "why_wrong",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "what_works",
              "displayName": "what_works",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mistake_made",
              "displayName": "mistake_made",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "time_money_wasted",
              "displayName": "time_money_wasted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lesson_learned",
              "displayName": "lesson_learned",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "current_approach",
              "displayName": "current_approach",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "number_reviewed",
              "displayName": "number_reviewed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "percentage_mistakes",
              "displayName": "percentage_mistakes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "common_mistakes",
              "displayName": "common_mistakes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "corrections",
              "displayName": "corrections",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image_context",
              "displayName": "image_context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "4bad4cc6-bae0-4000-8c89-42cdd2572d01",
      "name": "Google Sheets - Content Status aktualisieren",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2448,
        144
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gw0DIdDENFkpE7ZW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "id": "a287d2ea-6e96-429d-b166-fb0d364b0f15",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -2416,
        448
      ]
    },
    {
      "parameters": {
        "jsCode": "const error = $input.item.json;\nconst now = new Date();\n\n// Versuche Daten aus vorherigen Nodes zu extrahieren (falls verfügbar)\nlet weekdayInfo = {};\nlet contentData = {};\nlet promptData = {};\n\ntry {\n  weekdayInfo = $('Wochentag ermitteln')?.item?.json || {};\n} catch (e) {}\n\ntry {\n  contentData = $('Content filtern & auswählen')?.item?.json || {};\n} catch (e) {}\n\ntry {\n  promptData = $('Prompt filtern & auswählen')?.item?.json || {};\n} catch (e) {}\n\nreturn [{\n  json: {\n    date: now.toISOString().split('T')[0],\n    weekday: weekdayInfo.weekday || 'unknown',\n    post_type: weekdayInfo.post_type || 'unknown',\n    content_id: contentData.id || 'unknown',\n    prompt_id: promptData.prompt_id || 'unknown',\n    image_type: weekdayInfo.image_type || 'unknown',\n    platforms: '',\n    status: 'error',\n    error_message: error.message || JSON.stringify(error),\n    generated_text: '',\n    linkedin_url: '',\n    instagram_url: '',\n    facebook_url: '',\n    x_url: ''\n  }\n}];"
      },
      "id": "98929f77-890e-4852-9800-192e518df652",
      "name": "Error-Daten vorbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2208,
        448
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1l2TXdhKnE9RfFgSaJFzfvujGp8Q5HEj5UJY5Z6_RfB4",
          "mode": "list",
          "cachedResultName": "Social Media Content Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l2TXdhKnE9RfFgSaJFzfvujGp8Q5HEj5UJY5Z6_RfB4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1708515564,
          "mode": "list",
          "cachedResultName": "Post_Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l2TXdhKnE9RfFgSaJFzfvujGp8Q5HEj5UJY5Z6_RfB4/edit#gid=1708515564"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $json.date }}",
            "weekday": "={{ $json.weekday }}",
            "post_type": "={{ $json.post_type }}",
            "content_id": "={{ $json.content_id }}",
            "prompt_id": "={{ $json.prompt_id }}",
            "image_type": "={{ $json.image_type }}",
            "platforms": "={{ $json.platforms }}",
            "status": "={{ $json.status }}",
            "error_message": "={{ $json.error_message }}",
            "generated_text": "={{ $json.generated_text }}",
            "linkedin_url": "={{ $json.linkedin_url }}",
            "instagram_url": "={{ $json.instagram_url }}",
            "facebook_url": "={{ $json.facebook_url }}",
            "x_url": "={{ $json.x_url }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "weekday",
              "displayName": "weekday",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "post_type",
              "displayName": "post_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "content_id",
              "displayName": "content_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prompt_id",
              "displayName": "prompt_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image_type",
              "displayName": "image_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "platforms",
              "displayName": "platforms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "generated_text",
              "displayName": "generated_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedin_url",
              "displayName": "linkedin_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "instagram_url",
              "displayName": "instagram_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "facebook_url",
              "displayName": "facebook_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "x_url",
              "displayName": "x_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "280cce21-1d8d-49bd-afa4-264aeebc1cf1",
      "name": "Google Sheets - Error Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1984,
        448
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gw0DIdDENFkpE7ZW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-sonnet-4-5-20250929",
          "mode": "list",
          "cachedResultName": "claude-sonnet-4-5-20250929"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.userMessage }}\n"
            }
          ]
        },
        "options": {
          "system": "={{ $json.systemPrompt }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        -720,
        144
      ],
      "id": "ddfd3aaf-b75a-428b-aa1b-765cebc3a806",
      "name": "Claude Sonnet 4.5 - Post Text generieren",
      "credentials": {
        "anthropicApi": {
          "id": "5LmibcuA2kdHKaqB",
          "name": "Claude - 20260127"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "'1xN03aluEtOJEuzCfw-fDA1rMQrill2aD' in parents and mimeType contains 'image/' and trashed = false"
            },
            {
              "name": "fields",
              "value": "files(id, name, mimeType)"
            }
          ]
        },
        "options": {}
      },
      "id": "bdcc13c5-a16a-424d-8b3c-dacb4ef0ef1d",
      "name": "HTTP - Google Drive Bilder Listen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -16,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "dRkLIjIxvVpgKruU",
          "name": "Google Gemini"
        },
        "googleDriveOAuth2Api": {
          "id": "Ap8I7jsVqJoRshFc",
          "name": "Google Drive MarkNiemann1975"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-pro-image-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-pro-image-preview (Nano Banana Pro)"
        },
        "prompt": "={{ $json.imagePrompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        896,
        0
      ],
      "id": "8908e2ef-585e-4e1e-bbee-4166f425ade3",
      "name": "Gemini - UGC Bild generieren",
      "credentials": {
        "googlePalmApi": {
          "id": "gGQQyjOkRgSzyK0m",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-pro-image-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-pro-image-preview (Nano Banana Pro)"
        },
        "prompt": "={{ $json.imagePrompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        208,
        288
      ],
      "id": "70205fba-fe41-4d1f-9b72-d2c64b95c69b",
      "name": "Gemini - Karikatur Bild generieren",
      "credentials": {
        "googlePalmApi": {
          "id": "gGQQyjOkRgSzyK0m",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"11831\",\n    \"content\": {\n      \"text\": {{ JSON.stringify($('Claude Sonnet 4.5 - Post Text generieren').item.json.content[0].text) }},\n      \"mediaUrls\": [\n        \"{{ $json.secure_url }}\"\n      ],\n      \"platform\": \"linkedin\"\n    },\n    \"target\": {\n      \"targetType\": \"linkedin\"\n    }\n  }\n}",
        "options": {}
      },
      "id": "43d42a7a-807f-48be-859a-aee6b1c31010",
      "name": "Blotato - Post LinkedIn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        -16
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "huFRTIQcfhSBtrVc",
          "name": "Blotato"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1824,
        128
      ],
      "id": "4ea5f507-ff53-44d1-ae87-c776d4c0f27e",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"29875\",\n    \"content\": {\n      \"text\": {{ JSON.stringify($('Claude Sonnet 4.5 - Post Text generieren').item.json.content[0].text) }},\n      \"mediaUrls\": [\"{{ $json.secure_url }}\"],\n      \"platform\": \"instagram\"\n    },\n    \"target\": {\n      \"targetType\": \"instagram\"\n    }\n  }\n}\n",
        "options": {}
      },
      "id": "e04becba-158d-4cad-affe-1dbdef80329a",
      "name": "Blotato - Post Instagram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        144
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "huFRTIQcfhSBtrVc",
          "name": "Blotato"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"19029\",\n    \"content\": {\n      \"text\": {{ JSON.stringify($('Claude Sonnet 4.5 - Post Text generieren').item.json.content[0].text) }},\n      \"mediaUrls\": [\"{{ $json.secure_url }}\"],\n      \"platform\": \"facebook\"\n    },\n    \"target\": {\n      \"targetType\": \"facebook\",\n      \"pageId\": \"100847042363444\"\n    }\n  }\n}",
        "options": {}
      },
      "id": "11cbae95-eb90-47e0-8b9f-14aae0efe087",
      "name": "Blotato - Post Facebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        320
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "huFRTIQcfhSBtrVc",
          "name": "Blotato"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudinary.com/v1_1/dzmxm0jen/image/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "upload_preset",
              "value": "n8n_upload"
            },
            {
              "name": "folder",
              "value": "social-media"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        288
      ],
      "id": "fbb9a4b6-d8ff-44de-a089-cae982d0c193",
      "name": "Cloudinary HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudinary.com/v1_1/dzmxm0jen/image/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "upload_preset",
              "value": "n8n_upload"
            },
            {
              "name": "folder",
              "value": "social-media"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1088,
        0
      ],
      "id": "b825210b-2495-44be-a42a-60a431d5b195",
      "name": "Cloudinary HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Scheduled Trigger": {
      "main": [
        [
          {
            "node": "Wochentag ermitteln",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wochentag ermitteln": {
      "main": [
        [
          {
            "node": "Google Sheets - Business Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Business Info": {
      "main": [
        [
          {
            "node": "Google Sheets - Content laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Content laden": {
      "main": [
        [
          {
            "node": "Content filtern & auswählen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content filtern & auswählen": {
      "main": [
        [
          {
            "node": "Google Sheets - Prompts laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Prompts laden": {
      "main": [
        [
          {
            "node": "Prompt filtern & auswählen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt filtern & auswählen": {
      "main": [
        [
          {
            "node": "Claude Prompt vorbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Prompt vorbereiten": {
      "main": [
        [
          {
            "node": "Claude Sonnet 4.5 - Post Text generieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Antwort extrahieren": {
      "main": [
        [
          {
            "node": "Switch - UGC oder Karikatur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - UGC oder Karikatur": {
      "main": [
        [
          {
            "node": "HTTP - Google Drive Bilder Listen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Karikatur Gemini Prompt vorbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zufälliges Bild auswählen": {
      "main": [
        [
          {
            "node": "Google Drive - Bild herunterladen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive - Bild herunterladen": {
      "main": [
        [
          {
            "node": "UGC Gemini Prompt vorbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UGC Gemini Prompt vorbereiten": {
      "main": [
        [
          {
            "node": "Gemini - UGC Bild generieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Karikatur Gemini Prompt vorbereiten": {
      "main": [
        [
          {
            "node": "Gemini - Karikatur Bild generieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log-Daten vorbereiten": {
      "main": [
        [
          {
            "node": "Google Sheets - Post_Log aktualisieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Post_Log aktualisieren": {
      "main": [
        [
          {
            "node": "Google Sheets - Content Status aktualisieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Error-Daten vorbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error-Daten vorbereiten": {
      "main": [
        [
          {
            "node": "Google Sheets - Error Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Sonnet 4.5 - Post Text generieren": {
      "main": [
        [
          {
            "node": "Claude Antwort extrahieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Google Drive Bilder Listen": {
      "main": [
        [
          {
            "node": "Zufälliges Bild auswählen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - UGC Bild generieren": {
      "main": [
        [
          {
            "node": "Cloudinary HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Karikatur Bild generieren": {
      "main": [
        [
          {
            "node": "Cloudinary HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blotato - Post LinkedIn": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Log-Daten vorbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blotato - Post Instagram": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Blotato - Post Facebook": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Cloudinary HTTP Request1": {
      "main": [
        [
          {
            "node": "Blotato - Post Facebook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Blotato - Post Instagram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Blotato - Post LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloudinary HTTP Request": {
      "main": [
        [
          {
            "node": "Blotato - Post Facebook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Blotato - Post LinkedIn",
            "type": "main",
            "index": 0
          },
          {
            "node": "Blotato - Post Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2006b6ac-53e8-4f7e-9ef6-47a1179f42d3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a320365cb8af0cfc53c3cf643590b40b68314b98ffb543a3f03872d936accf51"
  },
  "id": "vbR213RHd-bMy9IXaV5Im",
  "tags": []
}