workflows/Tool - Google Maps Scraper - Async (100+ Results) (1).json
{
  "name": "Tool - Google Maps Scraper - Async (100+ Results)",
  "nodes": [
    {
      "parameters": {
        "query": "=Website: {{ $json['Company Website'] }}\nFind: recent news, customer sentiment, unique selling points",
        "options": {
          "topic": "general",
          "search_depth": "basic",
          "include_answer": "advanced"
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        1184,
        -240
      ],
      "id": "131f464f-fe44-4fa6-a893-02ccf39b7d50",
      "name": "Tavily Enrichment",
      "credentials": {
        "tavilyApi": {
          "id": "a6ZN4T8aDN1bVzeY",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"normalName\": \"Engler Distributing\",\n\t\"icebreaker\": \"Love what you're doing with Effective Sign Works. Bob's philosophy of 'only as good as your last job' really resonates. Wanted to reach out.\",\n  \"company website\": \"htts://engler.de/\",\n  \"company name\": \"RadStand\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1824,
        -48
      ],
      "id": "8e37fddb-cefc-47e1-9faf-26d50003073d",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1680,
        -48
      ],
      "id": "da33d38d-d7f5-4637-9eb3-867ddc5ef4a0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "qqAEFbLOk7AgkiYS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        1008,
        -240
      ],
      "id": "d86e1122-8158-4038-b7af-4f1879b6ecdc",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "content": "## Source",
        "height": 240,
        "width": 1552,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -432,
        -304
      ],
      "id": "1c2e2014-19b8-4712-a5a1-4b2cfaefde67",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Enrich",
        "height": 240,
        "width": 848,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1152,
        -304
      ],
      "id": "e3a28374-2b52-45d4-88e6-9a7440ce04cb",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Website URL: {{ $('Remove Duplicates').item.json['Company Website'] }}\nHintergrund 1: {{ $('Tavily Enrichment').item.json.answer }}\nHintergrund 2: {{ $json.choices[0].message.content }}\nFirmenname: {{ $node[\"Append row in sheet1\"].json[\"Company Name\"] }}\n\nDein Ziel: Schreibe eine Zusammenfassung der Information des Leads aus der eine cold outreach Email geschrieben werden kann. (z. B. zur Leadgenerierung, Kundenkommunikation oder Ausstellungsnachbereitung) interessiert.\n\nBitte formuliere die komplette Zusammenfassung.\n",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Du bist ein deutscher Copywriting-Experte mit Fokus auf B2B-Kaltakquise. Deine Aufgabe ist es, hochpersonalisierte, kurze und überzeugende Zusammenfassung für eine Cold E-Mail für KI-Marketing-Automationslösungen zu verfassen. Du kombinierst Geschäftsdaten (z. B. Website-Texte, Kundenfeedback, Produktmerkmale) mit kreativer Sprache und subtiler Verkaufspsychologie.\n\nSchreibe in einem natürlichen, aber professionellen Ton – ohne Floskeln. Nutze spezifische Beobachtungen aus dem bereitgestellten Kontext (z. B. Produktbesonderheiten, Partnerschaften, Kundenmeinungen). Halte die Sprache knapp, vermeide generische Aussagen, und achte auf einprägsame Formulierungen. Sei präzise. Weise auf die Top drei USPs des Leads hin.\n\nSchreibe in einem weiterem Absatz, welche Möglichkeiten du siehst oder es gibt wo eine KI Automation für Marketing oder Geschäftsprozesse dem Kontakt helfen kann.\n\nSchreibe die Zusammenfassung vollständig auf Deutsch."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1696,
        -240
      ],
      "id": "9d38edf4-175b-4626-aa30-f75242d3bbc1",
      "name": "Personalisierte Nachricht"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "https://console.apify.com/actors/9Sk4JJhEma9vBKqrg",
          "mode": "url"
        },
        "customBody": "={\n    \"considerChildFrames\": true,\n    \"maxDepth\": 2,\n    \"maxRequests\": 9999999,\n    \"maxRequestsPerStartUrl\": 2,\n    \"mergeContacts\": true,\n    \"sameDomain\": true,\n    \"startUrls\": [\n        {\n            \"url\": \"{{ $json['Company Website'] }}\",\n            \"method\": \"GET\"\n        }\n    ],\n    \"useBrowser\": false\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        336,
        -240
      ],
      "id": "2f9f7b03-2368-41e7-9141-8ebff6ec1a3e",
      "name": "Run an Actor and get dataset",
      "credentials": {
        "apifyApi": {
          "id": "wWgQDWC9aV3UcUEJ",
          "name": "Apify MN1975"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "43ed4eef-8973-4588-9b58-ef5f34e1c9c1",
              "leftValue": "={{ $json['Company Website'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        112,
        -240
      ],
      "id": "bcd0540f-68ae-4270-a188-be9c8a229e94",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7059e716-4282-4341-ba56-98c0ddffb81c",
              "name": "emails[0]",
              "value": "={{ $json.emails[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        -240
      ],
      "id": "3b04fc44-5cbf-4147-b717-041cd48b6a60",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1RHf7SWS58MX2vMPzj0ZKTgm69CNSzV3N65wCs4eUTp0",
          "mode": "list",
          "cachedResultName": "Google Maps Scraper Colt Outreach Email Vorlage",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RHf7SWS58MX2vMPzj0ZKTgm69CNSzV3N65wCs4eUTp0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1335311301,
          "mode": "list",
          "cachedResultName": "Tabellenblatt2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RHf7SWS58MX2vMPzj0ZKTgm69CNSzV3N65wCs4eUTp0/edit#gid=1335311301"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Website": "={{ $json.website }}",
            "Phone Number": "={{ $json.phoneUnformatted }}",
            "Contact Linkedin": "=",
            "Contact LastName": "=",
            "Contact Email": "=",
            "Company Name": "={{ $json.title }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Website",
              "displayName": "Company Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Linked In",
              "displayName": "Company Linked In",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact FirstName",
              "displayName": "Contact FirstName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact LastName",
              "displayName": "Contact LastName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact Title",
              "displayName": "Contact Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact Email",
              "displayName": "Contact Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact Linkedin",
              "displayName": "Contact Linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Icebreaker",
              "displayName": "Icebreaker",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Upload completed",
              "displayName": "Upload completed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        480,
        -528
      ],
      "id": "99b6940c-0727-434c-b336-ef81db93ab1e",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gw0DIdDENFkpE7ZW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1RHf7SWS58MX2vMPzj0ZKTgm69CNSzV3N65wCs4eUTp0",
          "mode": "list",
          "cachedResultName": "Google Maps Scraper Colt Outreach Email Vorlage",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RHf7SWS58MX2vMPzj0ZKTgm69CNSzV3N65wCs4eUTp0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1335311301,
          "mode": "list",
          "cachedResultName": "Tabellenblatt2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RHf7SWS58MX2vMPzj0ZKTgm69CNSzV3N65wCs4eUTp0/edit#gid=1335311301"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Website": "={{ $('Run an Actor and get dataset').item.json.originalStartUrl }}",
            "Contact Email": "={{ $('Run an Actor and get dataset').item.json.emails[0] }}"
          },
          "matchingColumns": [
            "Company Website"
          ],
          "schema": [
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Website",
              "displayName": "Company Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Linked In",
              "displayName": "Company Linked In",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact FirstName",
              "displayName": "Contact FirstName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact LastName",
              "displayName": "Contact LastName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact Title",
              "displayName": "Contact Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact Email",
              "displayName": "Contact Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact Linkedin",
              "displayName": "Contact Linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Icebreaker",
              "displayName": "Icebreaker",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Upload completed",
              "displayName": "Upload completed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        784,
        -240
      ],
      "id": "298604e3-1ae0-4f3c-9468-db9254d67e00",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gw0DIdDENFkpE7ZW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1RHf7SWS58MX2vMPzj0ZKTgm69CNSzV3N65wCs4eUTp0",
          "mode": "list",
          "cachedResultName": "Google Maps Scraper Colt Outreach Email Vorlage",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RHf7SWS58MX2vMPzj0ZKTgm69CNSzV3N65wCs4eUTp0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1335311301,
          "mode": "list",
          "cachedResultName": "Tabellenblatt2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RHf7SWS58MX2vMPzj0ZKTgm69CNSzV3N65wCs4eUTp0/edit#gid=1335311301"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Name": "={{ $json.output['company name'] }}",
            "Icebreaker": "={{ $json.output.icebreaker }}",
            "Company Website": "={{ $json.output['company website'] }}",
            "Contact FirstName": "={{ $json.output.normalName }}"
          },
          "matchingColumns": [
            "Company Website"
          ],
          "schema": [
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Website",
              "displayName": "Company Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Linked In",
              "displayName": "Company Linked In",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact FirstName",
              "displayName": "Contact FirstName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact LastName",
              "displayName": "Contact LastName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact Title",
              "displayName": "Contact Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact Email",
              "displayName": "Contact Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact Linkedin",
              "displayName": "Contact Linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Icebreaker",
              "displayName": "Icebreaker",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Upload completed",
              "displayName": "Upload completed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2096,
        -240
      ],
      "id": "8ddb2da0-f9b2-408c-b3c4-65e8095dc478",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gw0DIdDENFkpE7ZW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "model": "sonar-pro",
        "messages": {
          "message": [
            {
              "content": "Du bis ein Recherche Spezialist für Unternehmen und Personen. Untersuche die folgende Information. Der Output ist soll eine Zusammenfassung in Tabellenformat sein.",
              "role": "system"
            },
            {
              "content": "=Untersuche folgendes Unternehmen oder Person: {{ $('Append or update row in sheet').item.json['Company Website'] }} und {{ $('Append or update row in sheet').item.json['Contact Email'] }}"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [
        1312,
        192
      ],
      "id": "1487e72f-3220-403b-9dba-73fba0a936b9",
      "name": "Data Enrichment",
      "credentials": {
        "perplexityApi": {
          "id": "Vl42x7kgd1Uo3Tx0",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Google Maps Scraper - Async Version\n\n**Warum async?**\nDer synchrone Endpoint `/run-sync` hat ein Timeout und liefert nur ~20 Ergebnisse.\n\n**Dieser Workflow:**\n1. Startet den Actor\n2. Wartet auf Completion (Polling)\n3. Holt ALLE Ergebnisse\n\n⏱️ Dauert länger, aber liefert 100+ Ergebnisse",
        "height": 340,
        "width": 320,
        "color": 6
      },
      "id": "fac94c79-c17b-4b5a-83a8-30427844b632",
      "name": "📋 Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1504,
        -1104
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/compass~google-maps-extractor/runs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"city\": \"{{ $json.Stadt }}\",\n    \"countryCode\": \"de\",\n    \"language\": \"de\",\n    \"locationQuery\": \"{{ $json.Stadt }}\",\n    \"maxCrawledPlacesPerSearch\": {{ $json['Number of places to extract'] }},\n    \"searchStringsArray\": [\n        \"{{ $json['Search query'] }}\"\n    ],\n    \"skipClosedPlaces\": false,\n    \"website\": \"withWebsite\"\n}\n",
        "options": {
          "timeout": 30000
        }
      },
      "id": "558cb638-245c-4dae-be24-a0716dbd5fe3",
      "name": "1️⃣ Start Actor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -912,
        -720
      ],
      "notesInFlow": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Auxpkk79tNtA85GJ",
          "name": "Apify API"
        }
      },
      "notes": "Startet den Scraper async"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "runId",
              "name": "runId",
              "value": "={{ $json.data.id }}",
              "type": "string"
            },
            {
              "id": "datasetId",
              "name": "datasetId",
              "value": "={{ $json.data.defaultDatasetId }}",
              "type": "string"
            },
            {
              "id": "status",
              "name": "status",
              "value": "={{ $json.data.status }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "46c7949d-0e9c-46c0-a418-dc81faa66eae",
      "name": "📝 Extract IDs",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -704,
        -720
      ]
    },
    {
      "parameters": {
        "amount": 15
      },
      "id": "ec937f7b-8467-4998-9144-6e51ef2dafc1",
      "name": "⏳ Wait 15s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -480,
        -720
      ],
      "webhookId": "wait-for-actor"
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/actor-runs/{{ $json.runId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 30000
        }
      },
      "id": "7d78bd8e-0197-4f7c-b485-887aecd0f870",
      "name": "2️⃣ Check Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -256,
        -720
      ],
      "notesInFlow": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Auxpkk79tNtA85GJ",
          "name": "Apify API"
        }
      },
      "notes": "Prüft ob Actor fertig ist"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "status-check",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "SUCCEEDED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7848d209-dc08-4485-a0c3-dd41e8de1902",
      "name": "🔀 Finished?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -32,
        -720
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "runId",
              "name": "runId",
              "value": "={{ $json.data.id }}",
              "type": "string"
            },
            {
              "id": "datasetId",
              "name": "datasetId",
              "value": "={{ $json.data.defaultDatasetId }}",
              "type": "string"
            },
            {
              "id": "status",
              "name": "status",
              "value": "={{ $json.data.status }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ae424729-22aa-41b5-a30d-937403cf0b77",
      "name": "📝 Keep IDs",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        -592
      ]
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/datasets/{{ $json.data.defaultDatasetId }}/items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "clean",
              "value": "true"
            },
            {
              "name": "format",
              "value": "json"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "8e285109-c504-49e8-8772-3c656d6c08c5",
      "name": "3️⃣ Get Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        -880
      ],
      "notesInFlow": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Auxpkk79tNtA85GJ",
          "name": "Apify API"
        }
      },
      "notes": "Holt ALLE Ergebnisse"
    },
    {
      "parameters": {
        "content": "## ⚠️ Wichtig: Credentials anpassen!\n\nNach dem Import:\n1. Klicke auf jeden HTTP Request Node\n2. Wähle deine \"Apify API\" Credentials\n\nDie Credentials sollten den Header enthalten:\n`Authorization: Bearer apify_api_xxx`",
        "height": 276,
        "width": 320,
        "color": 5
      },
      "id": "0bee87d4-aea9-464c-969b-85942e0b0791",
      "name": "⚠️ Credentials",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1504,
        -720
      ]
    },
    {
      "parameters": {
        "content": "## 🔄 Polling Loop\n\nDer Workflow wartet 15 Sekunden und prüft dann den Status.\n\nWenn nicht fertig → zurück zu Wait\nWenn fertig → Ergebnisse abrufen\n\nTypische Wartezeit für 100 Places: 2-5 Minuten",
        "height": 240,
        "width": 280,
        "color": 4
      },
      "id": "bdc4b0a8-d126-47f4-a4dd-ac54220e05b7",
      "name": "🔄 Loop Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -864,
        -544
      ]
    },
    {
      "parameters": {
        "formTitle": "Google Maps Suche",
        "formDescription": "Suche nach Unternehmen auf Google Maps",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Search query",
              "placeholder": "z.B. Steuerberater in Berlin, Deutschland",
              "requiredField": true
            },
            {
              "fieldLabel": "Number of places to extract",
              "fieldType": "number",
              "placeholder": "100",
              "requiredField": true
            },
            {
              "fieldLabel": "Stadt",
              "placeholder": "Berlin"
            }
          ]
        },
        "options": {}
      },
      "id": "d678df2b-a537-4d95-ae3b-d9ee95756651",
      "name": "On form submission1",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -1152,
        -720
      ],
      "webhookId": "google-maps-async-form"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1008,
        112
      ],
      "id": "ad0f2cc5-a8e7-4500-8fa3-cd58257bed52",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1472,
        -16
      ],
      "id": "70b23ae8-f603-4f9b-8290-10c365501357",
      "name": "10 Sec Wait",
      "webhookId": "b8a0c3ce-f4d2-411d-9107-63faa8ca6f77"
    }
  ],
  "pinData": {},
  "connections": {
    "Tavily Enrichment": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Personalisierte Nachricht",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Personalisierte Nachricht",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Tavily Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Personalisierte Nachricht": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run an Actor and get dataset": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Run an Actor and get dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Enrichment": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1️⃣ Start Actor": {
      "main": [
        [
          {
            "node": "📝 Extract IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Extract IDs": {
      "main": [
        [
          {
            "node": "⏳ Wait 15s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏳ Wait 15s": {
      "main": [
        [
          {
            "node": "2️⃣ Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2️⃣ Check Status": {
      "main": [
        [
          {
            "node": "🔀 Finished?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Finished?": {
      "main": [
        [
          {
            "node": "3️⃣ Get Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📝 Keep IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Keep IDs": {
      "main": [
        [
          {
            "node": "⏳ Wait 15s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3️⃣ Get Results": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission1": {
      "main": [
        [
          {
            "node": "1️⃣ Start Actor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Personalisierte Nachricht",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "10 Sec Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10 Sec Wait": {
      "main": [
        [
          {
            "node": "Data Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5bdd5b77-9f7e-4258-9a46-72373ce9c5d1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a320365cb8af0cfc53c3cf643590b40b68314b98ffb543a3f03872d936accf51"
  },
  "id": "0SKd7GmF0DSZ14kA",
  "tags": []
}