workflows/WhatsApp_KI_Chatbot_DE.json
{
  "name": "49-WhatsApp-Nachrichten mit KI beantworten",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "id": "205d3447-f5f2-4c94-a035-914fe579da19",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "position": [
        -1728,
        128
      ],
      "webhookId": "0b1b3a9b-2f6a-4f5a-8385-6365d96f4802",
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.audio.id }}"
      },
      "id": "5ca69f6c-e84e-41c4-a91c-f826d3c9eb30",
      "name": "Audio-URL abrufen",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        -928,
        -336
      ],
      "typeVersion": 1,
      "webhookId": "90d30a98-5e27-4241-b019-da85e7249725"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.video.id }}"
      },
      "id": "b8f03bab-4835-47a0-97b8-f9dc6e6558a7",
      "name": "Video-URL abrufen",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        -928,
        32
      ],
      "typeVersion": 1,
      "webhookId": "d8a9a596-ffed-42f6-b9fa-e114b6e6ee69"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.image.id }}"
      },
      "id": "e11bf46d-5cf4-41b2-b613-dfe6e0cd33c0",
      "name": "Bild-URL abrufen",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        -928,
        368
      ],
      "typeVersion": 1,
      "webhookId": "beaa45a7-a432-42a4-b226-f3bad0a1dced"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {}
      },
      "id": "d7e7e0b0-d101-40ec-b970-bc2af60e7a51",
      "name": "Video herunterladen",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -768,
        32
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {}
      },
      "id": "f30ae90f-dd26-4dc6-a476-56e2fb4c5519",
      "name": "Audio herunterladen",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -768,
        -336
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {}
      },
      "id": "c71f27a3-2bf3-4000-85a4-1a38aadc2183",
      "name": "Bild herunterladen",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -768,
        368
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=whatsapp-tutorial-{{ $json.from }}"
      },
      "id": "5b1b9b64-f8d1-43dd-952c-d8321cab49a2",
      "name": "Gesprächsspeicher",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        448,
        384
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d990cbd6-a408-4ec4-a889-41be698918d9",
              "name": "message_type",
              "type": "string",
              "value": "={{ $('Nachrichtenteile trennen').item.json.type }}"
            },
            {
              "id": "23b785c3-f38e-4706-80b7-51f333bba3bd",
              "name": "message_text",
              "type": "string",
              "value": "={{ $json.text }}"
            },
            {
              "id": "6e83f9a7-cf75-4182-b2d2-3151e8af76b9",
              "name": "from",
              "type": "string",
              "value": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}"
            },
            {
              "id": "da4b602a-28ca-4b0d-a747-c3d3698c3731",
              "name": "message_caption",
              "type": "string",
              "value": "={{ $('Nachrichtentyp weiterleiten').item.json.video && $('Nachrichtentyp weiterleiten').item.json.video.caption || '' }}\n{{ $('Nachrichtentyp weiterleiten').item.json.image && $('Nachrichtentyp weiterleiten').item.json.image.caption || ''}}\n{{ $('Nachrichtentyp weiterleiten').item.json.audio && $('Nachrichtentyp weiterleiten').item.json.audio.caption || ''}}"
            }
          ]
        },
        "options": {}
      },
      "id": "b242d6bd-45c8-4b21-a3ea-516e60779054",
      "name": "Nutzernachricht aufbereiten",
      "type": "n8n-nodes-base.set",
      "position": [
        144,
        208
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "fieldToSplitOut": "messages",
        "options": {}
      },
      "id": "5d9ca341-30f0-481a-b032-3d22dfddd2ce",
      "name": "Nachrichtenteile trennen",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        -1488,
        128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "a165c2c2-c72b-49ea-bb0b-301ef803a959",
      "name": "Wikipedia",
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "position": [
        560,
        384
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.type == 'audio' && Boolean($json.audio) }}",
                    "rightValue": "audio"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Audionachricht"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "82aa5ff4-c9b6-4187-a27e-c7c5d9bfdda0",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.type == 'video' && Boolean($json.video) }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Videonachricht"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "05b30af4-967b-4824-abdc-84a8292ac0e5",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.type == 'image' && Boolean($json.image) }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Bildnachricht"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Textnachricht"
        }
      },
      "id": "216d406b-46e8-4d69-9b66-8c85dfa51ee9",
      "name": "Nachrichtentyp weiterleiten",
      "type": "n8n-nodes-base.switch",
      "position": [
        -1200,
        208
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "content": "## 1. WhatsApp Trigger\n[Mehr über den WhatsApp Trigger erfahren](https://docs.n8n.io/integrations/builtin/trigger-nodes/n8n-nodes-base.whatsapptrigger)\n\nUm WhatsApp-Nachrichten in deinem Workflow empfangen zu können, sind einige Einrichtungsschritte notwendig. Folge dazu der n8n-Dokumentation. Eingehende WhatsApp-Nachrichten werden aufgeteilt und je nach Nachrichtentyp über den Switch-Node an den richtigen Verarbeitungspfad weitergeleitet.",
        "height": 245.72612197928734,
        "width": 335.8011507479863,
        "color": 7
      },
      "id": "b2d8d838-4d81-435a-aed6-904320196724",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1728,
        -160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 2. Audionauten transkribieren 💬\nSprachnachrichten und Audiodateien werden automatisch via Google Gemini transkribiert, damit der KI-Agent den Inhalt verarbeiten kann.",
        "height": 97.23360184119679,
        "width": 356.65822784810103,
        "color": 7
      },
      "id": "0c0415d5-7371-4726-baa4-d27c620f945b",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -928,
        -464
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 3. Videonachrichten beschreiben 🎬\nFür Videonachrichten empfiehlt sich ein multimodales Modell mit Video-Unterstützung. Google Gemini ist hierfür gut geeignet. Da n8n's LLM-Node aktuell keine Video-Binärdaten unterstützt, wird ein HTTP-Request-Node verwendet.",
        "height": 127.13555811277331,
        "width": 492.5258918296896,
        "color": 7
      },
      "id": "9e0d3b25-ebf6-434a-81da-e2f4266aedf1",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -928,
        -144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 4. Bildnachrichten analysieren 🏞️\nFür Bildnachrichten wird Google Gemini genutzt, um den Bildinhalt zu beschreiben und ggf. sichtbaren Text zu erkennen – damit der KI-Agent den Kontext versteht.",
        "height": 97.23360184119679,
        "width": 356.65822784810103,
        "color": 7
      },
      "id": "14417d5b-4e7f-4af6-bbc9-ba48a4b2bd26",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -928,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 5. Textzusammenfasser 📘\nTextnachrichten müssen zwar nicht umgewandelt werden, eine kompakte Zusammenfassung erleichtert aber die Verarbeitung durch den KI-Agenten.",
        "height": 97.23360184119679,
        "width": 428.24395857307246,
        "color": 7
      },
      "id": "8f1dab18-ceea-4ee1-b413-8ad3760a42ed",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -928,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "amount": 0
      },
      "id": "46562465-554c-481d-a0a3-32d11d360aed",
      "name": "Text abrufen",
      "type": "n8n-nodes-base.wait",
      "position": [
        -928,
        672
      ],
      "webhookId": "99b49c83-d956-46d2-b8d3-d65622121ad9",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "## 6. Antwort mit KI-Agent generieren\n[Mehr über den AI Agent Node](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.agent)\n\nNachdem alle Nachrichtentypen verarbeitet wurden, kann der KI-Agent für nahezu jeden Anwendungsfall eingesetzt werden – z. B. Kundensupport, Terminbuchungen oder Dokumentenprüfung.\n\nIn dieser Demo antwortet der KI-Agent einfach auf die Nutzernachricht und liefert eine sachliche Antwort zurück.",
        "height": 273.14522439585744,
        "width": 500.7797468354428,
        "color": 7
      },
      "id": "6df840c5-75a8-4090-961a-1c75668cce6c",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        352,
        -128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 7. Antwort an WhatsApp-Nutzer senden\n[Mehr über den WhatsApp Node](https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.whatsapp/)\n\nZum Abschluss wird die KI-Antwort als Textnachricht an den Nutzer zurückgesendet. Der WhatsApp-Node unterstützt auch das Senden von Bildern, Audio, Videos, Dokumenten und Standortdaten.",
        "height": 211.45776754890682,
        "width": 384.12151898734186,
        "color": 7
      },
      "id": "f1ce29f2-967c-4198-b058-5d2429627a88",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "477115632141067",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "000c02ce-416e-4e37-a091-69e918475f95",
      "name": "Antwort senden",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        800,
        304
      ],
      "typeVersion": 1,
      "webhookId": "e6a1c8e2-f4f6-4fc1-87b4-2a7f75f45c48"
    },
    {
      "parameters": {
        "content": "## Jetzt ausprobieren!\n\n### Dieses n8n-Template zeigt den Einstieg in einen eigenen n8n-gesteuerten WhatsApp-Chatbot! Mithilfe von n8n's KI-Funktionen werden verschiedene Nachrichtentypen verarbeitet und ein KI-Agent antwortet dem Nutzer.\n\n* Der WhatsApp Trigger empfängt eingehende Nachrichten und startet den Workflow.\n* Die empfangene Nachricht wird extrahiert und je nach Typ an einen von 4 Verarbeitungspfaden weitergeleitet.\n* Jeder Pfad nutzt KI, um die Nachricht zu analysieren, zusammenzufassen oder zu transkribieren.\n* Der KI-Agent generiert eine allgemeine Antwort und kann für komplexe Anfragen Wikipedia nutzen.\n* Die Antwort wird abschließend über den WhatsApp-Node an den Nutzer zurückgesendet.\n",
        "height": 562.8608514850005,
        "width": 470.66513233601853
      },
      "id": "2c7e8478-9cef-4412-9080-ca23716af462",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2288,
        -320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Workflow aktivieren!\nDer Workflow muss aktiviert sein, damit dieser WhatsApp-Chatbot funktioniert. Bei Self-Hosting: Stelle sicher, dass WhatsApp eine Verbindung zu deinem Server aufbauen kann (öffentlich erreichbare HTTPS-URL).",
        "height": 176,
        "width": 473,
        "color": 5
      },
      "id": "4543da4f-b415-49cb-a5fb-2bd49040af16",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2288,
        192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Hier ist ein vom Nutzer gesendetes Bild. Beschreibe das Bild und transkribiere jeden sichtbaren Text im Bild.",
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary"
            }
          ]
        }
      },
      "id": "2c29117d-dbcd-43bf-9f9c-6fc48bd5927f",
      "name": "Bild-Erklärer",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        -240,
        368
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ec0e573-373b-4692-bfae-86b6d3b9aa9a",
              "name": "text",
              "type": "string",
              "value": "={{ $json.candidates[0].content.parts[0].text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6f846313-07e7-4368-a312-ac95d189337d",
      "name": "Antwort formatieren",
      "type": "n8n-nodes-base.set",
      "position": [
        -80,
        32
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n### 🚨 Google Gemini erforderlich!\nKein Gemini? Ersetze diesen Node durch ein beliebiges multimodales Modell mit Video-Unterstützung.",
        "height": 305.35604142692785,
        "width": 260
      },
      "id": "de9aacf3-3dc1-4ce6-819f-0b7667818865",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -400,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-pro-002",
        "options": {}
      },
      "id": "993795d3-0d9b-42b2-9fcf-fdadaf460f15",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        304,
        384
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n### 🚨 Google Gemini erforderlich!\nKein Gemini? Ersetze diesen Node durch ein beliebiges multimodales Modell mit Audio-Unterstützung.",
        "height": 294.22048331415436,
        "width": 260
      },
      "id": "6e730ef6-ffa5-43c0-95b1-ec4332ac2d2a",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -400,
        -368
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-pro-002:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n  \"contents\": [{\n    \"parts\":[\n      {\"text\": \"Transkribiere diese Audiodatei\"},\n      {\"inlineData\": {\n        \"mimeType\": `audio/${$binary.data.fileExtension}`,\n        \"data\": $input.item.binary.data.data }\n      }\n    ]\n  }]\n}\n}}",
        "options": {}
      },
      "id": "ac9ea06d-a229-46e3-b4f2-576ad073dd7a",
      "name": "Google Gemini Audio",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -320,
        -336
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-pro-002:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n  \"contents\": [{\n    \"parts\":[\n      {\"text\": \"Beschreibe dieses Video\"},\n      {\"inlineData\": {\n        \"mimeType\": `video/${$binary.data.fileExtension}`,\n        \"data\": $input.item.binary.data.data }\n      }\n    ]\n  }]\n}\n}}",
        "options": {}
      },
      "id": "4774ac7a-ab43-4752-8040-e501a09c83bf",
      "name": "Google Gemini Video",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -320,
        32
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-pro-002",
        "options": {}
      },
      "id": "2f8709b6-0303-435c-869f-5e51cd72e576",
      "name": "Google Gemini Chat Model 1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        -256,
        512
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-pro-002",
        "options": {}
      },
      "id": "e8be54ab-ec18-4fca-bf45-d1fa99ec5c1c",
      "name": "Google Gemini Chat Model 2",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        -256,
        800
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ec0e573-373b-4692-bfae-86b6d3b9aa9a",
              "name": "text",
              "type": "string",
              "value": "={{ $json.candidates[0].content.parts[0].text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c0925c54-cdd4-495c-9e93-9affedfdfd2f",
      "name": "Antwort formatieren 1",
      "type": "n8n-nodes-base.set",
      "position": [
        -80,
        -336
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text.body || $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "Fasse die Nachricht des Nutzers prägnant zusammen."
            }
          ]
        }
      },
      "id": "9789c6ac-acaf-44ea-9a1e-c404938581dd",
      "name": "Text-Zusammenfasser",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        -240,
        672
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Der Nutzer hat folgende Nachricht gesendet\nNachrichtentyp: {{ $json.message_type }}\nNachrichtentext oder Beschreibung:\n```{{ $json.message_text }}```\n{{ $json.message_caption ? `Bildunterschrift: ${$json.message_caption.trim()}` : '' }}",
        "options": {
          "systemMessage": "Du bist ein KI-Assistent, der der Öffentlichkeit über WhatsApp zur Verfügung steht. Beantworte die Fragen des Nutzers prägnant und faktenbasiert."
        }
      },
      "id": "8fcce6d7-137c-44b0-af22-5c2a336fd5ab",
      "name": "KI-Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        352,
        208
      ],
      "typeVersion": 1.6
    }
  ],
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "edfd32b4-8b89-44f5-905f-aca7a308d606",
  "meta": {
    "instanceId": "4c86fd4b849565b22bccf6be505da07b8aef2c8c096163005d0b99fbc5c5e2fd"
  },
  "id": "AyB7JjSTzAwt9myC",
  "tags": [
    {
      "updatedAt": "2025-07-09T21:41:38.773Z",
      "createdAt": "2025-07-09T21:41:38.773Z",
      "id": "G5Lcoe2jTgqCJuSy",
      "name": "OpenAI"
    },
    {
      "updatedAt": "2025-07-09T21:41:38.763Z",
      "createdAt": "2025-07-09T21:41:38.763Z",
      "id": "pz5LfYMpyppJnoPT",
      "name": "WooCommerce"
    }
  ],
  "connections": {
    "KI-Agent": {
      "main": [
        [
          {
            "node": "Antwort senden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text abrufen": {
      "main": [
        [
          {
            "node": "Text-Zusammenfasser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "KI-Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Audio-URL abrufen": {
      "main": [
        [
          {
            "node": "Audio herunterladen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bild-URL abrufen": {
      "main": [
        [
          {
            "node": "Bild herunterladen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video-URL abrufen": {
      "main": [
        [
          {
            "node": "Video herunterladen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio herunterladen": {
      "main": [
        [
          {
            "node": "Google Gemini Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bild herunterladen": {
      "main": [
        [
          {
            "node": "Bild-Erklärer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video herunterladen": {
      "main": [
        [
          {
            "node": "Google Gemini Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Antwort formatieren": {
      "main": [
        [
          {
            "node": "Nutzernachricht aufbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bild-Erklärer": {
      "main": [
        [
          {
            "node": "Nutzernachricht aufbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text-Zusammenfasser": {
      "main": [
        [
          {
            "node": "Nutzernachricht aufbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Antwort formatieren 1": {
      "main": [
        [
          {
            "node": "Nutzernachricht aufbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Nachrichtenteile trennen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nutzernachricht aufbereiten": {
      "main": [
        [
          {
            "node": "KI-Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Audio": {
      "main": [
        [
          {
            "node": "Antwort formatieren 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Video": {
      "main": [
        [
          {
            "node": "Antwort formatieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gesprächsspeicher": {
      "ai_memory": [
        [
          {
            "node": "KI-Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Nachrichtentyp weiterleiten": {
      "main": [
        [
          {
            "node": "Audio-URL abrufen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Video-URL abrufen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Bild-URL abrufen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text abrufen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nachrichtenteile trennen": {
      "main": [
        [
          {
            "node": "Nachrichtentyp weiterleiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "KI-Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model 1": {
      "ai_languageModel": [
        [
          {
            "node": "Bild-Erklärer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model 2": {
      "ai_languageModel": [
        [
          {
            "node": "Text-Zusammenfasser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  }
}