workflows/production/sales-agent/WF1-Lead-Enrichment.json
{
  "name": "Sales Agent — WF1 Lead Enrichment",
  "nodes": [
    {
      "id": "wf1-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [100, 300],
      "parameters": {}
    },
    {
      "id": "wf1-if-website",
      "name": "IF: Has Website?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [350, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "website-check",
              "leftValue": "={{ $json.website }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combineOperation": "all"
        },
        "options": {}
      }
    },
    {
      "id": "wf1-tavily-website",
      "name": "Tavily: Website-Suche",
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [600, 150],
      "parameters": {
        "resource": "search",
        "operation": "query",
        "query": "={{ $('Execute Workflow Trigger').first().json.unternehmen + ' ' + $('Execute Workflow Trigger').first().json.website + ' Unternehmen Beschreibung Leistungen' }}",
        "options": {
          "searchDepth": "advanced",
          "maxResults": 3,
          "includeAnswer": true
        }
      },
      "credentials": {
        "tavilyApi": {
          "id": "TAVILY_CREDENTIAL_ID",
          "name": "Tavily account"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "wf1-tavily-challenges",
      "name": "Tavily: Herausforderungen-Suche",
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [850, 150],
      "parameters": {
        "resource": "search",
        "operation": "query",
        "query": "={{ $('Execute Workflow Trigger').first().json.unternehmen + ' ' + $('Execute Workflow Trigger').first().json.branche + ' Herausforderungen Probleme 2024 2025' }}",
        "options": {
          "searchDepth": "advanced",
          "maxResults": 3,
          "includeAnswer": true
        }
      },
      "credentials": {
        "tavilyApi": {
          "id": "TAVILY_CREDENTIAL_ID",
          "name": "Tavily account"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "wf1-code-tavily-merge",
      "name": "Code: Merge Tavily Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 150],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const websiteResult = $('Tavily: Website-Suche').first().json;\nconst challengesResult = $input.first().json;\n\nfunction extractText(result) {\n  if (!result) return '';\n  if (result.answer) return result.answer;\n  if (result.results && result.results.length > 0) {\n    return result.results.map(r => r.content || r.snippet || '').join(' ').substring(0, 800);\n  }\n  if (result.content) return String(result.content).substring(0, 800);\n  return '';\n}\n\nreturn [{\n  json: {\n    unternehmens_beschreibung: extractText(websiteResult),\n    aktuelle_herausforderungen: extractText(challengesResult)\n  }\n}];"
      }
    },
    {
      "id": "wf1-set-empty-website",
      "name": "Set: Empty Website Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [600, 450],
      "parameters": {
        "fields": {
          "values": [
            {"name": "unternehmens_beschreibung", "value": ""},
            {"name": "aktuelle_herausforderungen", "value": ""}
          ]
        },
        "options": {},
        "include": "selected"
      }
    },
    {
      "id": "wf1-merge-website",
      "name": "Merge: Website-Enrichment",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [1350, 300],
      "parameters": {
        "mode": "passThrough",
        "output": "input1",
        "options": {}
      }
    },
    {
      "id": "wf1-if-linkedin",
      "name": "IF: Has LinkedIn?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1600, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "linkedin-check",
              "leftValue": "={{ $('Execute Workflow Trigger').first().json.linkedin_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combineOperation": "all"
        },
        "options": {}
      }
    },
    {
      "id": "wf1-apify-linkedin",
      "name": "Apify: LinkedIn Scraper",
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [1850, 150],
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "mode": "id",
          "value": "apify/linkedin-profile-scraper"
        },
        "body": "={{ JSON.stringify({ startUrls: [{ url: $('Execute Workflow Trigger').first().json.linkedin_url }], maxRequestsPerCrawl: 1 }) }}"
      },
      "credentials": {
        "apifyApi": {
          "id": "wWgQDWC9aV3UcUEJ",
          "name": "Apify MN1975"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 10000
    },
    {
      "id": "wf1-code-linkedin",
      "name": "Code: Extract LinkedIn Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2100, 150],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const apifyItems = $input.all();\n\nconst profile = apifyItems.length > 0 ? apifyItems[0].json : {};\n\nconst headline = profile.headline || profile.title || profile.jobTitle || '';\nconst about = profile.about || profile.summary || profile.description || '';\nconst fullName = profile.fullName || (profile.firstName ? `${profile.firstName} ${profile.lastName}` : '') || '';\nconst company = profile.companyName || profile.currentCompany || '';\n\nreturn [{\n  json: {\n    linkedin_headline: headline,\n    linkedin_about: about,\n    linkedin_name: fullName,\n    linkedin_current_company: company\n  }\n}];"
      }
    },
    {
      "id": "wf1-set-empty-linkedin",
      "name": "Set: Empty LinkedIn Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1850, 450],
      "parameters": {
        "fields": {
          "values": [
            {"name": "linkedin_headline", "value": ""},
            {"name": "linkedin_about", "value": ""},
            {"name": "linkedin_name", "value": ""},
            {"name": "linkedin_current_company", "value": ""}
          ]
        },
        "options": {},
        "include": "selected"
      }
    },
    {
      "id": "wf1-merge-linkedin",
      "name": "Merge: LinkedIn-Enrichment",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [2350, 300],
      "parameters": {
        "mode": "passThrough",
        "output": "input1",
        "options": {}
      }
    },
    {
      "id": "wf1-code-output",
      "name": "Code: Build WF1 Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2600, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const trigger = $('Execute Workflow Trigger').first().json;\nconst current = $input.first().json;\n\nlet websiteData = {};\ntry {\n  const websiteNode = $('Code: Merge Tavily Results').first().json;\n  websiteData = websiteNode;\n} catch(e) {\n  try {\n    const emptyWebsite = $('Set: Empty Website Data').first().json;\n    websiteData = emptyWebsite;\n  } catch(e2) {\n    websiteData = { unternehmens_beschreibung: '', aktuelle_herausforderungen: '' };\n  }\n}\n\nreturn [{\n  json: {\n    lead_id: trigger.lead_id,\n    angereichert: {\n      unternehmens_beschreibung: websiteData.unternehmens_beschreibung || '',\n      aktuelle_herausforderungen: websiteData.aktuelle_herausforderungen || '',\n      linkedin_headline: current.linkedin_headline || '',\n      linkedin_about: current.linkedin_about || '',\n      linkedin_name: current.linkedin_name || '',\n      linkedin_current_company: current.linkedin_current_company || ''\n    }\n  }\n}];"
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [{"node": "IF: Has Website?", "type": "main", "index": 0}]
      ]
    },
    "IF: Has Website?": {
      "main": [
        [{"node": "Tavily: Website-Suche", "type": "main", "index": 0}],
        [{"node": "Set: Empty Website Data", "type": "main", "index": 0}]
      ]
    },
    "Tavily: Website-Suche": {
      "main": [
        [{"node": "Tavily: Herausforderungen-Suche", "type": "main", "index": 0}]
      ]
    },
    "Tavily: Herausforderungen-Suche": {
      "main": [
        [{"node": "Code: Merge Tavily Results", "type": "main", "index": 0}]
      ]
    },
    "Code: Merge Tavily Results": {
      "main": [
        [{"node": "Merge: Website-Enrichment", "type": "main", "index": 0}]
      ]
    },
    "Set: Empty Website Data": {
      "main": [
        [{"node": "Merge: Website-Enrichment", "type": "main", "index": 1}]
      ]
    },
    "Merge: Website-Enrichment": {
      "main": [
        [{"node": "IF: Has LinkedIn?", "type": "main", "index": 0}]
      ]
    },
    "IF: Has LinkedIn?": {
      "main": [
        [{"node": "Apify: LinkedIn Scraper", "type": "main", "index": 0}],
        [{"node": "Set: Empty LinkedIn Data", "type": "main", "index": 0}]
      ]
    },
    "Apify: LinkedIn Scraper": {
      "main": [
        [{"node": "Code: Extract LinkedIn Data", "type": "main", "index": 0}]
      ]
    },
    "Code: Extract LinkedIn Data": {
      "main": [
        [{"node": "Merge: LinkedIn-Enrichment", "type": "main", "index": 0}]
      ]
    },
    "Set: Empty LinkedIn Data": {
      "main": [
        [{"node": "Merge: LinkedIn-Enrichment", "type": "main", "index": 1}]
      ]
    },
    "Merge: LinkedIn-Enrichment": {
      "main": [
        [{"node": "Code: Build WF1 Output", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true
  },
  "staticData": null
}
