workflows/production/lead-gen-enrichment-scoring/etappe4-monatliche-gelb-pruefung.json
{
  "id": "0IxkfyH9QPavdTPy",
  "name": "Monatliche GELB-Prüfung (Etappe 4)",
  "active": false,
  "nodes": [
    {
      "id": "6410cfe3-0046-412d-980d-91f9a68faa8c",
      "name": "Schedule Monatlich",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        250,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtDay": 1,
              "triggerAtHour": 9
            }
          ]
        }
      }
    },
    {
      "id": "282b5098-985f-474c-87d6-334afcaa0f19",
      "name": "Read GELB Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        500,
        300
      ],
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "range": "A:F",
        "options": {}
      }
    },
    {
      "id": "21f01ab6-103b-4184-a81f-37153505069c",
      "name": "IF Hat Leads?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        750,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-has-data",
              "leftValue": "={{ $json.Firmenname }}",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "664685c1-ac3a-436d-9624-f5a81b5293a8",
      "name": "Ende Keine Leads",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1000,
        500
      ],
      "parameters": {}
    },
    {
      "id": "a933e6d8-71ae-407d-ab84-d00dc5174469",
      "name": "Creditsafe Auth",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1000,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://connect.creditsafe.com/v1/authenticate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({username: $env.CREDITSAFE_USERNAME, password: $env.CREDITSAFE_PASSWORD}) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "613f36d3-6acb-456d-8ebf-d32e9c22d6cd",
      "name": "Prepare Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        300
      ],
      "parameters": {
        "jsCode": "const token = $input.first().json.token;\nconst leads = $('Read GELB Leads').all();\nreturn leads.map(lead => ({\n  json: { ...lead.json, cs_token: token }\n}));"
      }
    },
    {
      "id": "779f928f-2dee-4a6b-bce2-c6593f747162",
      "name": "Creditsafe Suche",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1500,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://connect.creditsafe.com/v1/companies",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "countries",
              "value": "DE"
            },
            {
              "name": "name",
              "value": "={{ $json.Firmenname }}"
            },
            {
              "name": "postCode",
              "value": "={{ $json.PLZ || '' }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.cs_token }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "6b792b5b-9485-4f4b-aa38-dbfc17949862",
      "name": "Merge Suche",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1750,
        300
      ],
      "parameters": {
        "jsCode": "const leads = $('Prepare Leads').all();\nconst results = $input.all();\nreturn results.map((r, i) => {\n  const lead = leads[i]?.json || {};\n  const companies = r.json?.companies || [];\n  const company = companies[0] || null;\n  return {\n    json: {\n      ...lead,\n      cs_found: !!company,\n      cs_company_id: company?.id || null,\n      cs_company_name: company?.name || null\n    }\n  };\n});"
      }
    },
    {
      "id": "66fbdf80-8d91-45c6-ac68-52ab203f749a",
      "name": "IF Firma gefunden?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2000,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-found",
              "leftValue": "={{ $json.cs_company_id }}",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "cee9f5e4-b696-45b0-9a34-c7862a8b709a",
      "name": "Creditsafe Bericht",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2250,
        200
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://connect.creditsafe.com/v1/companies/' + $json.cs_company_id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "language",
              "value": "de"
            },
            {
              "name": "template",
              "value": "full"
            },
            {
              "name": "customData",
              "value": "de_reason_code::1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.cs_token }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "1f05a43c-a79b-4658-9026-6114bdb80fec",
      "name": "Merge Bericht",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2500,
        200
      ],
      "parameters": {
        "jsCode": "const allLeads = $('Merge Suche').all();\nconst foundLeads = allLeads.filter(l => l.json.cs_found);\nconst reports = $input.all();\nreturn reports.map((report, i) => {\n  const lead = foundLeads[i]?.json || {};\n  const cs = report.json?.report?.creditScore?.currentCreditRating || {};\n  return {\n    json: {\n      ...lead,\n      cs_credit_score: cs.commonValue ?? 'N/A',\n      cs_credit_rating: cs.providerValue?.value ?? 'N/A',\n      cs_credit_limit: cs.creditLimit?.value ?? 0,\n      cs_insolvency: report.json?.report?.additionalInformation?.insolvencyFlag ?? false\n    }\n  };\n});"
      }
    },
    {
      "id": "b1afdade-25fa-4277-9ba9-df6b4c42bced",
      "name": "Set Ohne Bonität",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2250,
        450
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "set-score",
              "name": "cs_credit_score",
              "value": "nicht_verfuegbar",
              "type": "string"
            },
            {
              "id": "set-rating",
              "name": "cs_credit_rating",
              "value": "nicht_verfuegbar",
              "type": "string"
            },
            {
              "id": "set-limit",
              "name": "cs_credit_limit",
              "value": "0",
              "type": "string"
            },
            {
              "id": "set-insolvency",
              "name": "cs_insolvency",
              "value": "false",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true
      }
    },
    {
      "id": "23bb4c99-ae0b-488b-b5ac-22e9e1fafcbe",
      "name": "Merge Bonität",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        2750,
        300
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "17d8e8a2-1f57-4b3d-b01a-367e23cb623c",
      "name": "GPT Neu-Bewertung",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [
        3000,
        300
      ],
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "chatModel": "gpt-4o",
        "prompt": {
          "messages": {
            "values": [
              {
                "role": "system",
                "content": "Du bist ein B2B-Lead-Bewertungsexperte. Bewerte den folgenden GELB-Lead neu basierend auf den aktuellen Creditsafe-Daten.\n\nBewertungskriterien:\n- Credit Score > 50 und Rating A-C = GRUEN (aufwerten)\n- Credit Score 30-50 oder Rating D = GELB (beibehalten)\n- Credit Score < 30 oder Rating E-F oder Insolvenz = ROT (abwerten)\n- Keine Bonitaetsdaten verfuegbar = GELB (beibehalten)\n\nAntworte NUR als JSON:\n{\"neue_ampel\":\"GRUEN/GELB/ROT\",\"neuer_score\":0-100,\"begruendung\":\"...\",\"aenderung\":\"UPGRADE/KEINE/DOWNGRADE\"}"
              },
              {
                "role": "user",
                "content": "={{ 'Firmenname: ' + ($json.Firmenname || 'unbekannt') + '\\nBranche: ' + ($json.Branche || 'unbekannt') + '\\nAlte Ampel: GELB\\nCredit Score: ' + ($json.cs_credit_score || 'nicht verfuegbar') + '\\nCredit Rating: ' + ($json.cs_credit_rating || 'nicht verfuegbar') + '\\nCredit Limit: ' + ($json.cs_credit_limit || '0') + '\\nInsolvenz: ' + ($json.cs_insolvency || 'false') }}"
              }
            ]
          }
        },
        "options": {
          "temperature": 0.2,
          "maxTokens": 500
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": ""
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "d20b774b-c5c1-4e81-bc2b-d0a47c436820",
      "name": "Parse Bewertung",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3250,
        300
      ],
      "parameters": {
        "jsCode": "const leads = $('Merge Bonität').all();\nconst responses = $input.all();\nreturn responses.map((r, i) => {\n  const lead = leads[i]?.json || {};\n  try {\n    const content = r.json.content || r.json.message?.content || '';\n    const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n      const b = JSON.parse(jsonMatch[0]);\n      return { json: { ...lead, neue_ampel: b.neue_ampel || 'GELB', neuer_score: b.neuer_score || 50, begruendung: b.begruendung || '', aenderung: b.aenderung || 'KEINE', letzte_pruefung: $now.toISO() } };\n    }\n  } catch(e) {}\n  return { json: { ...lead, neue_ampel: 'GELB', neuer_score: 50, begruendung: 'Parsing fehlgeschlagen', aenderung: 'KEINE', letzte_pruefung: $now.toISO() } };\n});"
      }
    },
    {
      "id": "6c6b2158-0f8d-424f-a342-40770481a0e3",
      "name": "Sheet GELB Update",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3500,
        300
      ],
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "range": "A:F",
        "columns": {
          "mappingMode": "autoMapInputData",
          "matchingColumns": [
            "Firmenname"
          ]
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "id": "de32a801-7657-4839-9bf7-86a312df22a6",
      "name": "Switch Klassifikation",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3750,
        200
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "outputKey": "GRUEN",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.neue_ampel }}",
                    "rightValue": "GRUEN",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "ROT",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.neue_ampel }}",
                    "rightValue": "ROT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      }
    },
    {
      "id": "9a12e953-bf81-4fb1-b729-b657ce561d7f",
      "name": "Sheet Upgrade GRÜN",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4000,
        100
      ],
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "autoMapInputData"
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "id": "29d8e946-df53-4618-b7e4-69987f4d595b",
      "name": "Sheet Downgrade ROT",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4000,
        300
      ],
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "autoMapInputData"
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "id": "e0a79df6-49ea-40ac-9017-874f264c009d",
      "name": "Statistik",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3750,
        450
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst stats = { total: items.length, gruen: 0, gelb: 0, rot: 0, upgrades: [], downgrades: [] };\nfor (const item of items) {\n  const ampel = item.json.neue_ampel || 'GELB';\n  if (ampel === 'GRUEN') { stats.gruen++; stats.upgrades.push(item.json.Firmenname || 'Unbekannt'); }\n  else if (ampel === 'ROT') { stats.rot++; stats.downgrades.push(item.json.Firmenname || 'Unbekannt'); }\n  else { stats.gelb++; }\n}\nconst datum = $now.toFormat('dd.MM.yyyy');\nlet html = '<h2>Monatliche GELB-Pruefung (' + datum + ')</h2>';\nhtml += '<p><strong>Gesamt:</strong> ' + stats.total + ' Leads geprueft</p>';\nhtml += '<table border=\"1\" cellpadding=\"5\" style=\"border-collapse:collapse\">';\nhtml += '<tr><td>GRUEN (Upgrade)</td><td><strong>' + stats.gruen + '</strong></td></tr>';\nhtml += '<tr><td>GELB (unveraendert)</td><td><strong>' + stats.gelb + '</strong></td></tr>';\nhtml += '<tr><td>ROT (Downgrade)</td><td><strong>' + stats.rot + '</strong></td></tr>';\nhtml += '</table>';\nif (stats.upgrades.length > 0) { html += '<h3>Upgrades zu GRUEN:</h3><ul>'; stats.upgrades.forEach(f => html += '<li>' + f + '</li>'); html += '</ul>'; }\nif (stats.downgrades.length > 0) { html += '<h3>Downgrades zu ROT:</h3><ul>'; stats.downgrades.forEach(f => html += '<li>' + f + '</li>'); html += '</ul>'; }\nreturn [{ json: { ...stats, report_html: html, datum: datum } }];"
      }
    },
    {
      "id": "6719213d-e12a-4d5a-884b-1cd5bd899015",
      "name": "Gmail Report",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        4000,
        450
      ],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $env.REPORT_EMAIL || 'team@firma.de' }}",
        "subject": "={{ 'GELB-Pruefung ' + $json.datum + ': ' + $json.gruen + ' Upgrades, ' + $json.rot + ' Downgrades' }}",
        "emailType": "html",
        "message": "={{ $json.report_html }}"
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": ""
        }
      }
    }
  ],
  "connections": {
    "Schedule Monatlich": {
      "main": [
        [
          {
            "node": "Read GELB Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read GELB Leads": {
      "main": [
        [
          {
            "node": "IF Hat Leads?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Hat Leads?": {
      "main": [
        [
          {
            "node": "Creditsafe Auth",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ende Keine Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Creditsafe Auth": {
      "main": [
        [
          {
            "node": "Prepare Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Leads": {
      "main": [
        [
          {
            "node": "Creditsafe Suche",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Creditsafe Suche": {
      "main": [
        [
          {
            "node": "Merge Suche",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Suche": {
      "main": [
        [
          {
            "node": "IF Firma gefunden?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Firma gefunden?": {
      "main": [
        [
          {
            "node": "Creditsafe Bericht",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Ohne Bonität",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Creditsafe Bericht": {
      "main": [
        [
          {
            "node": "Merge Bericht",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Bericht": {
      "main": [
        [
          {
            "node": "Merge Bonität",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Ohne Bonität": {
      "main": [
        [
          {
            "node": "Merge Bonität",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Bonität": {
      "main": [
        [
          {
            "node": "GPT Neu-Bewertung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT Neu-Bewertung": {
      "main": [
        [
          {
            "node": "Parse Bewertung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Bewertung": {
      "main": [
        [
          {
            "node": "Sheet GELB Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet GELB Update": {
      "main": [
        [
          {
            "node": "Switch Klassifikation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Statistik",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Klassifikation": {
      "main": [
        [
          {
            "node": "Sheet Upgrade GRÜN",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sheet Downgrade ROT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Statistik": {
      "main": [
        [
          {
            "node": "Gmail Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}