workflows/production/lead-gen-enrichment-scoring/etappe1+2-geschaeftskunden-akquise-bonitaet-enrichment.json
{
  "id": "O54X9J442WJFax2k",
  "name": "Geschäftskunden-Akquise & Bonitätsprüfung (Etappe 1+2)",
  "active": false,
  "nodes": [
    {
      "id": "a1b2c3d4-0001-4000-a000-000000000001",
      "name": "Email Trigger",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [250, 300],
      "parameters": {
        "mailbox": "INBOX",
        "postProcessAction": "read",
        "format": "simple"
      },
      "credentials": { "imap": { "id": "", "name": "" } }
    },
    {
      "id": "a1b2c3d4-0001-4000-a000-000000000002",
      "name": "GPT Geschäftskunde",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [500, 300],
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "chatModel": "gpt-4o",
        "prompt": { "messages": { "values": [{ "role": "system", "content": "Du bist ein Experte für die Analyse von Bestellbestätigungen. Analysiere den folgenden Email-Text und bestimme, ob der Besteller ein Geschäftskunde (B2B) oder ein Privatkunde (B2C) ist.\n\nKriterien für Geschäftskunde:\n- Firmenname in der Adresse\n- USt-IdNr. / Steuernummer vorhanden\n- Gewerbliche Lieferadresse (nicht Wohnadresse)\n- Bestellmenge deutet auf gewerbliche Nutzung hin\n- Branchenspezifische Begriffe (Gastronomie, Hotel, Catering, etc.)\n- \"Firma\", \"GmbH\", \"UG\", \"AG\", \"e.K.\", \"OHG\", \"KG\" im Namen\n\nAntworte ausschließlich im folgenden JSON-Format:\n{\n  \"ist_geschaeftskunde\": true/false,\n  \"konfidenz\": 0.0-1.0,\n  \"firmenname\": \"Name oder null\",\n  \"branche\": \"Erkannte Branche oder null\",\n  \"begruendung\": \"Kurze Begründung\",\n  \"extrahierte_daten\": {\n    \"name\": \"Kontaktname\",\n    \"email\": \"Email-Adresse\",\n    \"adresse\": \"Vollständige Adresse\",\n    \"telefon\": \"Telefonnummer oder null\",\n    \"ust_id\": \"USt-IdNr. oder null\"\n  }\n}" }, { "role": "user", "content": "={{ $json.text }}" }] } },
        "simplifyOutput": true,
        "options": { "temperature": 0.1, "maxTokens": 2000 }
      },
      "credentials": { "openAiApi": { "id": "", "name": "" } },
      "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 5000
    },
    {
      "id": "a1b2c3d4-0001-4000-a000-000000000003",
      "name": "Parse Klassifikation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300],
      "parameters": { "language": "javaScript", "mode": "runOnceForAllItems", "jsCode": "const items = $input.all();\nconst emailData = $('Email Trigger').first().json;\nconst results = [];\n\nfor (const item of items) {\n  try {\n    const content = item.json.content || '';\n    const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n      const parsed = JSON.parse(jsonMatch[0]);\n      results.push({ json: { ...parsed, original_email: { from: emailData.from, subject: emailData.subject, date: emailData.date, text: emailData.text } } });\n    } else {\n      results.push({ json: { ist_geschaeftskunde: false, konfidenz: 0, firmenname: null, branche: null, begruendung: 'Kein JSON in GPT-Antwort gefunden', extrahierte_daten: {}, original_email: { from: emailData.from, subject: emailData.subject, date: emailData.date } } });\n    }\n  } catch (e) {\n    results.push({ json: { ist_geschaeftskunde: false, konfidenz: 0, firmenname: null, branche: null, begruendung: 'Parse-Fehler: ' + e.message, extrahierte_daten: {}, original_email: { from: emailData.from, subject: emailData.subject, date: emailData.date } } });\n  }\n}\n\nreturn results;" }
    },
    {
      "id": "a1b2c3d4-0001-4000-a000-000000000004",
      "name": "Geschäftskunde?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1000, 300],
      "parameters": { "conditions": { "options": { "version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "strict" }, "conditions": [{ "id": "cond-biz-1", "leftValue": "={{ $json.ist_geschaeftskunde }}", "operator": { "type": "boolean", "operation": "true", "singleValue": true } }, { "id": "cond-biz-2", "leftValue": "={{ $json.konfidenz }}", "rightValue": 0.7, "operator": { "type": "number", "operation": "gte" } }], "combinator": "and" } }
    },
    {
      "id": "a1b2c3d4-0001-4000-a000-000000000005",
      "name": "Ende Privatkunde",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1250, 500],
      "parameters": {}
    },
    {
      "id": "a1b2c3d4-0001-4000-a000-000000000006",
      "name": "Creditsafe Auth",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1250, 300],
      "parameters": { "url": "https://connect.creditsafe.com/v1/authenticate", "method": "POST", "sendBody": true, "contentType": "json", "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ username: $env.CREDITSAFE_USERNAME, password: $env.CREDITSAFE_PASSWORD }) }}" },
      "onError": "continueRegularOutput", "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 5000
    },
    {
      "id": "a1b2c3d4-0001-4000-a000-000000000007",
      "name": "Creditsafe Suche",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1500, 300],
      "parameters": { "url": "https://connect.creditsafe.com/v1/companies", "method": "GET", "sendHeaders": true, "headerParameters": { "parameters": [{ "name": "Authorization", "value": "=Bearer {{ $('Creditsafe Auth').first().json.token }}" }] }, "sendQuery": true, "queryParameters": { "parameters": [{ "name": "countries", "value": "DE" }, { "name": "name", "value": "={{ $('Parse Klassifikation').first().json.firmenname }}" }] } },
      "onError": "continueRegularOutput", "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 5000
    },
    {
      "id": "a1b2c3d4-0001-4000-a000-000000000008",
      "name": "Firma extrahieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1750, 300],
      "parameters": { "language": "javaScript", "mode": "runOnceForAllItems", "jsCode": "const items = $input.all();\nconst classData = $('Parse Klassifikation').first().json;\nlet authToken = null;\ntry { authToken = $('Creditsafe Auth').first().json.token; } catch(e) {}\n\nconst results = [];\n\nfor (const item of items) {\n  const companies = item.json.companies || [];\n\n  if (!authToken) {\n    results.push({ json: { ...classData, creditsafe_error: true, creditsafe_error_msg: 'Authentifizierung fehlgeschlagen', company_id: null, company_found: false } });\n  } else if (companies.length > 0) {\n    results.push({ json: { ...classData, creditsafe_error: false, company_id: companies[0].id, company_name_cs: companies[0].name, company_found: true } });\n  } else {\n    results.push({ json: { ...classData, creditsafe_error: true, creditsafe_error_msg: 'Keine Firma bei Creditsafe gefunden', company_id: null, company_found: false } });\n  }\n}\n\nreturn results;" }
    },
    {
      "id": "a1b2c3d4-0001-4000-a000-000000000009",
      "name": "Creditsafe Bericht",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2000, 300],
      "parameters": { "url": "=https://connect.creditsafe.com/v1/companies/{{ $json.company_id }}", "method": "GET", "sendHeaders": true, "headerParameters": { "parameters": [{ "name": "Authorization", "value": "=Bearer {{ $('Creditsafe Auth').first().json.token }}" }] } },
      "onError": "continueRegularOutput", "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 5000
    },
    {
      "id": "a1b2c3d4-0001-4000-a000-000000000010",
      "name": "GPT Ampel-Bewertung",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [2250, 300],
      "parameters": { "resource": "chat", "operation": "complete", "chatModel": "gpt-4o", "prompt": { "messages": { "values": [{ "role": "system", "content": "Du bist ein Bonitätsanalyst. Bewerte die folgenden Creditsafe-Daten und ordne dem Unternehmen eine Ampelfarbe zu.\n\nBewertungskriterien:\n\nGRÜN (Guter Lead — sofort kontaktieren):\n- Creditsafe Score >= 70\n- Keine negativen Zahlungserfahrungen\n- Unternehmen existiert seit > 2 Jahren\n- Keine Insolvenzverfahren\n\nGELB (Prüfung nötig — monatlich neu bewerten):\n- Creditsafe Score 40-69\n- Leichte Zahlungsverzögerungen\n- Junges Unternehmen (< 2 Jahre)\n- Unvollständige Daten\n\nROT (Kein Lead — nicht kontaktieren):\n- Creditsafe Score < 40\n- Schwere Zahlungsstörungen\n- Laufendes Insolvenzverfahren\n- Unternehmen aufgelöst/in Liquidation\n\nWICHTIG: Wenn keine Creditsafe-Daten verfügbar sind (API-Fehler, Firma nicht gefunden, oder creditsafe_error ist true), ordne automatisch GELB zu mit der Begründung 'Keine Bonitätsdaten verfügbar - manuelle Prüfung erforderlich'.\n\nAntworte ausschließlich im folgenden JSON-Format:\n{\n  \"ampel\": \"GRUEN\" | \"GELB\" | \"ROT\",\n  \"score\": <Creditsafe-Score oder 0>,\n  \"begruendung\": \"Kurze Begründung der Einstufung\",\n  \"risikofaktoren\": [\"Faktor 1\", \"Faktor 2\"],\n  \"empfehlung\": \"Handlungsempfehlung\"\n}" }, { "role": "user", "content": "=Firmendaten:\nFirmenname: {{ $('Parse Klassifikation').first().json.firmenname }}\nBranche: {{ $('Parse Klassifikation').first().json.branche }}\nCreditsafe-Error: {{ $('Firma extrahieren').first().json.creditsafe_error }}\nCreditsafe-Error-Msg: {{ $('Firma extrahieren').first().json.creditsafe_error_msg ?? 'keine' }}\n\nCreditsafe-Bericht:\n{{ JSON.stringify($json) }}" }] } }, "simplifyOutput": true, "options": { "temperature": 0, "maxTokens": 1000 } },
      "credentials": { "openAiApi": { "id": "", "name": "" } },
      "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 5000
    },
    {
      "id": "a1b2c3d4-0001-4000-a000-000000000011",
      "name": "Parse Ampel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2500, 300],
      "parameters": { "language": "javaScript", "mode": "runOnceForAllItems", "jsCode": "const items = $input.all();\nconst classData = $('Parse Klassifikation').first().json;\nconst extractData = $('Firma extrahieren').first().json;\nlet csReport = {};\ntry { csReport = $('Creditsafe Bericht').first().json; } catch(e) {}\n\nconst results = [];\n\nfor (const item of items) {\n  try {\n    const content = item.json.content || '';\n    const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n      const parsed = JSON.parse(jsonMatch[0]);\n      results.push({ json: { firmenname: classData.firmenname, branche: classData.branche, extrahierte_daten: classData.extrahierte_daten, original_email: classData.original_email, company_id: extractData.company_id, company_found: extractData.company_found, creditsafe_error: extractData.creditsafe_error, ampel: parsed.ampel, score: parsed.score, ampel_begruendung: parsed.begruendung, risikofaktoren: parsed.risikofaktoren, empfehlung: parsed.empfehlung, creditsafe_raw: csReport } });\n    } else {\n      results.push({ json: { firmenname: classData.firmenname, branche: classData.branche, extrahierte_daten: classData.extrahierte_daten, original_email: classData.original_email, company_id: extractData.company_id, creditsafe_error: extractData.creditsafe_error, ampel: 'GELB', score: 0, ampel_begruendung: 'GPT-Antwort konnte nicht geparst werden', risikofaktoren: ['Parse-Fehler'], empfehlung: 'Manuelle Bonitätsprüfung durchführen' } });\n    }\n  } catch (e) {\n    results.push({ json: { firmenname: classData.firmenname, branche: classData.branche, extrahierte_daten: classData.extrahierte_daten, original_email: classData.original_email, ampel: 'GELB', score: 0, ampel_begruendung: 'Fehler: ' + e.message, risikofaktoren: ['Verarbeitungsfehler'], empfehlung: 'Manuelle Bonitätsprüfung durchführen' } });\n  }\n}\n\nreturn results;" }
    },
    {
      "id": "a1b2c3d4-0001-4000-a000-000000000012",
      "name": "Ampel Routing",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [2750, 300],
      "parameters": { "mode": "rules", "rules": { "values": [{ "conditions": { "conditions": [{ "leftValue": "={{ $json.ampel }}", "rightValue": "GRUEN", "operator": { "type": "string", "operation": "equals" } }] }, "renameOutput": true, "outputKey": "GRUEN" }, { "conditions": { "conditions": [{ "leftValue": "={{ $json.ampel }}", "rightValue": "GELB", "operator": { "type": "string", "operation": "equals" } }] }, "renameOutput": true, "outputKey": "GELB" }, { "conditions": { "conditions": [{ "leftValue": "={{ $json.ampel }}", "rightValue": "ROT", "operator": { "type": "string", "operation": "equals" } }] }, "renameOutput": true, "outputKey": "ROT" }] }, "options": {} }
    },
    {
      "id": "a1b2c3d4-0001-4000-a000-000000000013",
      "name": "Ausgang GRÜN",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [3000, 150],
      "parameters": { "mode": "manual", "includeOtherFields": true, "assignments": { "assignments": [{ "id": "assign-status", "name": "status", "value": "GRUEN - Weiter zu Enrichment", "type": "string" }, { "id": "assign-timestamp", "name": "pruefungsdatum", "value": "={{ $now.toISO() }}", "type": "string" }] } }
    },
    {
      "id": "a1b2c3d4-0001-4000-a000-000000000014",
      "name": "Sheet GELB",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [3000, 300],
      "parameters": { "operation": "append", "documentId": { "mode": "url", "value": "PASTE_YOUR_GOOGLE_SHEET_URL_HERE" }, "sheetName": { "mode": "name", "value": "GELB - Monatliche Prüfung" }, "columns": { "mappingMode": "defineBelow", "value": { "Lead-ID": "={{ $now.toMillis() }}", "Datum Erstprüfung": "={{ $now.toFormat('yyyy-MM-dd') }}", "Firmenname": "={{ $json.firmenname }}", "Branche": "={{ $json.branche }}", "Creditsafe Score": "={{ $json.score }}", "Ampel-Begründung": "={{ $json.ampel_begruendung }}", "Nächste Prüfung": "={{ $now.plus({ days: 30 }).toFormat('yyyy-MM-dd') }}", "Anzahl Prüfungen": "=1", "Status": "Wartet auf Neubewertung", "Email": "={{ $json.extrahierte_daten.email ?? '' }}", "Kontaktperson": "={{ $json.extrahierte_daten.name ?? '' }}" }, "matchingColumns": [], "schema": [] } },
      "credentials": { "googleSheetsOAuth2Api": { "id": "", "name": "" } },
      "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 5000
    },
    {
      "id": "a1b2c3d4-0001-4000-a000-000000000015",
      "name": "Sheet ROT",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [3000, 450],
      "parameters": { "operation": "append", "documentId": { "mode": "url", "value": "PASTE_YOUR_GOOGLE_SHEET_URL_HERE" }, "sheetName": { "mode": "name", "value": "ROT - Abgelehnt" }, "columns": { "mappingMode": "defineBelow", "value": { "Lead-ID": "={{ $now.toMillis() }}", "Datum": "={{ $now.toFormat('yyyy-MM-dd') }}", "Firmenname": "={{ $json.firmenname }}", "Score": "={{ $json.score }}", "Ablehnungsgrund": "={{ $json.ampel_begruendung }}" }, "matchingColumns": [], "schema": [] } },
      "credentials": { "googleSheetsOAuth2Api": { "id": "", "name": "" } },
      "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 5000
    },
    {
      "id": "a1b2c3d4-0001-4000-a000-000000000016",
      "name": "Apollo Enrichment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [3300, -100],
      "parameters": { "url": "https://api.apollo.io/api/v1/organizations/enrich", "method": "POST", "sendBody": true, "contentType": "json", "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ domain: ($json.extrahierte_daten && $json.extrahierte_daten.email) ? $json.extrahierte_daten.email.split('@')[1] : '', name: $json.firmenname || '' }) }}", "sendHeaders": true, "headerParameters": { "parameters": [{ "name": "x-api-key", "value": "={{ $env.APOLLO_API_KEY }}" }, { "name": "Content-Type", "value": "application/json" }] } },
      "onError": "continueRegularOutput", "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 5000
    },
    {
      "id": "a1b2c3d4-0001-4000-a000-000000000030",
      "name": "Apify LinkedIn",
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [3300, 100],
      "parameters": { "resource": "Actors", "operation": "Run actor and get dataset", "actorId": "={{ $env.APIFY_LINKEDIN_ACTOR_ID }}", "customBody": "={{ JSON.stringify({ queries: [$json.firmenname || ''], maxResults: 1 }) }}" },
      "credentials": { "apifyApi": { "id": "", "name": "" } },
      "onError": "continueRegularOutput", "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 5000
    },
    {
      "id": "a1b2c3d4-0001-4000-a000-000000000031",
      "name": "Tavily Suche",
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [3300, 300],
      "parameters": { "resource": "search", "operation": "query", "query": "={{ ($json.firmenname || '') + ' ' + ($json.branche || '') + ' Deutschland Unternehmen News' }}", "queryOptions": { "search_depth": "advanced", "max_results": 5 } },
      "credentials": { "tavilyApi": { "id": "", "name": "" } },
      "onError": "continueRegularOutput", "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 5000
    },
    {
      "id": "a1b2c3d4-0001-4000-a000-000000000021",
      "name": "Perplexity Analyse",
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [3300, 500],
      "parameters": { "model": "sonar-pro", "messages": { "message": [{ "role": "user", "content": "=Erstelle eine detaillierte Unternehmensanalyse für \"{{ $json.firmenname }}\" (Branche: {{ $json.branche ?? 'unbekannt' }}).\n\nRecherchiere:\n1. Unternehmensgröße und Mitarbeiterzahl\n2. Umsatz und Wachstum\n3. Wichtige Produkte/Dienstleistungen\n4. Marktposition und Wettbewerber\n5. Aktuelle Nachrichten\n6. Entscheidungsträger/Management\n7. Potenzielle Bedarfe und Pain Points\n\nFokus auf den deutschen Markt. Antworte auf Deutsch." }] }, "simplify": true, "options": { "temperature": 0.3, "maxTokens": 2000 } },
      "credentials": { "perplexityApi": { "id": "", "name": "" } },
      "onError": "continueRegularOutput", "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 5000
    },
    {
      "id": "a1b2c3d4-0001-4000-a000-000000000022",
      "name": "Merge Enrichment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4100, 200],
      "parameters": { "language": "javaScript", "mode": "runOnceForAllItems", "jsCode": "const ampelData = $('Parse Ampel').first().json;\n\nlet apollo = {};\ntry { apollo = $('Apollo Enrichment').first().json; } catch(e) { apollo = { error: true, msg: 'Apollo nicht verfügbar: ' + e.message }; }\n\nlet linkedin = {};\ntry { linkedin = $('Apify LinkedIn').first().json; } catch(e) { linkedin = { error: true, msg: 'LinkedIn nicht verfügbar: ' + e.message }; }\n\nlet tavily = {};\ntry { tavily = $('Tavily Suche').first().json; } catch(e) { tavily = { error: true, msg: 'Tavily nicht verfügbar: ' + e.message }; }\n\nlet perplexity = {};\ntry { perplexity = $('Perplexity Analyse').first().json; } catch(e) { perplexity = { error: true, msg: 'Perplexity nicht verfügbar: ' + e.message }; }\n\nconst quellenVerfuegbar = [];\nif (!apollo.error) quellenVerfuegbar.push('Apollo');\nif (!linkedin.error) quellenVerfuegbar.push('LinkedIn');\nif (!tavily.error) quellenVerfuegbar.push('Tavily');\nif (!perplexity.error) quellenVerfuegbar.push('Perplexity');\n\nreturn [{\n  json: {\n    firmenname: ampelData.firmenname,\n    branche: ampelData.branche,\n    extrahierte_daten: ampelData.extrahierte_daten,\n    original_email: ampelData.original_email,\n    ampel: ampelData.ampel,\n    score: ampelData.score,\n    ampel_begruendung: ampelData.ampel_begruendung,\n    risikofaktoren: ampelData.risikofaktoren,\n    empfehlung: ampelData.empfehlung,\n    enrichment: { apollo: apollo, linkedin: linkedin, tavily: tavily, perplexity: perplexity },\n    enrichment_datum: $now.toISO(),\n    quellen_verfuegbar: quellenVerfuegbar\n  }\n}];" }
    },
    {
      "id": "a1b2c3d4-0001-4000-a000-000000000023",
      "name": "GPT Lead-Summary",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [4350, 200],
      "parameters": { "resource": "chat", "operation": "complete", "chatModel": "gpt-4.1", "prompt": { "messages": { "values": [{ "role": "system", "content": "Du bist ein B2B Sales Intelligence Analyst. Erstelle aus den Enrichment-Daten einen strukturierten Lead-Report.\n\nAntworte ausschließlich im JSON-Format:\n{\n  \"zusammenfassung\": \"2-3 Sätze Executive Summary\",\n  \"unternehmensprofil\": {\n    \"name\": \"Firmenname\",\n    \"branche\": \"Branche\",\n    \"groesse\": \"Unternehmensgröße\",\n    \"umsatz\": \"Geschätzter Umsatz\",\n    \"gruendungsjahr\": \"Jahr\",\n    \"standort\": \"Hauptsitz\",\n    \"website\": \"URL\",\n    \"linkedin\": \"LinkedIn URL\"\n  },\n  \"kontaktpersonen\": [{\"name\": \"Name\", \"position\": \"Titel\", \"email\": \"Email\", \"linkedin\": \"URL\"}],\n  \"verkaufschancen\": {\n    \"potenzial\": \"hoch/mittel/niedrig\",\n    \"bedarfe\": [\"Bedarf 1\"],\n    \"pain_points\": [\"Pain Point 1\"],\n    \"einstiegspunkte\": [\"Gesprächseinstieg 1\"]\n  },\n  \"aktuelle_news\": [\"Relevante Nachricht 1\"],\n  \"wettbewerber\": [\"Wettbewerber 1\"],\n  \"empfohlene_ansprache\": \"Konkrete Empfehlung für Erstkontakt\"\n}" }, { "role": "user", "content": "=Lead-Daten:\nFirmenname: {{ $json.firmenname }}\nBranche: {{ $json.branche }}\nBonität: {{ $json.ampel }} (Score: {{ $json.score }})\nVerfügbare Quellen: {{ $json.quellen_verfuegbar.join(', ') }}\n\nApollo-Daten:\n{{ JSON.stringify($json.enrichment.apollo) }}\n\nLinkedIn-Daten:\n{{ JSON.stringify($json.enrichment.linkedin) }}\n\nTavily Web-Recherche:\n{{ JSON.stringify($json.enrichment.tavily) }}\n\nPerplexity Analyse:\n{{ JSON.stringify($json.enrichment.perplexity) }}\n\nEmail-Daten:\n{{ JSON.stringify($json.extrahierte_daten) }}" }] } }, "simplifyOutput": true, "options": { "temperature": 0.3, "maxTokens": 3000 } },
      "credentials": { "openAiApi": { "id": "", "name": "" } },
      "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 5000
    },
    {
      "id": "a1b2c3d4-0001-4000-a000-000000000024",
      "name": "Parse Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4600, 200],
      "parameters": { "language": "javaScript", "mode": "runOnceForAllItems", "jsCode": "const items = $input.all();\nconst enrichData = $('Merge Enrichment').first().json;\nconst results = [];\n\nfor (const item of items) {\n  try {\n    const content = item.json.content || '';\n    const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n    let summary = {};\n    if (jsonMatch) { summary = JSON.parse(jsonMatch[0]); } else { summary = { zusammenfassung: content, parse_error: true }; }\n    const kontakt = (summary.kontaktpersonen && summary.kontaktpersonen[0]) ? summary.kontaktpersonen[0] : {};\n    const profil = summary.unternehmensprofil || {};\n    const verkauf = summary.verkaufschancen || {};\n    results.push({ json: { firmenname: enrichData.firmenname, branche: enrichData.branche, score: enrichData.score, ampel: enrichData.ampel, kontaktperson: kontakt.name || (enrichData.extrahierte_daten ? enrichData.extrahierte_daten.name : '') || '', position: kontakt.position || '', email: (enrichData.extrahierte_daten ? enrichData.extrahierte_daten.email : '') || kontakt.email || '', telefon: enrichData.extrahierte_daten ? (enrichData.extrahierte_daten.telefon || '') : '', website: profil.website || '', linkedin_url: profil.linkedin || '', groesse: profil.groesse || '', standort: profil.standort || '', zusammenfassung: summary.zusammenfassung || '', verkaufspotenzial: verkauf.potenzial || '', bedarfe: (verkauf.bedarfe || []).join(', '), pain_points: (verkauf.pain_points || []).join(', '), empfohlene_ansprache: summary.empfohlene_ansprache || '', aktuelle_news: (summary.aktuelle_news || []).join('; '), wettbewerber: (summary.wettbewerber || []).join(', '), quellen: enrichData.quellen_verfuegbar.join(', '), enrichment_datum: enrichData.enrichment_datum, enrichment: enrichData.enrichment, lead_summary: summary, original_email: enrichData.original_email, extrahierte_daten: enrichData.extrahierte_daten } });\n  } catch (e) {\n    results.push({ json: { firmenname: enrichData.firmenname, branche: enrichData.branche, score: enrichData.score, zusammenfassung: 'Parse-Fehler: ' + e.message, quellen: (enrichData.quellen_verfuegbar || []).join(', '), enrichment: enrichData.enrichment, original_email: enrichData.original_email, extrahierte_daten: enrichData.extrahierte_daten } });\n  }\n}\n\nreturn results;" }
    },
    {
      "id": "a1b2c3d4-0001-4000-a000-000000000025",
      "name": "Sheet GRÜN",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [4850, 200],
      "parameters": { "operation": "append", "documentId": { "mode": "url", "value": "PASTE_YOUR_GOOGLE_SHEET_URL_HERE" }, "sheetName": { "mode": "name", "value": "GRÜN - Aktive Leads" }, "columns": { "mappingMode": "defineBelow", "value": { "Lead-ID": "={{ $now.toMillis() }}", "Datum": "={{ $now.toFormat('yyyy-MM-dd') }}", "Firmenname": "={{ $json.firmenname }}", "Branche": "={{ $json.branche }}", "Bonität Score": "={{ $json.score }}", "Zusammenfassung": "={{ $json.zusammenfassung }}", "Kontaktperson": "={{ $json.kontaktperson }}", "Position": "={{ $json.position }}", "Email": "={{ $json.email }}", "Telefon": "={{ $json.telefon }}", "Website": "={{ $json.website }}", "LinkedIn": "={{ $json.linkedin_url }}", "Verkaufspotenzial": "={{ $json.verkaufspotenzial }}", "Empfohlene Ansprache": "={{ $json.empfohlene_ansprache }}", "Quellen": "={{ $json.quellen }}", "Status": "Neu - Bereit für BASHO" }, "matchingColumns": [], "schema": [] } },
      "credentials": { "googleSheetsOAuth2Api": { "id": "", "name": "" } },
      "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 5000
    }
  ],
  "connections": {
    "Email Trigger": { "main": [[{ "node": "GPT Geschäftskunde", "type": "main", "index": 0 }]] },
    "GPT Geschäftskunde": { "main": [[{ "node": "Parse Klassifikation", "type": "main", "index": 0 }]] },
    "Parse Klassifikation": { "main": [[{ "node": "Geschäftskunde?", "type": "main", "index": 0 }]] },
    "Geschäftskunde?": { "main": [[{ "node": "Creditsafe Auth", "type": "main", "index": 0 }], [{ "node": "Ende Privatkunde", "type": "main", "index": 0 }]] },
    "Creditsafe Auth": { "main": [[{ "node": "Creditsafe Suche", "type": "main", "index": 0 }]] },
    "Creditsafe Suche": { "main": [[{ "node": "Firma extrahieren", "type": "main", "index": 0 }]] },
    "Firma extrahieren": { "main": [[{ "node": "Creditsafe Bericht", "type": "main", "index": 0 }]] },
    "Creditsafe Bericht": { "main": [[{ "node": "GPT Ampel-Bewertung", "type": "main", "index": 0 }]] },
    "GPT Ampel-Bewertung": { "main": [[{ "node": "Parse Ampel", "type": "main", "index": 0 }]] },
    "Parse Ampel": { "main": [[{ "node": "Ampel Routing", "type": "main", "index": 0 }]] },
    "Ampel Routing": { "main": [[{ "node": "Ausgang GRÜN", "type": "main", "index": 0 }], [{ "node": "Sheet GELB", "type": "main", "index": 0 }], [{ "node": "Sheet ROT", "type": "main", "index": 0 }]] },
    "Ausgang GRÜN": { "main": [[{ "node": "Apollo Enrichment", "type": "main", "index": 0 }, { "node": "Perplexity Analyse", "type": "main", "index": 0 }, { "node": "Apify LinkedIn", "type": "main", "index": 0 }, { "node": "Tavily Suche", "type": "main", "index": 0 }]] },
    "Apollo Enrichment": { "main": [[{ "node": "Merge Enrichment", "type": "main", "index": 0 }]] },
    "Perplexity Analyse": { "main": [[{ "node": "Merge Enrichment", "type": "main", "index": 0 }]] },
    "Apify LinkedIn": { "main": [[{ "node": "Merge Enrichment", "type": "main", "index": 0 }]] },
    "Tavily Suche": { "main": [[{ "node": "Merge Enrichment", "type": "main", "index": 0 }]] },
    "Merge Enrichment": { "main": [[{ "node": "GPT Lead-Summary", "type": "main", "index": 0 }]] },
    "GPT Lead-Summary": { "main": [[{ "node": "Parse Summary", "type": "main", "index": 0 }]] },
    "Parse Summary": { "main": [[{ "node": "Sheet GRÜN", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Berlin",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}