workflows/production/seo-content-audit/SEO-Audit-Batch-Master.json
{"updatedAt":"2026-03-05T06:11:51.203Z","createdAt":"2026-03-05T06:11:51.203Z","id":"M4kV1lH3OXtjMb2X","name":"SEO Content Audit — Batch Master","description":null,"active":false,"isArchived":false,"nodes":[{"id":"manual-trigger","name":"Audit starten","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[100,300],"parameters":{}},{"id":"konfiguration","name":"Konfiguration","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[340,300],"parameters":{"mode":"manual","duplicateItem":false,"assignments":{"assignments":[{"id":"quell_sheet_id","name":"quell_sheet_id","value":"QUELL_SPREADSHEET_ID_HIER_EINTRAGEN","type":"string"},{"id":"email_empfaenger","name":"email_empfaenger","value":"email@example.com","type":"string"},{"id":"zielsprache","name":"zielsprache","value":"DE","type":"string"}]},"options":{}}},{"id":"sheets-lesen","name":"Quell-Sheet lesen","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[580,300],"parameters":{"operation":"read","documentId":{"__rl":true,"mode":"id","value":"={{ $json.quell_sheet_id }}"},"sheetName":{"__rl":true,"mode":"name","value":"URLs"},"range":"A:B","options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"gw0DIdDENFkpE7ZW","name":"Google Sheets account"}}},{"id":"loop-urls","name":"URL fuer URL verarbeiten","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[820,300],"parameters":{"batchSize":1,"options":{}}},{"id":"jina-scrape","name":"URL scrapen (Jina AI Reader)","type":"n8n-nodes-base.jinaAi","typeVersion":1,"position":[1060,200],"parameters":{"resource":"reader","operation":"read","url":"={{ $json.url }}","options":{}},"credentials":{"jinaAiApi":{"id":"JINA_AI_CREDENTIAL_ID_HIER_EINTRAGEN","name":"Jina AI account"}},"onError":"continueRegularOutput"},{"id":"content-extrahieren","name":"Content extrahieren","type":"n8n-nodes-base.code","typeVersion":2,"position":[1300,200],"parameters":{"jsCode":"const batchItem = $('URL fuer URL verarbeiten').first().json;\nconst scraped = $input.first();\nconst config = $('Konfiguration').first().json;\n\nconst url = batchItem.url || batchItem.URL || '';\nconst keyword = batchItem.keyword || batchItem.Keyword || '';\nconst email_empfaenger = config.email_empfaenger || '';\nconst zielsprache = config.zielsprache || 'DE';\n\n// Jina AI Reader (native Node): gibt Objekt mit 'content', 'text' oder 'data' zurueck\nconst s = scraped.json;\nlet original_content = s.content || s.text || s.data || s.markdown || '';\n\n// Fehler-Fallback\nif (!original_content || original_content.length < 50) {\n  original_content = `[Scraping fehlgeschlagen oder leerer Content fuer URL: ${url}]`;\n}\n\n// Auf max 15000 Zeichen begrenzen\nif (original_content.length > 15000) {\n  original_content = original_content.slice(0, 15000) + '\\n...[gekuerzt]';\n}\n\nreturn [{\n  json: {\n    url,\n    keyword,\n    original_content,\n    email_empfaenger,\n    zielsprache\n  }\n}];"}},{"id":"autopilot-starten","name":"SEO Autopilot aufrufen","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1540,200],"parameters":{"source":"database","workflowId":"kkzX4OzH4SbIjJ2x","options":{"waitForSubWorkflow":true}}},{"id":"abschluss","name":"Alle URLs verarbeitet","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1060,400],"parameters":{"mode":"manual","duplicateItem":false,"assignments":{"assignments":[{"id":"status","name":"status","value":"Alle URLs verarbeitet. Reports wurden per Email verschickt.","type":"string"},{"id":"abgeschlossen_am","name":"abgeschlossen_am","value":"={{ new Date().toISOString() }}","type":"string"}]},"options":{}}},{"id":"sticky-setup","name":"Setup-Anleitung","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-140,0],"parameters":{"content":"## SEO Content Audit — Batch Master\n\n**Setup vor dem ersten Start:**\n\n1. **Konfiguration-Node anpassen:**\n   - `quell_sheet_id`: Google Sheets ID mit den 10 URLs\n   - `email_empfaenger`: E-Mail-Adresse für Reports\n\n2. **Quell-Sheet Struktur:**\n   - Tab-Name: `URLs`\n   - Spalte A: `url` (vollständige URL inkl. https://)\n   - Spalte B: `keyword` (Hauptkeyword)\n\n3. **Autopilot Workflow ID:**\n   - Nach Deployment des Autopilot-Workflows dessen ID hier eintragen\n   - Node: 'SEO Autopilot aufrufen' → workflowId\n\n4. **Credentials prüfen:**\n   - Google Sheets OAuth2 ✓ (bereits konfiguriert)\n   - Gmail OAuth2 → im Autopilot eintragen\n   - OpenAI API → im Autopilot eintragen\n\n**Laufzeit:** ca. 15-40 Min pro URL (volle WF1-WF8 Pipeline)"}}],"connections":{"Audit starten":{"main":[[{"node":"Konfiguration","type":"main","index":0}]]},"Konfiguration":{"main":[[{"node":"Quell-Sheet lesen","type":"main","index":0}]]},"Quell-Sheet lesen":{"main":[[{"node":"URL fuer URL verarbeiten","type":"main","index":0}]]},"URL fuer URL verarbeiten":{"main":[[{"node":"Alle URLs verarbeitet","type":"main","index":0}],[{"node":"URL scrapen (Jina AI Reader)","type":"main","index":0}]]},"URL scrapen (Jina AI Reader)":{"main":[[{"node":"Content extrahieren","type":"main","index":0}]]},"Content extrahieren":{"main":[[{"node":"SEO Autopilot aufrufen","type":"main","index":0}]]},"SEO Autopilot aufrufen":{"main":[[{"node":"URL fuer URL verarbeiten","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Berlin","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"fb31ca74-c51f-408a-a21b-cd460d699ceb","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2026-03-05T06:11:51.206Z","createdAt":"2026-03-05T06:11:51.206Z","role":"workflow:owner","workflowId":"M4kV1lH3OXtjMb2X","projectId":"A3xoYVAJ1hf6LsPx","project":{"updatedAt":"2025-07-28T11:25:25.006Z","createdAt":"2025-07-28T11:25:22.410Z","id":"A3xoYVAJ1hf6LsPx","name":"Mark Niemann <mark@mo-casa.com>","type":"personal","icon":null,"description":null,"creatorId":"2d660193-6a6f-4adc-a8a9-5485fa23cfce"}}],"tags":[],"activeVersion":null}